In [83]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import os
import matplotlib.pyplot as plt

In [84]:
# Load the Dengue dataset
#Dengue = datasets.load_Dengue()
df_train =  pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Bangkok','Combined CD','train_bangkok_subdist_combined_mavg4.csv'), header=0, skiprows=0)
df_train = df_train.drop('Unnamed: 0', axis = 1)
df_test = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Bangkok','Combined CD','test_bangkok_subdist_combined_mavg4.csv'), header=0, skiprows=0)
df_test = df_test.drop('Unnamed: 0', axis = 1)
index = range(27)
df_result = pd.DataFrame(index = index,columns=['Deleted', 'Rsquared', 'RMSE', 'MAE', 'AIC'])

In [85]:
df_train.head()

,addrcode,Week,Year,DF_1,DF_0,DF_wm1,DF_wm2,DF_wm3,DF_wm4,DF_wm5,...,total_pop9s,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,100101,15,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.756393,32.601,4.961,31.184,7.796,1.417,102.764,9.922,8.505,199.15
1,100101,16,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.756393,32.601,4.961,31.184,7.796,1.417,102.764,9.922,8.505,199.15
2,100101,17,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.756393,32.601,4.961,31.184,7.796,1.417,102.764,9.922,8.505,199.15
3,100101,18,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.756393,32.601,4.961,31.184,7.796,1.417,102.764,9.922,8.505,199.15
4,100101,19,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.756393,32.601,4.961,31.184,7.796,1.417,102.764,9.922,8.505,199.15

In [86]:
columns = df_train.columns.values.tolist()
    
for i in range(27):
    df_result['Deleted'][i] = columns[12+i]
    x_train = df_train.iloc[:,range(12,39)]
    x_train = x_train.drop(x_train.columns[i], axis=1)
    y_train = df_train.iloc[:,[11]]
    x_test = df_test.iloc[:,range(12,39)]
    x_test = x_test.drop(x_test.columns[i], axis=1)
    y_test = df_test.iloc[:,[11]]

    regressor = LinearRegression()
    regressor.fit(x_train, y_train)
    y_pred = regressor.predict(x_test)
    #print('Linear Regression R squared: %.4f' % regressor.score(x_test, y_test))
    df_result['Rsquared'][i] = regressor.score(x_test, y_test)

    # calculate RMSE
    lin_mse = mean_squared_error(y_pred, y_test)
    lin_rmse = np.sqrt(lin_mse)
    #print('Linear Regression RMSE: %.4f' % lin_rmse)
    df_result['RMSE'][i] = lin_mse

    # calculate MAE
    from sklearn.metrics import mean_absolute_error
    lin_mae = mean_absolute_error(y_pred, y_test)
    #print('Linear Regression MAE: %.4f' % lin_mae)
    df_result['MAE'][i] = lin_mae

    # calculate AIC
    resid = y_test - y_pred
    sse = sum(resid.values**2)
    k = 31
    AIC= 2*k - 2*np.log(sse)
    #print('Linear Regression AIC : %.4f' % AIC)
    #print('\n')
    df_result['AIC'][i] = AIC[0]

## Subdistrict Level

In [87]:
df_result

              Deleted  Rsquared       RMSE        MAE      AIC
0              DFma_0  0.654905  0.0574213   0.158568  49.9635
1            DFma_wm1  0.847859  0.0253152  0.0991915  51.6016
2            DFma_wm2  0.846371  0.0255627  0.0996671  51.5821
3            DFma_wm3  0.820699  0.0298344   0.107773  51.2731
4            DFma_wm4  0.823541  0.0293615   0.106752   51.305
5            DFma_wm5  0.846632  0.0255193  0.0995858  51.5855
6            DFma_wm6    0.8461  0.0256079  0.0997801  51.5786
7              RF_wm6  0.845439  0.0257178   0.101228    51.57
8             LST_wm4  0.846425  0.0255537  0.0987849  51.5828
9           bin_pop9s  0.846744  0.0255007  0.0995218   51.587
10         bowl_pop9s  0.846744  0.0255007  0.0995218   51.587
11       bucket_pop9s  0.846744  0.0255007  0.0995218   51.587
12   misc_short_pop9s  0.846744  0.0255007  0.0995218   51.587
13          jar_pop9s  0.846744  0.0255007  0.0995218   51.587
14  pottedplant_pop9s  0.846744  0.0255007  0.0995218   51.587
15         tire_pop9s  0.846744  0.0255007  0.0995218   51.587
16    misc_tall_pop9s  0.846744  0.0255007  0.0995218   51.587
17        total_pop9s  0.846744  0.0255007  0.0995218   51.587
18                bin  0.846752  0.0254994  0.0995172  51.5871
19               bowl  0.846752  0.0254994  0.0995172  51.5871
20             bucket  0.846752  0.0254994  0.0995172  51.5871
21         misc_short  0.846752  0.0254994  0.0995172  51.5871
22                jar  0.846752  0.0254994  0.0995172  51.5871
23        pottedplant  0.846752  0.0254994  0.0995172  51.5871
24               tire  0.846752  0.0254994  0.0995172  51.5871
25          misc_tall  0.846752  0.0254994  0.0995172  51.5871
26              total  0.846752  0.0254994  0.0995172  51.5871

In [9]:
# Load the Dengue dataset
#Dengue = datasets.load_Dengue()
df_train =  pd.read_csv(os.path.join('Data','Modeling','Training&Testing','train_dist.csv'), header=0, skiprows=0)
#df_train = df_train.drop('Unnamed: 0', axis = 1)
df_test = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','test_dist.csv'), header=0, skiprows=0)
#df_test = df_test.drop('Unnamed: 0', axis = 1)
index = range(15)
df_result = pd.DataFrame(index = index,columns=['Deleted', 'Rsquared', 'RMSE', 'MAE', 'AIC'])

In [10]:
columns = df_train.columns.values.tolist()
    
for i in range(15):
    df_result['Deleted'][i] = columns[10+i]
    x_train = df_train.iloc[:,range(4,34)]
    x_train = x_train.drop(x_train.columns[i], axis=1)
    y_train = df_train.iloc[:,[3]]
    x_test = df_test.iloc[:,range(4,34)]
    x_test = x_test.drop(x_test.columns[i], axis=1)
    y_test = df_test.iloc[:,[3]]

    regressor = LinearRegression()
    regressor.fit(x_train, y_train)
    y_pred = regressor.predict(x_test)
    #print('Linear Regression R squared: %.4f' % regressor.score(x_test, y_test))
    df_result['Rsquared'][i] = regressor.score(x_test, y_test)

    # calculate RMSE
    lin_mse = mean_squared_error(y_pred, y_test)
    lin_rmse = np.sqrt(lin_mse)
    #print('Linear Regression RMSE: %.4f' % lin_rmse)
    df_result['RMSE'][i] = lin_mse

    # calculate MAE
    from sklearn.metrics import mean_absolute_error
    lin_mae = mean_absolute_error(y_pred, y_test)
    #print('Linear Regression MAE: %.4f' % lin_mae)
    df_result['MAE'][i] = lin_mae

    # calculate AIC
    resid = y_test - y_pred
    sse = sum(resid.values**2)
    k = 31
    AIC= 2*k - 2*np.log(sse)
    #print('Linear Regression AIC : %.4f' % AIC)
    #print('\n')
    df_result['AIC'][i] = AIC[0]

## District Level

In [11]:
df_result

    Deleted  Rsquared     RMSE      MAE      AIC
0    DF_wm1  0.264585  6.87043   1.6928  44.4968
1    DF_wm2  0.263983  6.87605  1.70002  44.4952
2    DF_wm3  0.290829  6.62524  1.69216  44.5695
3    RF_wm1  0.284445  6.68489  1.68239  44.5516
4    RF_wm2  0.294492  6.59103  1.66638  44.5798
5    RF_wm3   0.28967  6.63608  1.67602  44.5662
6    RF_wm4  0.290256   6.6306  1.67462  44.5679
7    RF_wm5  0.291248  6.62133  1.67312  44.5707
8    RF_wm6   0.29089  6.62468  1.67451  44.5696
9   LST_wm1  0.290282  6.63036  1.67502  44.5679
10  LST_wm2  0.290412  6.62914   1.6752  44.5683
11  LST_wm3  0.289918  6.63376  1.67587  44.5669
12  LST_wm4  0.290196  6.63115  1.67594  44.5677
13  LST_wm5  0.290549  6.62786  1.67512  44.5687
14  LST_wm6  0.290772  6.62578  1.67006  44.5693