# Standardized Coefficient Data

In [1]:
import pandas as pd
import os
import numpy as np

In [5]:
province = 'bangkok'

In [3]:
df_df = pd.read_csv(os.path.join('Data','Standardized Coefficient/DF_monthly.csv'), index_col = 0)
#df_df = df_df.drop(['NumberCases'],axis = 1)
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
if province == 'bangkok':
    df_df = df_df.loc[df_df['addrcode'].str[:2] == '10']
elif province == 'nst':
    df_df = df_df.loc[df_df['addrcode'].str[:2] == '80']
elif province == 'krabi':
    df_df = df_df.loc[df_df['addrcode'].str[:2] == '81']
list = ['2014','2018']
for i in range(len(list)):
    df_df = df_df[df_df.Year != list[i]]
df_dengue = df_df
if province == 'nst' or 'krabi':
    df_dengue = df_dengue.loc[df_dengue['Month'] >= 6]
    df_dengue = df_dengue.loc[df_dengue['Month'] <= 11]
elif province == 'bangkok':
    df_dengue = df_dengue.loc[df_dengue['Month'] >= 5]
    df_dengue = df_dengue.loc[df_dengue['Month'] <= 10]
df_dengue = df_dengue.groupby([df_dengue['addrcode'],df_dengue['Year']]).sum().reset_index().drop('Month', axis = 1)
df_dengue.columns = ['addrcode','Year','DF']
df_dengue['Season'] = 'True'
df_dengue.head()

  addrcode  Year  DF Season
0   100101  2015  15   True
1   100101  2016   0   True
2   100101  2017   2   True
3   100102  2015  22   True
4   100102  2016   2   True

In [4]:
## inserting RF and LST
df_lst = pd.read_csv(os.path.join('Data','Climatic Data','LST_subdist_monthly.csv'))
df_lst = df_lst.drop('Unnamed: 0', axis =1 )
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
df_lst['Year'] = df_lst['Year'].astype(str)
df_lst['Month'] = df_lst['Month'].astype(str)
df_lst_min = df_lst
df_lst_min.rename(columns={'temperature' : 'MIN_LST'}, inplace=True)
if (province2 == 'nst' or 'krabi'):
    print (1)
#     df_lst_min_combine = df_lst_min.loc[df_lst_min['Month'] >= '6']
#     df_lst_min = df_lst_min.loc[df_lst_min['Month'] <= '11']
elif province2 == 'bangkok':
    print (2)
#     df_lst_min = df_lst_min.loc[df_lst_min['Month'] >= '5']
#     df_lst_min = df_lst_min.loc[df_lst_min['Month'] <= '10']
df_lst_min

1

      addrcode  Year Month    MIN_LST
0       100101  2014     1  32.515714
1       100101  2014     2  33.612679
2       100101  2014     3  36.328429
3       100101  2014     4  37.765893
4       100101  2014     5  37.559286
5       100101  2014     6  38.579554
6       100101  2014     7  36.826696
7       100101  2014     8  35.235714
8       100101  2014     9  36.785625
9       100101  2014    10  36.574196
10      100101  2014    11  35.117250
11      100101  2014    12  32.901652
12      100101  2015     1  33.245893
13      100101  2015     2  35.105982
14      100101  2015     3  35.950446
15      100101  2015     4  38.806071
16      100101  2015     5  38.829107
17      100101  2015     6  38.118571
18      100101  2015     7  36.672902
19      100101  2015     8  37.596964
20      100101  2015     9  38.659063
21      100101  2015    10  35.715357
22      100101  2015    11  34.469643
23      100101  2015    12  33.463929
24      100101  2016     1  32.183571
25      100101  2016     2  35.692232
26      100101  2016     3  38.095804
27      100101  2016     4  37.901786
28      100101  2016     5  36.070000
29      100101  2016     6  36.628393
...        ...   ...   ...        ...
18354   810808  2015     7  28.092813
18355   810808  2015     8  28.749964
18356   810808  2015     9  29.715625
18357   810808  2015    10  27.680571
18358   810808  2015    11  27.708214
18359   810808  2015    12  27.452857
18360   810808  2016     1  29.676143
18361   810808  2016     2  32.205893
18362   810808  2016     3  33.286161
18363   810808  2016     4  30.976500
18364   810808  2016     5  28.747857
18365   810808  2016     6  29.173214
18366   810808  2016     7  28.032857
18367   810808  2016     8  27.794554
18368   810808  2016     9  27.840089
18369   810808  2016    10  27.836107
18370   810808  2016    11  25.473527
18371   810808  2016    12  26.475804
18372   810808  2017     1  26.324000
18373   810808  2017     2  28.884643
18374   810808  2017     3  28.343304
18375   810808  2017     4  28.988036
18376   810808  2017     5  27.653214
18377   810808  2017     6  28.266429
18378   810808  2017     7  28.119607
18379   810808  2017     8  29.388393
18380   810808  2017     9  28.520429
18381   810808  2017    10  26.721250
18382   810808  2017    11  28.165536
18383   810808  2017    12  26.466071

[18384 rows x 4 columns]

In [ ]:
# df_lst = pd.read_csv(os.path.join('Data','Climatic Data','LST_subdist_monthly.csv'))
# df_lst = df_lst.drop('Unnamed: 0', axis =1 )
# df_lst['addrcode'] = df_lst['addrcode'].astype(str)
# df_lst['Year'] = df_lst['Year'].astype(str)
# df_lst['Month'] = df_lst['Month'].astype(str)
# df_lst_max = df_lst
# df_lst_max.rename(columns={'temperature' : 'MAX_LST'}, inplace=True)
# df_lst_max['addrcode'] = df_lst_max['addrcode'].astype(str)
# df_lst_max['Year'] = df_lst_max['Year'].astype(str)
# df_lst_max['Month'] = df_lst_max['Month'].astype(str)
# if province == 'nst' or 'krabi':
#     df_lst_max_lower = df_lst_max.loc[df_lst_max['Month'] < '6']
#     df_lst_max_upper = df_lst_max.loc[df_lst_max['Month'] > '11']
# elif province == 'bangkok':
#     df_lst_max_lower = df_lst_max.loc[df_lst_max['Month'] < '5']
#     df_lst_max_upper = df_lst_max.loc[df_lst_max['Month'] > '10']
# df_lst_max = pd.concat([df_lst_max_lower, df_lst_max_upper], ignore_index = True)
# df_lst_max = df_lst_max.groupby([df_lst_max['addrcode'],df_lst_max['Year']]).min().reset_index()
# df_lst_max = df_lst_max.drop('Month', axis = 1)

# df_lst = pd.read_csv(os.path.join('Data','Climatic Data','LST_subdist_monthly.csv'))
# df_lst = df_lst.drop('Unnamed: 0', axis =1 )
# df_lst['addrcode'] = df_lst['addrcode'].astype(str)
# df_lst['Year'] = df_lst['Year'].astype(str)
# df_lst['Month'] = df_lst['Month'].astype(str)
# df_lst_year = df_lst
# df_lst_year.rename(columns={'temperature' : 'AVG_LST'}, inplace=True)
# df_lst_year['addrcode'] = df_lst_year['addrcode'].astype(str)
# df_lst_year['Year'] = df_lst_year['Year'].astype(str)
# df_lst_year['Month'] = df_lst_year['Month'].astype(str)
# if province == 'nst' or 'krabi':
#     df_lst_year_lower = df_lst_year.loc[df_lst_year['Month'] < '6']
#     df_lst_year_upper = df_lst_year.loc[df_lst_year['Month'] > '11']
# elif province == 'bangkok':
#     df_lst_year_lower = df_lst_year.loc[df_lst_year['Month'] < '5']
#     df_lst_year_upper = df_lst_year.loc[df_lst_year['Month'] > '10']
# df_lst_year = pd.concat([df_lst_year_lower, df_lst_year_upper], ignore_index = True)
# df_lst_year = df_lst_year.groupby([df_lst_year['addrcode'],df_lst_year['Year']]).mean().reset_index()

# df_non_dengue = pd.merge(df_non_dengue, df_lst_min, how ='inner')
# df_non_dengue = pd.merge(df_non_dengue, df_lst_max, how ='inner')
# df_non_dengue = pd.merge(df_non_dengue, df_lst_year, how ='inner')
# df_non_dengue.head()

In [ ]:
df_df = pd.read_csv(os.path.join('Data','Standardized Coefficient/DF_monthly.csv'), index_col = 0)
#df_df = df_df.drop(['NumberCases'],axis = 1)
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
if province == 'bangkok':
    df_df = df_df.loc[df_df['addrcode'].str[:2] == '10']
elif province == 'nst':
    df_df = df_df.loc[df_df['addrcode'].str[:2] == '80']
elif province == 'krabi':
    df_df = df_df.loc[df_df['addrcode'].str[:2] == '81']
list = ['2014','2018']
for i in range(len(list)):
    df_df = df_df[df_df.Year != list[i]]
df_non_dengue = df_df
if province == 'nst' or 'krabi':
    df_non_dengue_lower = df_non_dengue.loc[df_non_dengue['Month'] < 6]
    df_non_dengue_upper = df_non_dengue.loc[df_non_dengue['Month'] > 11]
elif province == 'bangkok':
    df_non_dengue_lower = df_non_dengue.loc[df_non_dengue['Month'] < 5]
    df_non_dengue_upper = df_non_dengue.loc[df_non_dengue['Month'] > 10]
df_non_dengue = pd.concat([df_non_dengue_lower, df_non_dengue_upper], ignore_index = True)
df_non_dengue = df_non_dengue.groupby([df_non_dengue['addrcode'],df_non_dengue['Year']]).sum().reset_index().drop('Month', axis = 1)
df_non_dengue.columns = ['addrcode','Year','DF']
df_non_dengue['Season'] = 'False'
df_non_dengue.head()

In [ ]:
## inserting RF and LST
df_lst = pd.read_csv(os.path.join('Data','Climatic Data','LST_subdist_monthly.csv'))
df_lst = df_lst.drop('Unnamed: 0', axis =1 )
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
df_lst['Year'] = df_lst['Year'].astype(str)
df_lst['Month'] = df_lst['Month'].astype(str)
df_lst_min = df_lst
df_lst_min.rename(columns={'temperature' : 'MIN_LST'}, inplace=True)
df_lst_min['addrcode'] = df_lst_min['addrcode'].astype(str)
df_lst_min['Year'] = df_lst_min['Year'].astype(str)
df_lst_min['Month'] = df_lst_min['Month'].astype(str)
if province == 'nst' or 'krabi':
    df_lst_min_lower = df_lst_min.loc[df_lst_min['Month'] < '6']
    df_lst_min_upper = df_lst_min.loc[df_lst_min['Month'] > '11']
elif province == 'bangkok':
    df_lst_min_lower = df_lst_min.loc[df_lst_min['Month'] < '5']
    df_lst_min_upper = df_lst_min.loc[df_lst_min['Month'] > '10']
df_lst_min_combine = pd.concat([df_lst_min_lower, df_lst_min_upper], ignore_index = True)
df_lst_min_combine
# df_lst_min = df_lst_min.groupby([df_lst_min['addrcode'],df_lst_min['Year']]).min().reset_index()
# df_lst_min = df_lst_min.drop('Month', axis = 1)

# df_lst = pd.read_csv(os.path.join('Data','Climatic Data','LST_subdist_monthly.csv'))
# df_lst = df_lst.drop('Unnamed: 0', axis =1 )
# df_lst['addrcode'] = df_lst['addrcode'].astype(str)
# df_lst['Year'] = df_lst['Year'].astype(str)
# df_lst['Month'] = df_lst['Month'].astype(str)
# df_lst_max = df_lst
# df_lst_max.rename(columns={'temperature' : 'MAX_LST'}, inplace=True)
# df_lst_max['addrcode'] = df_lst_max['addrcode'].astype(str)
# df_lst_max['Year'] = df_lst_max['Year'].astype(str)
# df_lst_max['Month'] = df_lst_max['Month'].astype(str)
# if province == 'nst' or 'krabi':
#     df_lst_max_lower = df_lst_max.loc[df_lst_max['Month'] < '6']
#     df_lst_max_upper = df_lst_max.loc[df_lst_max['Month'] > '11']
# elif province == 'bangkok':
#     df_lst_max_lower = df_lst_max.loc[df_lst_max['Month'] < '5']
#     df_lst_max_upper = df_lst_max.loc[df_lst_max['Month'] > '10']
# df_lst_max = pd.concat([df_lst_max_lower, df_lst_max_upper], ignore_index = True)
# df_lst_max = df_lst_max.groupby([df_lst_max['addrcode'],df_lst_max['Year']]).min().reset_index()
# df_lst_max = df_lst_max.drop('Month', axis = 1)

# df_lst = pd.read_csv(os.path.join('Data','Climatic Data','LST_subdist_monthly.csv'))
# df_lst = df_lst.drop('Unnamed: 0', axis =1 )
# df_lst['addrcode'] = df_lst['addrcode'].astype(str)
# df_lst['Year'] = df_lst['Year'].astype(str)
# df_lst['Month'] = df_lst['Month'].astype(str)
# df_lst_year = df_lst
# df_lst_year.rename(columns={'temperature' : 'AVG_LST'}, inplace=True)
# df_lst_year['addrcode'] = df_lst_year['addrcode'].astype(str)
# df_lst_year['Year'] = df_lst_year['Year'].astype(str)
# df_lst_year['Month'] = df_lst_year['Month'].astype(str)
# if province == 'nst' or 'krabi':
#     df_lst_year_lower = df_lst_year.loc[df_lst_year['Month'] < '6']
#     df_lst_year_upper = df_lst_year.loc[df_lst_year['Month'] > '11']
# elif province == 'bangkok':
#     df_lst_year_lower = df_lst_year.loc[df_lst_year['Month'] < '5']
#     df_lst_year_upper = df_lst_year.loc[df_lst_year['Month'] > '10']
# df_lst_year = pd.concat([df_lst_year_lower, df_lst_year_upper], ignore_index = True)
# df_lst_year = df_lst_year.groupby([df_lst_year['addrcode'],df_lst_year['Year']]).mean().reset_index()

# df_non_dengue = pd.merge(df_non_dengue, df_lst_min, how ='inner')
# df_non_dengue = pd.merge(df_non_dengue, df_lst_max, how ='inner')
# df_non_dengue = pd.merge(df_non_dengue, df_lst_year, how ='inner')
# df_non_dengue.head()

In [ ]:
df_df = pd.concat([df_dengue, df_non_dengue], ignore_index = True)
df_df = df_df.sort_values(['addrcode','Year']).reset_index().drop('index', axis = 1)
df_df.head()

In [ ]:
# df_df = pd.read_csv(os.path.join('Data','Standardized Coefficient/DF_monthly.csv'), index_col = 0)
# #df_df = df_df.drop(['NumberCases'],axis = 1)
# df_df['addrcode'] = df_df['addrcode'].astype(str)
# df_df['Year'] = df_df['Year'].astype(str)
# df_df['Month'] = df_df['Month'].astype(str)
# if province == 'bangkok':
#     df_df = df_df.loc[df_df['addrcode'].str[:2] == '10']
# elif province == 'nst':
#     df_df = df_df.loc[df_df['addrcode'].str[:2] == '80']
# elif province == 'krabi':
#     df_df = df_df.loc[df_df['addrcode'].str[:2] == '81']
# list = ['2014','2018']
# for i in range(len(list)):
#     df_df = df_df[df_df.Year != list[i]]
# df_df = df_df.groupby([df_df['addrcode'],df_df['Year']]).sum().reset_index()
# df_df.head()

In [ ]:
# df_df = pd.merge(df_df, df_dengue, how = 'inner')
# df_df = pd.merge(df_df, df_non_dengue, how = 'inner')
# df_df.head()

In [ ]:
df_pop = pd.read_csv(os.path.join('Data','Population/addrcode-index/Population.csv'))
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.columns = ['addrcode','Population']
df_pop.head()

In [ ]:
df_df = pd.merge(df_df, df_pop, how = 'inner')
df_df['DF'] = df_df['DF']/ (df_df['Population']/10000)
# df_df['DF_D'] = df_df['DF_D']/ (df_df['Population']/10000)
# df_df['DF_ND'] = df_df['DF_ND']/ (df_df['Population']/10000)
#df_df = df_df.drop('Total', axis =1)
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
#df_df = df_df.groupby(df_df['addrcode']).mean().reset_index()
#df_df['Cases'] = np.log(df_df['Cases'] + 1)
df_df.head()

In [ ]:
## inserting RF and LST
df_lst = pd.read_csv(os.path.join('Data','Climatic Data','LST_subdist_monthly.csv'))
df_lst = df_lst.drop('Unnamed: 0', axis =1 )
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
df_lst['Year'] = df_lst['Year'].astype(str)
df_lst['Month'] = df_lst['Month'].astype(str)
df_lst.head()

In [ ]:
df_lst_min = df_lst.groupby([df_lst['addrcode'], df_lst['Year']]).min().reset_index(drop = True)
df_lst_min = df_lst_min.drop('Month', axis = 1)
df_lst_min.rename(columns={'temperature' : 'MIN_LST'}, inplace=True)
df_lst_min.head()

In [ ]:
df_lst_max = df_lst.groupby([df_lst['addrcode'],df_lst['Year']]).max().reset_index()
df_lst_max = df_lst_max.drop('Month', axis = 1)
df_lst_max.rename(columns={'temperature' : 'MAX_LST'}, inplace=True)
df_lst_max.head()

In [ ]:
df_lst_yearly = pd.read_csv(os.path.join('Data','Climatic Data','LST_subdist_yearly.csv'), index_col = 0)
df_lst_yearly['addrcode'] = df_lst_yearly['addrcode'].astype(str)
df_lst_yearly['Year'] = df_lst_yearly['Year'].astype(str)
df_lst_yearly.rename(columns={'temperature' : 'AVG_LST'}, inplace=True)
df_lst_yearly.head()

In [ ]:
df_df = pd.merge(df_df, df_lst_min, how ='inner')
df_df = pd.merge(df_df, df_lst_max, how ='inner')
df_df = pd.merge(df_df, df_lst_yearly, how ='inner')
df_df.head()

In [ ]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_subdist_yearly.csv'), index_col = 0)
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain['Year'] = df_rain['Year'].astype(str)
#df_rain['Month'] = df_rain['Month'].astype(str)
df_rain.head()

In [ ]:
df_df = pd.merge(df_df, df_rain, how = 'inner')
df_df.head()

In [ ]:
df_cd = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','CD_'+province+'_subdist_pop.csv'),index_col = 0)
df_cd['addrcode'] = df_cd['addrcode'].astype(str)
df_cd.head()

In [ ]:
df_std_co = pd.merge(df_df, df_cd, how = 'inner')
#df_std_co.columns = ['addrcode','Year','Month','normalized_cases','temperature','rainfall','Bin','Bowl','Bucket','Misc_Short','Jar','Pottedplant','Tire','Misc_Tall','Total']
#df_std_co.columns = ['addrcode','Year','Month','Cases','Bin','Bowl','Bucket','Misc_Short','Jar','Pottedplant','Tire','Misc_Tall','Total']
df_std_co.columns = ['addrcode','Year','DF','Season','Population','MIN_LST','MAX_LST','AVG_LST','rainfall','Bin','Bowl','Bucket','Misc_Short','Jar','Pottedplant','Tire','Misc_Tall','Total']
#df_std_co.columns = ['addrcode','Year','Cases','MIN_LST','MAX_LST','AVG_LST','rainfall','Bin','Bowl','Bucket','Misc_Short','Jar','Pottedplant','Tire','Misc_Tall','Total']
#df_std_co.columns = ['addrcode','Cases','Bin','Bowl','Bucket','Misc_Short','Jar','Pottedplant','Tire','Misc_Tall','Total']
df_std_co.head()

In [ ]:
df_code = pd.read_csv(os.path.join('Data','Area and GSV','available_newcode_subdistrict.csv'), index_col = 0)
df_code['addrcode'] = df_code['addrcode'].astype(str)
df_code.head()

In [ ]:
df_std_co = pd.merge(df_std_co, df_code, how ='inner')
df_std_co.head()

In [ ]:
df_std_co = df_std_co.drop('addrcode', axis = 1)
df_std_co = df_std_co[['code','Year','DF','Season','Population','MIN_LST','MAX_LST','AVG_LST','rainfall','Bin','Bowl','Bucket','Misc_Short','Jar','Pottedplant','Tire','Misc_Tall','Total']]

In [ ]:
df_std_co.head()

In [ ]:
# df_std_co.to_csv('Data/Standardized Coefficient/DF3Years_'+ province +'.csv', encoding = 'utf-8')

In [ ]:
# #df_std_co['temperature'] = ((df_std_co['temperature'] - np.mean(df_std_co['temperature']))/ np.std(df_std_co['temperature'])).abs()
# #df_std_co['rainfall'] = ((df_std_co['rainfall'] - np.mean(df_std_co['rainfall']))/ np.std(df_std_co['rainfall'])).abs()
# #df_std_co['Cases'] = ((df_std_co['Cases'] - np.mean(df_std_co['Cases']))/ np.std(df_std_co['Cases'])).abs()
# df_std_co['Bin'] = ((df_std_co['Bin'] - np.mean(df_std_co['Bin']))/ np.std(df_std_co['Bin'])).abs()
# df_std_co['Bowl'] = ((df_std_co['Bowl'] - np.mean(df_std_co['Bowl']))/ np.std(df_std_co['Bowl'])).abs()
# df_std_co['Bucket'] = ((df_std_co['Bucket'] - np.mean(df_std_co['Bucket']))/ np.std(df_std_co['Bucket'])).abs()
# df_std_co['Misc_Short'] = ((df_std_co['Misc_Short'] - np.mean(df_std_co['Misc_Short']))/ np.std(df_std_co['Misc_Short'])).abs()
# df_std_co['Jar'] = ((df_std_co['Jar'] - np.mean(df_std_co['Jar']))/ np.std(df_std_co['Jar'])).abs()
# df_std_co['Pottedplant'] = ((df_std_co['Pottedplant'] - np.mean(df_std_co['Pottedplant']))/ np.std(df_std_co['Pottedplant'])).abs()
# df_std_co['Tire'] = ((df_std_co['Tire'] - np.mean(df_std_co['Tire']))/ np.std(df_std_co['Tire'])).abs()
# df_std_co['Misc_Tall'] = ((df_std_co['Misc_Tall'] - np.mean(df_std_co['Misc_Tall']))/ np.std(df_std_co['Misc_Tall'])).abs()
# df_std_co['Total'] = ((df_std_co['Total'] - np.mean(df_std_co['Total']))/ np.std(df_std_co['Total'])).abs()
# df_std_co.head()

In [ ]:
df_std_co['Population'] = ((df_std_co['Population'])/ np.std(df_std_co['Population'])).abs()
# df_std_co['Bin'] = ((df_std_co['Bin'])/ np.std(df_std_co['Bin'])).abs()
# df_std_co['Bowl'] = ((df_std_co['Bowl'])/ np.std(df_std_co['Bowl'])).abs()
# df_std_co['Bucket'] = ((df_std_co['Bucket'])/ np.std(df_std_co['Bucket'])).abs()
# df_std_co['Misc_Short'] = ((df_std_co['Misc_Short'])/ np.std(df_std_co['Misc_Short'])).abs()
# df_std_co['Jar'] = ((df_std_co['Jar'])/ np.std(df_std_co['Jar'])).abs()
# df_std_co['Pottedplant'] = ((df_std_co['Pottedplant'])/ np.std(df_std_co['Pottedplant'])).abs()
# df_std_co['Tire'] = ((df_std_co['Tire'])/ np.std(df_std_co['Tire'])).abs()
# df_std_co['Misc_Tall'] = ((df_std_co['Misc_Tall'])/ np.std(df_std_co['Misc_Tall'])).abs()
# df_std_co['Total'] = ((df_std_co['Total'])/ np.std(df_std_co['Total'])).abs()
df_std_co.head()

In [ ]:
df_std_co.to_csv('Data/Standardized Coefficient/DF3Years_'+ province+'_CD_POP_Season_Met.csv', encoding = 'utf-8')