In [2]:
import pandas as pd
import os

## Training & Testing Data

## Subdistrict

### 2014-2016 [Training]

In [330]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '81']
df_lst_2014 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_Krabi_2014.csv'))
df_lst_2014 = df_lst_2014.drop('Unnamed: 0', axis =1 )
df_lst_2014['addrcode'] = df_lst_2014['addrcode'].astype(str)
df_lst_2014['Year'] = df_lst_2014['Year'].astype(str)
df_lst_2015 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_Krabi_2015.csv'))
df_lst_2015 = df_lst_2015.drop('Unnamed: 0', axis =1 )
df_lst_2015['addrcode'] = df_lst_2015['addrcode'].astype(str)
df_lst_2015['Year'] = df_lst_2015['Year'].astype(str)
df_lst_2016 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_Krabi_2016.csv'))
df_lst_2016 = df_lst_2016.drop('Unnamed: 0', axis =1 )
df_lst_2016['addrcode'] = df_lst_2016['addrcode'].astype(str)
df_lst_2016['Year'] = df_lst_2016['Year'].astype(str)
df_df10000pop = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','Subdistrict','DF_10000Population_details.csv'))
df_df10000pop['addrcode'] = df_df10000pop['addrcode'].astype(str)
df_df10000pop = df_df10000pop.loc[df_df10000pop['addrcode'].str[:2] == '81']

In [331]:
df_rain = df_rain.loc[df_rain['Year'] < 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
len(df_rain)

7003

In [332]:
df_lst_2014 = df_lst_2014.loc[df_lst_2014['Week'] > 8]
df_lst_2014.head()

    Week  Year addrcode  temperature
47    10  2014   810103    33.473214
48    10  2014   810105    32.258571
49    10  2014   810106    31.671071
50    10  2014   810111    32.421429
51    10  2014   810115    32.063571

In [333]:
frame = [df_lst_2014, df_lst_2015, df_lst_2016]
df_lst = pd.concat(frame)
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
len(df_lst)

7003

In [334]:
df_rain_lst = pd.merge(df_rain,df_lst, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2015   810103      0.00      26.6850
1     1  2015   810105      0.01      27.2225
2     1  2015   810106      0.00      27.2400
3     1  2015   810111      0.00      27.0425
4     1  2015   810115      0.00      26.8550

In [335]:
df_df = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','Subdistrict','DF_10000Population_details.csv'))
df_df = df_df.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_df.columns = ['addrcode','Year','Week','DFp10000Pop']
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
df_df.head()

  addrcode  Year  Week  DFp10000Pop
0   100101  2014     1          0.0
1   100101  2014     2          0.0
2   100101  2014     3          0.0
3   100101  2014     4          0.0
4   100101  2014     5          0.0

In [336]:
df_rain_lst_df = pd.merge(df_rain_lst, df_df, how = 'inner', on = ['Year','Week','addrcode'])
df_rain_lst_df = df_rain_lst_df[['addrcode','Week','Year','rainfall','temperature','DFp10000Pop']]
df_rain_lst_df = df_rain_lst_df.sort_values(['Year','addrcode']).reset_index().drop('index', axis =1)
df_rain_lst_df.head()

  addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0   810103     9  2014       0.0    33.304464     0.000000
1   810103    10  2014       0.0    33.473214     0.000000
2   810103    11  2014       0.0    33.581964     0.000000
3   810103    12  2014       0.0    33.128214     0.589449
4   810103    13  2014       0.2    31.886250     0.000000

In [337]:
df_rain_lst_df.to_csv('Data/Modeling/Training&Testing/Krabi/Original/train_krabi_subdist_original.csv', encoding = 'utf-8')

In [ ]:
##  Not Done ##

In [ ]:
df_train_lag = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','train_original.csv'))
df_train_lag = df_train_lag.drop('Unnamed: 0', axis = 1)
df_train_lag['WeekYear'] = df_train_lag[['Week','Year']].astype(str).sum(axis=1)
df_train_lag['WeekYear'] = df_train_lag['WeekYear'].astype(str).str[:-2]
df_train_lag.head()

In [ ]:
list = ['92014','102014','112014','122014','132014','142014','472016','482016','492016','502016','512016','522016']

for i in range(len(list)):
     df_train_lag = df_train_lag[df_train_lag.WeekYear != list[i]]

In [ ]:
df_train_lag = df_train_lag.reset_index()
df_train_lag = df_train_lag.drop(['index','WeekYear'], axis = 1)
df_train_lag.head()

In [ ]:
df_train_lag.to_csv('Data/Modeling/Training&Testing/train_subdist.csv', encoding ='utf-8')

## District Level

In [204]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '80']
df_lst_2014 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2014.csv'))
df_lst_2014 = df_lst_2014.drop('Unnamed: 0', axis =1 )
df_lst_2014['addrcode'] = df_lst_2014['addrcode'].astype(str)
df_lst_2014['Year'] = df_lst_2014['Year'].astype(str)
df_lst_2015 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2015.csv'))
df_lst_2015 = df_lst_2015.drop('Unnamed: 0', axis =1 )
df_lst_2015['addrcode'] = df_lst_2015['addrcode'].astype(str)
df_lst_2015['Year'] = df_lst_2015['Year'].astype(str)
df_lst_2016 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2016.csv'))
df_lst_2016 = df_lst_2016.drop('Unnamed: 0', axis =1 )
df_lst_2016['addrcode'] = df_lst_2016['addrcode'].astype(str)
df_lst_2016['Year'] = df_lst_2016['Year'].astype(str)
df_df10000pop_dist = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','District','DF_10000Population_dist_details.csv'))
df_df10000pop_dist = df_df10000pop_dist.drop('Unnamed: 0', axis = 1)

In [205]:
df_rain = df_rain.loc[df_rain['Year'] < 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
df_lst_2014 = df_lst_2014.loc[df_lst_2014['Week'] > 8]
frame = [df_lst_2014, df_lst_2015, df_lst_2016]
df_lst = pd.concat(frame)
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
df_rain_lst = pd.merge(df_rain,df_lst, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst['addrcode'] = df_rain_lst['addrcode'].astype(str)
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2015   800101       0.0      26.8175
1     1  2015   800102       0.0      26.1575
2     1  2015   800103       0.0      26.1575
3     1  2015   800106       0.0      27.2800
4     1  2015   800107       0.0      26.6400

In [206]:
aggregation_function = {'rainfall' : 'sum', 'temperature' : 'sum'}
df_rain_lst_dist = df_rain_lst.groupby([df_rain_lst['addrcode'].str[:4],df_rain_lst['Week'],df_rain_lst['Year']]).aggregate(aggregation_function).reset_index()
df_rain_lst_dist['addrcode'] = df_rain_lst_dist['addrcode'].astype(str)
df_rain_lst_dist['Week'] = df_rain_lst_dist['Week'].astype(str)
df_rain_lst_dist['Year'] = df_rain_lst_dist['Year'].astype(str)
df_rain_lst_dist.head()

  addrcode Week  Year  rainfall  temperature
0     8001    1  2015      0.00   422.607500
1     8001    1  2016   9085.03   465.055000
2     8001    2  2015   1287.09   427.740357
3     8001    2  2016   2662.76   457.215000
4     8001    3  2015    134.50   440.606429

In [207]:
df_df10000pop_dist = df_df10000pop_dist.drop(['NumberCases','population'], axis =1)
df_df10000pop_dist.columns = ['addrcode','Year','Week','DFp10000Pop']
df_df10000pop_dist['addrcode'] = df_df10000pop_dist['addrcode'].astype(str)
df_df10000pop_dist['Week'] = df_df10000pop_dist['Week'].astype(str)
df_df10000pop_dist['Year'] = df_df10000pop_dist['Year'].astype(str)
df_df10000pop_dist = df_df10000pop_dist[['addrcode','Week','Year','DFp10000Pop']]
df_df10000pop_dist.head()

  addrcode Week  Year  DFp10000Pop
0     1001    1  2014     0.000000
1     1001    2  2014     0.197208
2     1001    3  2014     0.000000
3     1001    4  2014     0.000000
4     1001    5  2014     0.394415

In [208]:
df_rain_lst_df_dist = pd.merge(df_rain_lst_dist, df_df10000pop_dist, how = 'inner', on = ['addrcode','Week','Year'])
df_rain_lst_df_dist = df_rain_lst_df_dist.sort_values(['Year','addrcode']).reset_index()
df_rain_lst_df_dist = df_rain_lst_df_dist.drop('index', axis = 1)
df_rain_lst_df_dist.to_csv('Data/Modeling/Training&Testing/Nakhon/train_nst_dist_original.csv', encoding = 'utf-8')

## 2017 [Testing]

### Subdistrict

In [338]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '81']
df_lst_2017 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_Krabi_2017.csv'))
df_lst_2017 = df_lst_2017.drop('Unnamed: 0', axis =1 )
df_lst_2017['addrcode'] = df_lst_2017['addrcode'].astype(str)
df_lst_2017['Year'] = df_lst_2017['Year'].astype(str)
df_df10000pop = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','Subdistrict','DF_10000Population_details.csv'))
df_df10000pop['addrcode'] = df_df10000pop['addrcode'].astype(str)
df_df10000pop = df_df10000pop.loc[df_df10000pop['addrcode'].str[:2] == '81']

In [339]:
df_rain = df_rain.loc[df_rain['Year'] == 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
len(df_rain)

2444

In [340]:
df_rain_lst = pd.merge(df_rain,df_lst_2017, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2017   810103     17.05       25.985
1     1  2017   810105     14.09       26.055
2     1  2017   810106     19.14       24.125
3     1  2017   810111     25.00       25.885
4     1  2017   810115     19.62       25.275

In [341]:
df_df = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','Subdistrict','DF_10000Population_details.csv'))
df_df = df_df.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_df.columns = ['addrcode','Year','Week','DFp10000Pop']
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
df_df.head()

  addrcode  Year  Week  DFp10000Pop
0   100101  2014     1          0.0
1   100101  2014     2          0.0
2   100101  2014     3          0.0
3   100101  2014     4          0.0
4   100101  2014     5          0.0

In [342]:
df_rain_lst_df = pd.merge(df_rain_lst, df_df, how = 'inner', on = ['Year','Week','addrcode'])
df_rain_lst_df = df_rain_lst_df[['addrcode','Week','Year','rainfall','temperature','DFp10000Pop']]
df_rain_lst_df = df_rain_lst_df.sort_values(['Year','addrcode']).reset_index().drop('index', axis =1)
df_rain_lst_df.head()

  addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0   810103     1  2017     17.05    25.985000          0.0
1   810103     2  2017     54.17    25.210000          0.0
2   810103     3  2017     40.45    25.635536          0.0
3   810103     4  2017    107.45    26.904821          0.0
4   810103     5  2017     10.65    27.385357          0.0

In [343]:
df_rain_lst_df.to_csv('Data/Modeling/Training&Testing/Krabi/Original/test_krabi_subdist_original.csv', encoding = 'utf-8')

In [ ]:
## Not Done ##

In [ ]:
df_test_lag = pd.read_csv(os.path.join('Data','Modeling','training&Testing','test_original.csv'))
df_test_lag = df_test_lag.drop('Unnamed: 0', axis = 1)
df_test_lag['WeekYear'] = df_test_lag[['Week','Year']].astype(str).sum(axis=1)
df_test_lag['WeekYear'] = df_test_lag['WeekYear'].astype(str).str[:-2]
df_test_lag.head()

In [ ]:
list = ['12017','22017','32017','42017','52017','62017','472017','482017','492017','502017','512017','522017']

for i in range(len(list)):
     df_test_lag = df_test_lag[df_test_lag.WeekYear != list[i]]

In [ ]:
df_test_lag = df_test_lag.reset_index()
df_test_lag = df_test_lag.drop(['index','WeekYear'], axis = 1)
df_test_lag.head()

In [ ]:
df_test_lag.to_csv('Data/Modeling/Training&Testing/test_subdist.csv', encoding ='utf-8')

## District

In [99]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '81']
df_lst = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_Krabi_2017.csv'))
df_lst = df_lst.drop('Unnamed: 0', axis =1 )
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
df_lst['Year'] = df_lst['Year'].astype(str)
df_df10000pop_dist = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','District','DF_10000Population_dist_details.csv'))
df_df10000pop_dist = df_df10000pop_dist.drop('Unnamed: 0', axis = 1)

In [100]:
df_rain = df_rain.loc[df_rain['Year'] == 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
df_rain_lst = pd.merge(df_rain,df_lst, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst['addrcode'] = df_rain_lst['addrcode'].astype(str)
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2017   810103     17.05       25.985
1     1  2017   810105     14.09       26.055
2     1  2017   810106     19.14       24.125
3     1  2017   810111     25.00       25.885
4     1  2017   810115     19.62       25.275

In [101]:
aggregation_function = {'rainfall' : 'sum', 'temperature' : 'sum'}
df_rain_lst_dist = df_rain_lst.groupby([df_rain_lst['addrcode'].str[:4],df_rain_lst['Week'],df_rain_lst['Year']]).aggregate(aggregation_function).reset_index()
df_rain_lst_dist['addrcode'] = df_rain_lst_dist['addrcode'].astype(str)
df_rain_lst_dist['Week'] = df_rain_lst_dist['Week'].astype(str)
df_rain_lst_dist['Year'] = df_rain_lst_dist['Year'].astype(str)
df_rain_lst_dist.head()

  addrcode Week  Year  rainfall  temperature
0     8101    1  2017    147.39   204.600000
1     8101    2  2017    500.54   204.205000
2     8101    3  2017    299.48   206.910179
3     8101    4  2017    924.36   212.708750
4     8101    5  2017    171.88   216.942143

In [102]:
df_df10000pop_dist = df_df10000pop_dist.drop(['NumberCases','population'], axis =1)
df_df10000pop_dist.columns = ['addrcode','Year','Week','DFp10000Pop']
df_df10000pop_dist['addrcode'] = df_df10000pop_dist['addrcode'].astype(str)
df_df10000pop_dist['Week'] = df_df10000pop_dist['Week'].astype(str)
df_df10000pop_dist['Year'] = df_df10000pop_dist['Year'].astype(str)
df_df10000pop_dist = df_df10000pop_dist[['addrcode','Week','Year','DFp10000Pop']]
df_df10000pop_dist.head()

  addrcode Week  Year  DFp10000Pop
0     1001    1  2014     0.000000
1     1001    2  2014     0.197208
2     1001    3  2014     0.000000
3     1001    4  2014     0.000000
4     1001    5  2014     0.394415

In [104]:
df_rain_lst_df_dist = pd.merge(df_rain_lst_dist, df_df10000pop_dist, how = 'inner', on = ['addrcode','Week','Year'])
df_rain_lst_df_dist = df_rain_lst_df_dist.sort_values(['Year','addrcode']).reset_index()
df_rain_lst_df_dist = df_rain_lst_df_dist.drop('index', axis = 1)
df_rain_lst_df_dist.to_csv('Data/Modeling/Training&Testing/Krabi/test_krabi_dist_original.csv', encoding = 'utf-8')

## Adjusted Container Density

## Subdistrict

In [344]:
df_area_pop = pd.read_csv(os.path.join('Data','Correlation','area_pop_krabi.csv'), encoding = 'utf-8')
df_area_pop = df_area_pop.drop('Unnamed: 0', axis = 1)
df_area_pop = df_area_pop.iloc[:,[0,12,13,14,15,16,17,18,19]]
df_area_pop['addrcode'] = df_area_pop['addrcode'].astype(str)
df_area_pop.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s
0,810103,191.20,77.30,117.50,250.90,278.30,271.40,336.40,168.70
1,810105,45.64,21.60,32.20,62.32,73.68,63.92,79.44,39.68
2,810106,29.36,13.28,23.24,42.92,44.44,41.60,47.88,24.28
3,810111,19.08,7.46,13.80,29.10,31.68,35.18,40.34,19.08
4,810115,112.07,48.65,81.97,158.34,148.68,153.09,183.68,72.73

In [345]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_krabi.csv'))
df_area = df_area.drop(['Unnamed: 0','image_coverage'], axis = 1)
df_area['addrcode'] = df_area['addrcode'].astype(str)
df_area['image/area'] = df_area['image_area']/ df_area['land_area']
df_area['image/area'].loc[df_area['image/area'] > 1 ] = 1
df_area['image/area'] = df_area['image/area'].round(2)
df_area.head()

  addrcode  land_area  image_area  image/area
0   810103    1447.73      140.72        0.10
1   810105    1081.72       40.58        0.04
2   810106    1671.57       61.19        0.04
3   810111    1397.45       33.80        0.02
4   810115     648.91       46.44        0.07

In [346]:
df_pop_total = pd.read_csv(os.path.join('Data','Population','addrcode-index','Krabi-population.csv'))
df_pop_total['addrcode'] = df_pop_total['addrcode'].astype(str).str[:6]
df_pop_total.head()

  addrcode  Total
0   810101  19364
1   810102  10785
2   810103  16917
3   810105  10462
4   810106   6675

In [347]:
df_area_pop_total = pd.merge(df_area,df_pop_total, how = 'inner')
df_area_pop_total['total_s'] = df_area_pop_total['image/area'] * df_area_pop_total['Total']
df_area_pop_total = df_area_pop_total.iloc[:,[0,5]]
df_area_pop_total['addrcode'] = df_area_pop_total['addrcode'].astype(str)
df_area_pop_total.head()

  addrcode  total_s
0   810103  1691.70
1   810105   418.48
2   810106   267.00
3   810111   195.72
4   810115   959.21

In [348]:
df_pop_s = pd.merge(df_area_pop,df_area_pop_total, how = 'inner')
df_pop_s.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s,total_s
0,810103,191.20,77.30,117.50,250.90,278.30,271.40,336.40,168.70,1691.70
1,810105,45.64,21.60,32.20,62.32,73.68,63.92,79.44,39.68,418.48
2,810106,29.36,13.28,23.24,42.92,44.44,41.60,47.88,24.28,267.00
3,810111,19.08,7.46,13.80,29.10,31.68,35.18,40.34,19.08,195.72
4,810115,112.07,48.65,81.97,158.34,148.68,153.09,183.68,72.73,959.21

In [349]:
df_container_count = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','container_Krabi_subdist.csv'))
df_container_count = df_container_count.drop('Unnamed: 0', axis = 1)
df_container_count.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,810503,32,1,307,10,9,104,38,1,502
1,810507,80,2,253,3,16,146,55,0,555
2,810604,87,1,160,5,35,175,31,2,496
3,810205,33,1,263,2,21,112,28,0,460
4,810508,48,1,214,2,18,143,36,0,462

In [350]:
df_new_cd = pd.DataFrame(df_container_count['addrcode'])
#==========
a = 10
#==========

df_new_cd['bin_pop1s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,1]
df_new_cd['bin_pop2s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,2]
df_new_cd['bin_pop3s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,3]
df_new_cd['bin_pop4s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,4]
df_new_cd['bin_pop5s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,5]
df_new_cd['bin_pop6s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,6]
df_new_cd['bin_pop7s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,7]
df_new_cd['bin_pop8s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,8]
df_new_cd['bin_pop9s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,9]

df_new_cd['bowl_pop1s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,1]
df_new_cd['bowl_pop2s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,2]
df_new_cd['bowl_pop3s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,3]
df_new_cd['bowl_pop4s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,4]
df_new_cd['bowl_pop5s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,5]
df_new_cd['bowl_pop6s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,6]
df_new_cd['bowl_pop7s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,7]
df_new_cd['bowl_pop8s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,8]
df_new_cd['bowl_pop9s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,9]

df_new_cd['bucket_pop1s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,1]
df_new_cd['bucket_pop2s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,2]
df_new_cd['bucket_pop3s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,3]
df_new_cd['bucket_pop4s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,4]
df_new_cd['bucket_pop5s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,5]
df_new_cd['bucket_pop6s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,6]
df_new_cd['bucket_pop7s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,7]
df_new_cd['bucket_pop8s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,8]
df_new_cd['bucket_pop9s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,9]

df_new_cd['misc_short_pop1s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,1]
df_new_cd['misc_short_pop2s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,2]
df_new_cd['misc_short_pop3s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,3]
df_new_cd['misc_short_pop4s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,4]
df_new_cd['misc_short_pop5s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,5]
df_new_cd['misc_short_pop6s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,6]
df_new_cd['misc_short_pop7s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,7]
df_new_cd['misc_short_pop8s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,8]
df_new_cd['misc_short_pop9s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,9]

df_new_cd['jar_pop1s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,1]
df_new_cd['jar_pop2s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,2]
df_new_cd['jar_pop3s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,3]
df_new_cd['jar_pop4s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,4]
df_new_cd['jar_pop5s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,5]
df_new_cd['jar_pop6s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,6]
df_new_cd['jar_pop7s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,7]
df_new_cd['jar_pop8s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,8]
df_new_cd['jar_pop9s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,9]

df_new_cd['pottedplant_pop1s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,1]
df_new_cd['pottedplant_pop2s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,2]
df_new_cd['pottedplant_pop3s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,3]
df_new_cd['pottedplant_pop4s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,4]
df_new_cd['pottedplant_pop5s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,5]
df_new_cd['pottedplant_pop6s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,6]
df_new_cd['pottedplant_pop7s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,7]
df_new_cd['pottedplant_pop8s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,8]
df_new_cd['pottedplant_pop9s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,9]

df_new_cd['tire_pop1s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,1]
df_new_cd['tire_pop2s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,2]
df_new_cd['tire_pop3s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,3]
df_new_cd['tire_pop4s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,4]
df_new_cd['tire_pop5s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,5]
df_new_cd['tire_pop6s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,6]
df_new_cd['tire_pop7s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,7]
df_new_cd['tire_pop8s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,8]
df_new_cd['tire_pop9s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,9]

df_new_cd['misc_tall_pop1s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,1]
df_new_cd['misc_tall_pop2s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,2]
df_new_cd['misc_tall_pop3s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,3]
df_new_cd['misc_tall_pop4s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,4]
df_new_cd['misc_tall_pop5s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,5]
df_new_cd['misc_tall_pop6s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,6]
df_new_cd['misc_tall_pop7s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,7]
df_new_cd['misc_tall_pop8s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,8]
df_new_cd['misc_tall_pop9s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,9]

df_new_cd['total_pop1s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,1]
df_new_cd['total_pop2s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,2]
df_new_cd['total_pop3s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,3]
df_new_cd['total_pop4s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,4]
df_new_cd['total_pop5s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,5]
df_new_cd['total_pop6s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,6]
df_new_cd['total_pop7s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,7]
df_new_cd['total_pop8s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,8]
df_new_cd['total_pop9s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,9]

df_new_cd.head()

,addrcode,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,bin_pop5s,bin_pop6s,bin_pop7s,bin_pop8s,bin_pop9s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,810503,1.673640,4.139715,2.723404,1.275409,1.149838,1.179071,0.951249,1.896858,0.189159,...,0.005911,26.255230,64.941785,42.723404,20.007971,18.038088,18.496684,14.922711,29.756965,2.967429
1,810507,17.528484,37.037037,24.844720,12.836970,10.857763,12.515645,10.070493,20.161290,1.911680,...,0.000000,121.603856,256.944444,172.360248,89.056483,75.325733,86.827284,69.864048,139.868952,13.262283
2,810604,29.632153,65.512048,37.435456,20.270270,19.576958,20.913462,18.170426,35.831960,3.258427,...,0.074906,168.937330,373.493976,213.425129,115.563840,111.611161,119.230769,103.592314,204.283361,18.576779
3,810205,17.295597,44.235925,23.913043,11.340206,10.416667,9.380330,8.180466,17.295597,1.686082,...,0.000000,241.090147,616.621984,333.333333,158.075601,145.202020,130.756111,114.030739,241.090147,23.502963
4,810508,4.283037,9.866393,5.855801,3.031451,3.228410,3.135411,2.613240,6.599753,0.500412,...,0.000000,41.224235,94.964029,56.362084,29.177719,31.073446,30.178326,25.152439,63.522618,4.816464

### Training

In [351]:
df_train = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Krabi','Original','train_krabi_subdist_original.csv'), header=0, skiprows=0)
df_train = df_train.drop('Unnamed: 0', axis = 1)
df_train.head()

   addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0    810103     9  2014       0.0    33.304464     0.000000
1    810103    10  2014       0.0    33.473214     0.000000
2    810103    11  2014       0.0    33.581964     0.000000
3    810103    12  2014       0.0    33.128214     0.589449
4    810103    13  2014       0.2    31.886250     0.000000

In [352]:
df_train_new = pd.merge(df_train,df_new_cd, how = 'inner')
df_train_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,810103,9,2014,0.0,33.304464,0.000000,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
1,810103,10,2014,0.0,33.473214,0.000000,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
2,810103,11,2014,0.0,33.581964,0.000000,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
3,810103,12,2014,0.0,33.128214,0.589449,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
4,810103,13,2014,0.2,31.886250,0.000000,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362

In [353]:
df_train_new['rainfall'] = (df_train_new['rainfall'] / max(df_train_new['rainfall'])) * 5
df_train_new['temperature'] = (df_train_new['temperature'] / max(df_train_new['temperature'])) * 5
df_train_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,810103,9,2014,0.000000,4.769900,0.000000,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
1,810103,10,2014,0.000000,4.794069,0.000000,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
2,810103,11,2014,0.000000,4.809644,0.000000,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
3,810103,12,2014,0.000000,4.744657,0.589449,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
4,810103,13,2014,0.002943,4.566782,0.000000,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362

In [354]:
df_train_new.to_csv('Data/Modeling/Training&Testing/Krabi/train_krabi_subdist_all.csv', encoding = 'utf-8')

In [355]:
df_train_new = df_train_new.iloc[:,[0,1,2,3,4,5,14,23,32,41,50,59,68,77,86]]
df_train_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,810103,9,2014,0.000000,4.769900,0.000000,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362
1,810103,10,2014,0.000000,4.794069,0.000000,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362
2,810103,11,2014,0.000000,4.809644,0.000000,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362
3,810103,12,2014,0.000000,4.744657,0.589449,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362
4,810103,13,2014,0.002943,4.566782,0.000000,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362

In [356]:
df_train_new.to_csv('Data/Modeling/Training&Testing/Krabi/train_krabi_subdist_total.csv', encoding = 'utf-8')

### Testing

In [357]:
df_test = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Krabi','Original','test_krabi_subdist_original.csv'), header=0, skiprows=0)
df_test = df_test.drop('Unnamed: 0', axis = 1)
df_test.head()

   addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0    810103     1  2017     17.05    25.985000          0.0
1    810103     2  2017     54.17    25.210000          0.0
2    810103     3  2017     40.45    25.635536          0.0
3    810103     4  2017    107.45    26.904821          0.0
4    810103     5  2017     10.65    27.385357          0.0

In [358]:
df_test_new = pd.merge(df_test,df_new_cd, how = 'inner')
df_test_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,810103,1,2017,17.05,25.985000,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
1,810103,2,2017,54.17,25.210000,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
2,810103,3,2017,40.45,25.635536,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
3,810103,4,2017,107.45,26.904821,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
4,810103,5,2017,10.65,27.385357,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362

In [359]:
df_test_new['rainfall'] = (df_test_new['rainfall'] / max(df_test_new['rainfall'])) * 5
df_test_new['temperature'] = (df_test_new['temperature'] / max(df_test_new['temperature'])) * 5
df_test_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,810103,1,2017,0.380716,4.111922,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
1,810103,2,2017,1.209584,3.989285,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
2,810103,3,2017,0.903224,4.056622,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
3,810103,4,2017,2.399294,4.257477,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362
4,810103,5,2017,0.237808,4.333518,0.0,2.524655,5.373636,4.09469,2.469136,...,0.020659,81.972387,174.475231,132.949456,80.169753,60.075166,58.354395,66.666667,154.613095,10.732362

In [360]:
df_test_new.to_csv('Data/Modeling/Training&Testing/Krabi/test_krabi_subdist_all.csv', encoding = 'utf-8')

In [361]:
df_test_new = df_test_new.iloc[:,[0,1,2,3,4,5,14,23,32,41,50,59,68,77,86]]
df_test_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,810103,1,2017,0.380716,4.111922,0.0,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362
1,810103,2,2017,1.209584,3.989285,0.0,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362
2,810103,3,2017,0.903224,4.056622,0.0,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362
3,810103,4,2017,2.399294,4.257477,0.0,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362
4,810103,5,2017,0.237808,4.333518,0.0,0.330544,0.082636,5.763867,0.072307,0.227249,3.522363,0.712736,0.020659,10.732362

In [362]:
df_test_new.to_csv('Data/Modeling/Training&Testing/Krabi/test_krabi_subdist_total.csv', encoding = 'utf-8')

## District

In [138]:
df_area_pop = pd.read_csv(os.path.join('Data','Correlation','area_pop_krabi_dist.csv'), encoding = 'utf-8')
df_area_pop = df_area_pop.drop('Unnamed: 0', axis = 1)
df_area_pop = df_area_pop.iloc[:,[0,12,13,14,15,16,17,18,19]]
df_area_pop['addrcode'] = df_area_pop['addrcode'].astype(str)
df_area_pop.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s
0,8101,591.12,256.86,403.26,782.94,861.18,839.46,972.00,454.08
1,8102,295.95,135.25,199.15,424.00,461.25,453.20,508.75,253.10
2,8103,217.71,103.86,152.10,273.24,337.95,303.93,317.34,168.57
3,8104,495.24,231.96,362.70,726.18,774.12,702.48,853.68,434.46
4,8105,452.97,210.24,326.07,664.02,699.39,701.01,872.55,497.34

In [323]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_nst.csv'))
df_area = df_area.drop(['Unnamed: 0','image_coverage'], axis = 1)
df_area['addrcode'] = df_area['addrcode'].astype(str)
df_area = df_area.groupby(df_area['addrcode'].str[:4]).sum().reset_index()
df_area['image/area'] = df_area['image_area']/ df_area['land_area']
df_area['image/area'].loc[df_area['image/area'] > 1 ] = 1
df_area['image/area'] = df_area['image/area'].round(2)
df_area.head()

In [140]:
df_pop_total = pd.read_csv(os.path.join('Data','Population','addrcode-index','Krabi-population.csv'))
df_pop_total['addrcode'] = df_pop_total['addrcode'].astype(str).str[:6]
df_pop_total = df_pop_total.groupby(df_pop_total['addrcode'].str[:4]).sum().reset_index()
df_pop_total

  addrcode   Total
0     8101  116164
1     8102   54613
2     8103   34184
3     8104   76347
4     8105   55588
5     8106   38412
6     8107   24053
7     8108   62326

In [141]:
df_area_pop_total = pd.merge(df_area,df_pop_total, how = 'inner')
df_area_pop_total['total_s'] = df_area_pop_total['image/area'] * df_area_pop_total['Total']
df_area_pop_total = df_area_pop_total.iloc[:,[0,5]]
df_area_pop_total['addrcode'] = df_area_pop_total['addrcode'].astype(str)
df_area_pop_total.head()

  addrcode  total_s
0     8101  6969.84
1     8102  2730.65
2     8103  3076.56
3     8104  4580.82
4     8105  5002.92

In [142]:
df_pop_s = pd.merge(df_area_pop,df_area_pop_total, how = 'inner')
df_pop_s.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s,total_s
0,8101,591.12,256.86,403.26,782.94,861.18,839.46,972.00,454.08,6969.84
1,8102,295.95,135.25,199.15,424.00,461.25,453.20,508.75,253.10,2730.65
2,8103,217.71,103.86,152.10,273.24,337.95,303.93,317.34,168.57,3076.56
3,8104,495.24,231.96,362.70,726.18,774.12,702.48,853.68,434.46,4580.82
4,8105,452.97,210.24,326.07,664.02,699.39,701.01,872.55,497.34,5002.92

In [143]:
df_container_count = pd.read_csv(os.path.join('Data','Container Density','District Level','container_Krabi_dist.csv'))
df_container_count = df_container_count.drop('Unnamed: 0', axis = 1)
df_container_count.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,8101,103,18,1199,22,83,893,272,7,2597
1,8102,280,4,1598,24,146,1022,291,2,3367
2,8103,47,9,905,21,25,365,97,2,1471
3,8104,312,26,2873,44,135,1375,567,7,5339
4,8105,609,19,2699,47,174,1491,541,7,5587

In [144]:
df_new_cd = pd.DataFrame(df_container_count['addrcode'])
#==========
a = 10
#==========

df_new_cd['bin_pop1s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,1]
df_new_cd['bin_pop2s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,2]
df_new_cd['bin_pop3s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,3]
df_new_cd['bin_pop4s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,4]
df_new_cd['bin_pop5s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,5]
df_new_cd['bin_pop6s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,6]
df_new_cd['bin_pop7s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,7]
df_new_cd['bin_pop8s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,8]
df_new_cd['bin_pop9s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,9]

df_new_cd['bowl_pop1s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,1]
df_new_cd['bowl_pop2s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,2]
df_new_cd['bowl_pop3s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,3]
df_new_cd['bowl_pop4s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,4]
df_new_cd['bowl_pop5s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,5]
df_new_cd['bowl_pop6s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,6]
df_new_cd['bowl_pop7s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,7]
df_new_cd['bowl_pop8s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,8]
df_new_cd['bowl_pop9s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,9]

df_new_cd['bucket_pop1s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,1]
df_new_cd['bucket_pop2s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,2]
df_new_cd['bucket_pop3s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,3]
df_new_cd['bucket_pop4s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,4]
df_new_cd['bucket_pop5s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,5]
df_new_cd['bucket_pop6s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,6]
df_new_cd['bucket_pop7s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,7]
df_new_cd['bucket_pop8s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,8]
df_new_cd['bucket_pop9s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,9]

df_new_cd['misc_short_pop1s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,1]
df_new_cd['misc_short_pop2s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,2]
df_new_cd['misc_short_pop3s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,3]
df_new_cd['misc_short_pop4s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,4]
df_new_cd['misc_short_pop5s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,5]
df_new_cd['misc_short_pop6s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,6]
df_new_cd['misc_short_pop7s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,7]
df_new_cd['misc_short_pop8s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,8]
df_new_cd['misc_short_pop9s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,9]

df_new_cd['jar_pop1s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,1]
df_new_cd['jar_pop2s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,2]
df_new_cd['jar_pop3s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,3]
df_new_cd['jar_pop4s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,4]
df_new_cd['jar_pop5s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,5]
df_new_cd['jar_pop6s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,6]
df_new_cd['jar_pop7s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,7]
df_new_cd['jar_pop8s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,8]
df_new_cd['jar_pop9s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,9]

df_new_cd['pottedplant_pop1s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,1]
df_new_cd['pottedplant_pop2s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,2]
df_new_cd['pottedplant_pop3s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,3]
df_new_cd['pottedplant_pop4s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,4]
df_new_cd['pottedplant_pop5s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,5]
df_new_cd['pottedplant_pop6s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,6]
df_new_cd['pottedplant_pop7s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,7]
df_new_cd['pottedplant_pop8s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,8]
df_new_cd['pottedplant_pop9s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,9]

df_new_cd['tire_pop1s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,1]
df_new_cd['tire_pop2s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,2]
df_new_cd['tire_pop3s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,3]
df_new_cd['tire_pop4s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,4]
df_new_cd['tire_pop5s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,5]
df_new_cd['tire_pop6s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,6]
df_new_cd['tire_pop7s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,7]
df_new_cd['tire_pop8s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,8]
df_new_cd['tire_pop9s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,9]

df_new_cd['misc_tall_pop1s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,1]
df_new_cd['misc_tall_pop2s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,2]
df_new_cd['misc_tall_pop3s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,3]
df_new_cd['misc_tall_pop4s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,4]
df_new_cd['misc_tall_pop5s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,5]
df_new_cd['misc_tall_pop6s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,6]
df_new_cd['misc_tall_pop7s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,7]
df_new_cd['misc_tall_pop8s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,8]
df_new_cd['misc_tall_pop9s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,9]

df_new_cd['total_pop1s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,1]
df_new_cd['total_pop2s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,2]
df_new_cd['total_pop3s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,3]
df_new_cd['total_pop4s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,4]
df_new_cd['total_pop5s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,5]
df_new_cd['total_pop6s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,6]
df_new_cd['total_pop7s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,7]
df_new_cd['total_pop8s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,8]
df_new_cd['total_pop9s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,9]

df_new_cd.head()

,addrcode,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,bin_pop5s,bin_pop6s,bin_pop7s,bin_pop8s,bin_pop9s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,8101,1.742455,4.009967,2.554183,1.315554,1.196033,1.226979,1.059671,2.268323,0.147780,...,0.010043,43.933550,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
1,8102,9.461058,20.702403,14.059754,6.603774,6.070461,6.178288,5.503686,11.062821,1.025397,...,0.007324,113.769218,248.946396,169.068541,79.410377,72.997290,74.293910,66.181818,133.030423,12.330398
2,8103,2.158835,4.525323,3.090072,1.720100,1.390738,1.546409,1.481061,2.788159,0.152768,...,0.006501,67.566947,141.632967,96.712689,53.835456,43.527149,48.399302,46.354068,87.263451,4.781314
3,8104,6.299976,13.450595,8.602151,4.296455,4.030383,4.441408,3.654765,7.181329,0.681101,...,0.015281,107.806316,230.168995,147.201544,73.521716,68.968635,76.002164,62.540999,122.888183,11.655119
4,8105,13.444599,28.966895,18.676971,9.171410,8.707588,8.687465,6.979543,12.245144,1.217289,...,0.013992,123.341502,265.743912,171.343577,84.139032,79.883899,79.699291,64.030715,112.337636,11.167478

### Training

In [145]:
df_train_dist = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Krabi','Original','train_krabi_dist_original.csv'), header=0, skiprows=0)
df_train_dist = df_train_dist.drop('Unnamed: 0', axis = 1)
df_train_dist.head()

   addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0      8101     9  2014      0.00   260.082857     0.000000
1      8101    10  2014      0.00   258.745714     0.000000
2      8101    11  2014      0.00   258.589821     0.116259
3      8101    12  2014      0.21   256.425000     0.930070
4      8101    13  2014      1.41   246.993750     0.232518

In [146]:
df_train_dist = pd.merge(df_train_dist, df_new_cd, how ='inner')
df_train_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,8101,9,2014,0.00,260.082857,0.000000,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
1,8101,10,2014,0.00,258.745714,0.000000,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
2,8101,11,2014,0.00,258.589821,0.116259,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
3,8101,12,2014,0.21,256.425000,0.930070,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
4,8101,13,2014,1.41,246.993750,0.232518,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054

In [147]:
df_train_dist['rainfall'] = (df_train_dist['rainfall'] / max(df_train_dist['rainfall'])) * 5
df_train_dist['temperature'] = (df_train_dist['temperature'] / max(df_train_dist['temperature'])) * 5

In [148]:
df_train_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,8101,9,2014,0.000000,4.923414,0.000000,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
1,8101,10,2014,0.000000,4.898102,0.000000,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
2,8101,11,2014,0.000000,4.895150,0.116259,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
3,8101,12,2014,0.000403,4.854170,0.930070,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
4,8101,13,2014,0.002708,4.675635,0.232518,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054

In [149]:
df_train_dist.to_csv('Data/Modeling/Training&Testing/Krabi/train_krabi_dist_all.csv', encoding = 'utf-8')

In [150]:
df_train_dist = df_train_dist.iloc[:,[0,1,2,3,4,5,14,23,32,41,50,59,68,77,86]]
df_train_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,8101,9,2014,0.000000,4.923414,0.000000,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054
1,8101,10,2014,0.000000,4.898102,0.000000,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054
2,8101,11,2014,0.000000,4.895150,0.116259,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054
3,8101,12,2014,0.000403,4.854170,0.930070,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054
4,8101,13,2014,0.002708,4.675635,0.232518,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054

In [151]:
df_train_dist.to_csv('Data/Modeling/Training&Testing/Krabi/train_krabi_dist_total.csv', encoding = 'utf-8')

In [367]:
df_train_lag = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Krabi','train_krabi_subdist_total_mavg4.csv'))
df_train_lag = df_train_lag.drop('Unnamed: 0', axis = 1)
df_train_lag['WeekYear'] = df_train_lag[['Week','Year']].astype(str).sum(axis=1)
df_train_lag['WeekYear'] = df_train_lag['WeekYear'].astype(str).str[:-2]
df_train_lag.head()
list = ['92014','102014','112014','122014','132014','142014','472016','482016','492016','502016','512016','522016']

for i in range(len(list)):
     df_train_lag = df_train_lag[df_train_lag.WeekYear != list[i]]

df_train_lag.to_csv('Data/Modeling/Training&Testing/Krabi/train_krabi_subdist_total_mavg4.csv', encoding = 'utf-8')

### Testing

In [162]:
df_test_dist = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Krabi','Original','test_krabi_dist_original.csv'), header=0, skiprows=0)
df_test_dist = df_test_dist.drop('Unnamed: 0', axis = 1)
df_test_dist.head()

   addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0      8101     1  2017    147.39   204.600000     0.116259
1      8101     2  2017    500.54   204.205000     0.000000
2      8101     3  2017    299.48   206.910179     0.232518
3      8101     4  2017    924.36   212.708750     0.465035
4      8101     5  2017    171.88   216.942143     0.465035

In [163]:
df_test_dist = pd.merge(df_test_dist, df_new_cd, how ='inner')
df_test_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,8101,1,2017,147.39,204.600000,0.116259,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
1,8101,2,2017,500.54,204.205000,0.000000,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
2,8101,3,2017,299.48,206.910179,0.232518,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
3,8101,4,2017,924.36,212.708750,0.465035,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
4,8101,5,2017,171.88,216.942143,0.465035,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054

In [164]:
df_test_dist['rainfall'] = (df_test_dist['rainfall'] / max(df_test_dist['rainfall'])) * 5
df_test_dist['temperature'] = (df_test_dist['temperature'] / max(df_test_dist['temperature'])) * 5

In [165]:
df_test_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,8101,1,2017,0.579988,4.354651,0.116259,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
1,8101,2,2017,1.969653,4.346244,0.000000,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
2,8101,3,2017,1.178471,4.403820,0.232518,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
3,8101,4,2017,3.637408,4.527235,0.465035,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054
4,8101,5,2017,0.676357,4.617338,0.465035,1.742455,4.009967,2.554183,1.315554,...,0.010043,43.93355,101.105661,64.400139,33.169847,30.156297,30.936554,26.718107,57.192565,3.726054

In [166]:
df_test_dist.to_csv('Data/Modeling/Training&Testing/Krabi/test_krabi_dist_all.csv', encoding = 'utf-8')

In [167]:
df_test_dist = df_test_dist.iloc[:,[0,1,2,3,4,5,14,23,32,41,50,59,68,77,86]]
df_test_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,8101,1,2017,0.579988,4.354651,0.116259,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054
1,8101,2,2017,1.969653,4.346244,0.000000,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054
2,8101,3,2017,1.178471,4.403820,0.232518,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054
3,8101,4,2017,3.637408,4.527235,0.465035,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054
4,8101,5,2017,0.676357,4.617338,0.465035,0.14778,0.025826,1.720269,0.031565,0.119085,1.281235,0.390253,0.010043,3.726054

In [168]:
df_test_dist.to_csv('Data/Modeling/Training&Testing/Krabi/test_krabi_dist_total.csv', encoding = 'utf-8')

In [370]:
df_test_lag = pd.read_csv(os.path.join('Data','Modeling','training&Testing','Krabi','test_krabi_subdist_total_mavg4.csv'))
df_test_lag = df_test_lag.drop('Unnamed: 0', axis = 1)
df_test_lag['WeekYear'] = df_test_lag[['Week','Year']].astype(str).sum(axis=1)
df_test_lag['WeekYear'] = df_test_lag['WeekYear'].astype(str).str[:-2]
df_test_lag.head()
list = ['12017','22017','32017','42017','52017','62017','472017','482017','492017','502017','512017','522017']

for i in range(len(list)):
     df_test_lag = df_test_lag[df_test_lag.WeekYear != list[i]]
        
df_test_lag.to_csv('Data/Modeling/Training&Testing/Krabi/test_krabi_subdist_total_mavg4.csv', encoding = 'utf-8')

# Normal Container Density