In [3]:
import pandas as pd
import os

## Training & Testing Data

## Subdistrict

### 2014-2016 [Training]

In [355]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Bangkok.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '10']
df_lst_2014 = pd.read_csv(os.path.join('Data','Climatic Data','Sub Result','LST_weekly_Bangkok_2014.csv'))
df_lst_2014 = df_lst_2014.drop('Unnamed: 0', axis =1 )
df_lst_2014['addrcode'] = df_lst_2014['addrcode'].astype(str)
df_lst_2014['Year'] = df_lst_2014['Year'].astype(str)
df_lst_2015 = pd.read_csv(os.path.join('Data','Climatic Data','Sub Result','LST_weekly_Bangkok_2015.csv'))
df_lst_2015 = df_lst_2015.drop('Unnamed: 0', axis =1 )
df_lst_2015['addrcode'] = df_lst_2015['addrcode'].astype(str)
df_lst_2015['Year'] = df_lst_2015['Year'].astype(str)
df_lst_2016 = pd.read_csv(os.path.join('Data','Climatic Data','Sub Result','LST_weekly_Bangkok_2016.csv'))
df_lst_2016 = df_lst_2016.drop('Unnamed: 0', axis =1 )
df_lst_2016['addrcode'] = df_lst_2016['addrcode'].astype(str)
df_lst_2016['Year'] = df_lst_2016['Year'].astype(str)
df_df10000pop = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','Subdistrict','DF_10000Population_details.csv'))
df_df10000pop['addrcode'] = df_df10000pop['addrcode'].astype(str)
df_df10000pop = df_df10000pop.loc[df_df10000pop['addrcode'].str[:2] == '10']

In [356]:
df_rain = df_rain.loc[df_rain['Year'] < 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
len(df_rain)

25181

In [357]:
df_lst_2014 = df_lst_2014.loc[df_lst_2014['Week'] > 8]
df_lst_2014.head()

     Week  Year addrcode  temperature
169    10  2014   100101    36.187143
170    10  2014   100102    35.878929
171    10  2014   100103    35.878929
172    10  2014   100104    36.416071
173    10  2014   100105    36.187143

In [358]:
frame = [df_lst_2014, df_lst_2015, df_lst_2016]
df_lst = pd.concat(frame)
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
len(df_lst)

25181

In [359]:
df_rain_lst = pd.merge(df_rain,df_lst, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2015   100101      9.28      32.4650
1     1  2015   100102      9.28      32.5350
2     1  2015   100103      9.28      32.5350
3     1  2015   100104      7.63      33.0375
4     1  2015   100105      9.28      32.4650

In [360]:
df_df = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','Subdistrict','DF_10000Population_details.csv'))
df_df = df_df.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_df.columns = ['addrcode','Year','Week','DFp10000Pop']
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
df_df.head()

  addrcode  Year  Week  DFp10000Pop
0   100101  2014     1          0.0
1   100101  2014     2          0.0
2   100101  2014     3          0.0
3   100101  2014     4          0.0
4   100101  2014     5          0.0

In [361]:
df_rain_lst_df = pd.merge(df_rain_lst, df_df, how = 'inner', on = ['Year','Week','addrcode'])
df_rain_lst_df = df_rain_lst_df[['addrcode','Week','Year','rainfall','temperature','DFp10000Pop']]
df_rain_lst_df = df_rain_lst_df.sort_values(['Year','addrcode']).reset_index().drop('index', axis =1)
df_rain_lst_df.head()

  addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0   100101     9  2014      0.39    35.021071          0.0
1   100101    10  2014      2.62    36.187143          0.0
2   100101    11  2014      0.00    37.017679          0.0
3   100101    12  2014     29.41    36.483750          0.0
4   100101    13  2014     99.18    36.932500          0.0

In [362]:
df_rain_lst_df.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/train_bangkok_subdist_original.csv', encoding = 'utf-8')

## District Level

In [363]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Bangkok.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '10']
df_lst_2014 = pd.read_csv(os.path.join('Data','Climatic Data','Sub Result','LST_weekly_Bangkok_2014.csv'))
df_lst_2014 = df_lst_2014.drop('Unnamed: 0', axis =1 )
df_lst_2014['addrcode'] = df_lst_2014['addrcode'].astype(str)
df_lst_2014['Year'] = df_lst_2014['Year'].astype(str)
df_lst_2015 = pd.read_csv(os.path.join('Data','Climatic Data','Sub Result','LST_weekly_Bangkok_2015.csv'))
df_lst_2015 = df_lst_2015.drop('Unnamed: 0', axis =1 )
df_lst_2015['addrcode'] = df_lst_2015['addrcode'].astype(str)
df_lst_2015['Year'] = df_lst_2015['Year'].astype(str)
df_lst_2016 = pd.read_csv(os.path.join('Data','Climatic Data','Sub Result','LST_weekly_Bangkok_2016.csv'))
df_lst_2016 = df_lst_2016.drop('Unnamed: 0', axis =1 )
df_lst_2016['addrcode'] = df_lst_2016['addrcode'].astype(str)
df_lst_2016['Year'] = df_lst_2016['Year'].astype(str)
df_df10000pop_dist = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','District','DF_10000Population_dist_details.csv'))
df_df10000pop_dist = df_df10000pop_dist.drop('Unnamed: 0', axis = 1)

In [364]:
df_rain = df_rain.loc[df_rain['Year'] < 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
df_lst_2014 = df_lst_2014.loc[df_lst_2014['Week'] > 8]
frame = [df_lst_2014, df_lst_2015, df_lst_2016]
df_lst = pd.concat(frame)
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
df_rain_lst = pd.merge(df_rain,df_lst, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst['addrcode'] = df_rain_lst['addrcode'].astype(str)
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2015   100101      9.28      32.4650
1     1  2015   100102      9.28      32.5350
2     1  2015   100103      9.28      32.5350
3     1  2015   100104      7.63      33.0375
4     1  2015   100105      9.28      32.4650

In [365]:
aggregation_function = {'rainfall' : 'sum', 'temperature' : 'mean'}
df_rain_lst_dist = df_rain_lst.groupby([df_rain_lst['addrcode'].str[:4],df_rain_lst['Week'],df_rain_lst['Year']]).aggregate(aggregation_function).reset_index()
df_rain_lst_dist['addrcode'] = df_rain_lst_dist['addrcode'].astype(str)
df_rain_lst_dist['Week'] = df_rain_lst_dist['Week'].astype(str)
df_rain_lst_dist['Year'] = df_rain_lst_dist['Year'].astype(str)
df_rain_lst_dist.head()

  addrcode Week  Year  rainfall  temperature
0     1001    1  2015    103.11    32.762917
1     1001    1  2016     54.62    31.979583
2     1001    2  2015     84.45    33.020893
3     1001    2  2016    508.24    31.222500
4     1001    3  2015    453.51    32.926935

In [366]:
df_df10000pop_dist = df_df10000pop_dist.drop(['NumberCases','population'], axis =1)
df_df10000pop_dist.columns = ['addrcode','Year','Week','DFp10000Pop']
df_df10000pop_dist['addrcode'] = df_df10000pop_dist['addrcode'].astype(str)
df_df10000pop_dist['Week'] = df_df10000pop_dist['Week'].astype(str)
df_df10000pop_dist['Year'] = df_df10000pop_dist['Year'].astype(str)
df_df10000pop_dist = df_df10000pop_dist[['addrcode','Week','Year','DFp10000Pop']]
df_df10000pop_dist.head()

  addrcode Week  Year  DFp10000Pop
0     1001    1  2014     0.000000
1     1001    2  2014     0.197208
2     1001    3  2014     0.000000
3     1001    4  2014     0.000000
4     1001    5  2014     0.394415

In [367]:
df_rain_lst_df_dist = pd.merge(df_rain_lst_dist, df_df10000pop_dist, how = 'inner', on = ['addrcode','Week','Year'])
df_rain_lst_df_dist = df_rain_lst_df_dist.sort_values(['Year','addrcode']).reset_index()
df_rain_lst_df_dist = df_rain_lst_df_dist.drop('index', axis = 1)
df_rain_lst_df_dist.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/train_bangkok_dist_original.csv', encoding = 'utf-8')

## 2017 [Testing]

### Subdistrict

In [368]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Bangkok.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '10']
df_lst_2017 = pd.read_csv(os.path.join('Data','Climatic Data','Sub Result','LST_weekly_Bangkok_2017.csv'))
df_lst_2017 = df_lst_2017.drop('Unnamed: 0', axis =1 )
df_lst_2017['addrcode'] = df_lst_2017['addrcode'].astype(str)
df_lst_2017['Year'] = df_lst_2017['Year'].astype(str)
df_df10000pop = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','Subdistrict','DF_10000Population_details.csv'))
df_df10000pop['addrcode'] = df_df10000pop['addrcode'].astype(str)
df_df10000pop = df_df10000pop.loc[df_df10000pop['addrcode'].str[:2] == '10']

In [369]:
df_rain = df_rain.loc[df_rain['Year'] == 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
len(df_rain)

8788

In [370]:
df_rain_lst = pd.merge(df_rain,df_lst_2017, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2017   100101      0.30       34.075
1     1  2017   100102      0.30       33.435
2     1  2017   100103      0.30       33.435
3     1  2017   100104      0.01       33.440
4     1  2017   100105      0.30       34.075

In [371]:
df_df = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','Subdistrict','DF_10000Population_details.csv'))
df_df = df_df.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_df.columns = ['addrcode','Year','Week','DFp10000Pop']
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
df_df.head()

  addrcode  Year  Week  DFp10000Pop
0   100101  2014     1          0.0
1   100101  2014     2          0.0
2   100101  2014     3          0.0
3   100101  2014     4          0.0
4   100101  2014     5          0.0

In [372]:
df_rain_lst_df = pd.merge(df_rain_lst, df_df, how = 'inner', on = ['Year','Week','addrcode'])
df_rain_lst_df = df_rain_lst_df[['addrcode','Week','Year','rainfall','temperature','DFp10000Pop']]
df_rain_lst_df = df_rain_lst_df.sort_values(['Year','addrcode']).reset_index().drop('index', axis =1)
df_rain_lst_df.head()

  addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0   100101     1  2017      0.30    34.075000          0.0
1   100101     2  2017     48.99    33.560000          0.0
2   100101     3  2017      0.00    33.681071          0.0
3   100101     4  2017      4.52    34.803214          0.0
4   100101     5  2017     34.26    35.191071          0.0

In [373]:
df_rain_lst_df.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/test_bangkok_subdist_original.csv', encoding = 'utf-8')

## District

In [374]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Bangkok.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '10']
df_lst = pd.read_csv(os.path.join('Data','Climatic Data','Sub Result','LST_weekly_Bangkok_2017.csv'))
df_lst = df_lst.drop('Unnamed: 0', axis =1 )
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
df_lst['Year'] = df_lst['Year'].astype(str)
df_df10000pop_dist = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','District','DF_10000Population_dist_details.csv'))
df_df10000pop_dist = df_df10000pop_dist.drop('Unnamed: 0', axis = 1)

In [375]:
df_rain = df_rain.loc[df_rain['Year'] == 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
df_rain_lst = pd.merge(df_rain,df_lst, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst['addrcode'] = df_rain_lst['addrcode'].astype(str)
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2017   100101      0.30       34.075
1     1  2017   100102      0.30       33.435
2     1  2017   100103      0.30       33.435
3     1  2017   100104      0.01       33.440
4     1  2017   100105      0.30       34.075

In [376]:
aggregation_function = {'rainfall' : 'sum', 'temperature' : 'mean'}
df_rain_lst_dist = df_rain_lst.groupby([df_rain_lst['addrcode'].str[:4],df_rain_lst['Week'],df_rain_lst['Year']]).aggregate(aggregation_function).reset_index()
df_rain_lst_dist['addrcode'] = df_rain_lst_dist['addrcode'].astype(str)
df_rain_lst_dist['Week'] = df_rain_lst_dist['Week'].astype(str)
df_rain_lst_dist['Year'] = df_rain_lst_dist['Year'].astype(str)
df_rain_lst_dist.head()

  addrcode Week  Year  rainfall  temperature
0     1001    1  2017      2.15    33.650833
1     1001    2  2017    631.08    33.335000
2     1001    3  2017      0.00    33.594405
3     1001    4  2017     51.49    34.802262
4     1001    5  2017    366.47    35.255417

In [377]:
df_df10000pop_dist = df_df10000pop_dist.drop(['NumberCases','population'], axis =1)
df_df10000pop_dist.columns = ['addrcode','Year','Week','DFp10000Pop']
df_df10000pop_dist['addrcode'] = df_df10000pop_dist['addrcode'].astype(str)
df_df10000pop_dist['Week'] = df_df10000pop_dist['Week'].astype(str)
df_df10000pop_dist['Year'] = df_df10000pop_dist['Year'].astype(str)
df_df10000pop_dist = df_df10000pop_dist[['addrcode','Week','Year','DFp10000Pop']]
df_df10000pop_dist.head()

  addrcode Week  Year  DFp10000Pop
0     1001    1  2014     0.000000
1     1001    2  2014     0.197208
2     1001    3  2014     0.000000
3     1001    4  2014     0.000000
4     1001    5  2014     0.394415

In [378]:
df_rain_lst_df_dist = pd.merge(df_rain_lst_dist, df_df10000pop_dist, how = 'inner', on = ['addrcode','Week','Year'])
df_rain_lst_df_dist = df_rain_lst_df_dist.sort_values(['Year','addrcode']).reset_index()
df_rain_lst_df_dist = df_rain_lst_df_dist.drop('index', axis = 1)
df_rain_lst_df_dist.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/test_bangkok_dist_original.csv', encoding = 'utf-8')

## Adjusted Container Density

## Subdistrict

In [379]:
df_area_pop = pd.read_csv(os.path.join('Data','Correlation','area_pop_bangkok.csv'), encoding = 'utf-8')
df_area_pop = df_area_pop.drop('Unnamed: 0', axis = 1)
df_area_pop = df_area_pop.iloc[:,[0,12,13,14,15,16,17,18,19]]
df_area_pop['addrcode'] = df_area_pop['addrcode'].astype(str)
df_area_pop.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s
0,100101,129.0,84.0,131.0,680.0,441.0,474.0,895.0,881.0
1,100102,461.0,397.0,1117.0,1411.0,1373.0,1636.0,2641.0,2190.0
2,100103,119.0,80.0,187.0,427.0,438.0,448.0,831.0,798.0
3,100104,140.0,96.0,247.0,426.0,391.0,498.0,802.0,709.0
4,100105,131.0,84.0,209.0,375.0,418.0,464.0,779.0,754.0

In [380]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_bangkok.csv'))
df_area = df_area.drop(['Unnamed: 0','image_coverage'], axis = 1)
df_area['addrcode'] = df_area['addrcode'].astype(str)
df_area['image/area'] = df_area['image_area']/ df_area['land_area']
df_area['image/area'].loc[df_area['image/area'] > 1 ] = 1
df_area['image/area'] = df_area['image/area'].round(2)
df_area.head()

  addrcode  land_area  image_area  image/area
0   100101      14.11       16.16         1.0
1   100102       6.62        9.67         1.0
2   100103       1.97        3.32         1.0
3   100104       2.15        3.11         1.0
4   100105       1.39        3.46         1.0

In [381]:
df_pop_total = pd.read_csv(os.path.join('Data','Population','addrcode-index','Bangkok-population.csv'))
df_pop_total['addrcode'] = df_pop_total['addrcode'].astype(str).str[:6]
df_pop_total.head()

  addrcode  Total
0   100101   3715
1   100102  11226
2   100103   3328
3   100104   3309
4   100105   3214

In [382]:
df_area_pop_total = pd.merge(df_area,df_pop_total, how = 'inner')
df_area_pop_total['total_s'] = df_area_pop_total['image/area'] * df_area_pop_total['Total']
df_area_pop_total = df_area_pop_total.iloc[:,[0,5]]
df_area_pop_total['addrcode'] = df_area_pop_total['addrcode'].astype(str)
df_area_pop_total.head()

  addrcode  total_s
0   100101   3715.0
1   100102  11226.0
2   100103   3328.0
3   100104   3309.0
4   100105   3214.0

In [383]:
df_pop_s = pd.merge(df_area_pop,df_area_pop_total, how = 'inner')
df_pop_s.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s,total_s
0,100101,129.0,84.0,131.0,680.0,441.0,474.0,895.0,881.0,3715.0
1,100102,461.0,397.0,1117.0,1411.0,1373.0,1636.0,2641.0,2190.0,11226.0
2,100103,119.0,80.0,187.0,427.0,438.0,448.0,831.0,798.0,3328.0
3,100104,140.0,96.0,247.0,426.0,391.0,498.0,802.0,709.0,3309.0
4,100105,131.0,84.0,209.0,375.0,418.0,464.0,779.0,754.0,3214.0

In [384]:
df_container_count = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','container_Bangkok_subdist.csv'))
df_container_count = df_container_count.drop('Unnamed: 0', axis = 1)
df_container_count.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,100508,838,44,2069,47,125,3744,447,15,7329
1,104605,82,6,314,4,43,301,63,0,813
2,104604,44,7,235,2,6,267,51,0,612
3,103704,63,25,189,19,6,347,80,4,733
4,100108,3,3,18,8,1,47,0,0,80

In [385]:
df_new_cd = pd.DataFrame(df_container_count['addrcode'])
#==========
a = 10
#==========

df_new_cd['bin_pop1s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,1]
df_new_cd['bin_pop2s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,2]
df_new_cd['bin_pop3s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,3]
df_new_cd['bin_pop4s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,4]
df_new_cd['bin_pop5s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,5]
df_new_cd['bin_pop6s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,6]
df_new_cd['bin_pop7s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,7]
df_new_cd['bin_pop8s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,8]
df_new_cd['bin_pop9s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,9]

df_new_cd['bowl_pop1s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,1]
df_new_cd['bowl_pop2s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,2]
df_new_cd['bowl_pop3s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,3]
df_new_cd['bowl_pop4s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,4]
df_new_cd['bowl_pop5s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,5]
df_new_cd['bowl_pop6s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,6]
df_new_cd['bowl_pop7s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,7]
df_new_cd['bowl_pop8s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,8]
df_new_cd['bowl_pop9s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,9]

df_new_cd['bucket_pop1s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,1]
df_new_cd['bucket_pop2s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,2]
df_new_cd['bucket_pop3s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,3]
df_new_cd['bucket_pop4s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,4]
df_new_cd['bucket_pop5s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,5]
df_new_cd['bucket_pop6s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,6]
df_new_cd['bucket_pop7s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,7]
df_new_cd['bucket_pop8s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,8]
df_new_cd['bucket_pop9s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,9]

df_new_cd['misc_short_pop1s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,1]
df_new_cd['misc_short_pop2s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,2]
df_new_cd['misc_short_pop3s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,3]
df_new_cd['misc_short_pop4s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,4]
df_new_cd['misc_short_pop5s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,5]
df_new_cd['misc_short_pop6s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,6]
df_new_cd['misc_short_pop7s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,7]
df_new_cd['misc_short_pop8s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,8]
df_new_cd['misc_short_pop9s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,9]

df_new_cd['jar_pop1s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,1]
df_new_cd['jar_pop2s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,2]
df_new_cd['jar_pop3s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,3]
df_new_cd['jar_pop4s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,4]
df_new_cd['jar_pop5s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,5]
df_new_cd['jar_pop6s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,6]
df_new_cd['jar_pop7s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,7]
df_new_cd['jar_pop8s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,8]
df_new_cd['jar_pop9s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,9]

df_new_cd['pottedplant_pop1s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,1]
df_new_cd['pottedplant_pop2s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,2]
df_new_cd['pottedplant_pop3s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,3]
df_new_cd['pottedplant_pop4s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,4]
df_new_cd['pottedplant_pop5s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,5]
df_new_cd['pottedplant_pop6s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,6]
df_new_cd['pottedplant_pop7s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,7]
df_new_cd['pottedplant_pop8s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,8]
df_new_cd['pottedplant_pop9s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,9]

df_new_cd['tire_pop1s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,1]
df_new_cd['tire_pop2s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,2]
df_new_cd['tire_pop3s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,3]
df_new_cd['tire_pop4s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,4]
df_new_cd['tire_pop5s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,5]
df_new_cd['tire_pop6s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,6]
df_new_cd['tire_pop7s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,7]
df_new_cd['tire_pop8s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,8]
df_new_cd['tire_pop9s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,9]

df_new_cd['misc_tall_pop1s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,1]
df_new_cd['misc_tall_pop2s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,2]
df_new_cd['misc_tall_pop3s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,3]
df_new_cd['misc_tall_pop4s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,4]
df_new_cd['misc_tall_pop5s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,5]
df_new_cd['misc_tall_pop6s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,6]
df_new_cd['misc_tall_pop7s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,7]
df_new_cd['misc_tall_pop8s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,8]
df_new_cd['misc_tall_pop9s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,9]

df_new_cd['total_pop1s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,1]
df_new_cd['total_pop2s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,2]
df_new_cd['total_pop3s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,3]
df_new_cd['total_pop4s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,4]
df_new_cd['total_pop5s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,5]
df_new_cd['total_pop6s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,6]
df_new_cd['total_pop7s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,7]
df_new_cd['total_pop8s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,8]
df_new_cd['total_pop9s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,9]

df_new_cd.head()

,addrcode,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,bin_pop5s,bin_pop6s,bin_pop7s,bin_pop8s,bin_pop9s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,100508,64.961240,99.761905,63.969466,12.323529,19.002268,17.679325,9.363128,9.511918,2.255720,...,0.040377,568.139535,872.500000,559.465649,107.779412,166.190476,154.620253,81.888268,83.189557,19.728129
1,104605,1.778742,2.065491,0.734109,0.581148,0.597232,0.501222,0.310488,0.374429,0.073045,...,0.000000,17.635575,20.478589,7.278424,5.761871,5.921340,4.969438,3.078379,3.712329,0.724212
2,104604,3.697479,5.500000,2.352941,1.030445,1.004566,0.982143,0.529483,0.551378,0.132212,...,0.000000,51.428571,76.500000,32.727273,14.332553,13.972603,13.660714,7.364621,7.669173,1.838942
3,103704,4.500000,6.562500,2.550607,1.478873,1.611253,1.265060,0.785536,0.888575,0.190390,...,0.012088,52.357143,76.354167,29.676113,17.206573,18.746803,14.718876,9.139651,10.338505,2.215171
4,100108,0.229008,0.357143,0.143541,0.080000,0.071770,0.064655,0.038511,0.039788,0.009334,...,0.000000,6.106870,9.523810,3.827751,2.133333,1.913876,1.724138,1.026958,1.061008,0.248911

### Training

In [386]:
df_train = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Bangkok','Original','train_bangkok_subdist_original.csv'), header=0, skiprows=0)
df_train = df_train.drop('Unnamed: 0', axis = 1)
df_train.head()

   addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0    100101     9  2014      0.39    35.021071          0.0
1    100101    10  2014      2.62    36.187143          0.0
2    100101    11  2014      0.00    37.017679          0.0
3    100101    12  2014     29.41    36.483750          0.0
4    100101    13  2014     99.18    36.932500          0.0

In [387]:
df_train_new = pd.merge(df_train,df_new_cd, how = 'inner')
df_train_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,100101,9,2014,0.39,35.021071,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
1,100101,10,2014,2.62,36.187143,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
2,100101,11,2014,0.00,37.017679,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
3,100101,12,2014,29.41,36.483750,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
4,100101,13,2014,99.18,36.932500,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523

In [388]:
df_train_new['rainfall'] = (df_train_new['rainfall'] / max(df_train_new['rainfall'])) * 5
df_train_new['temperature'] = (df_train_new['temperature'] / max(df_train_new['temperature'])) * 5
df_train_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,100101,9,2014,0.011162,4.169299,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
1,100101,10,2014,0.074986,4.308121,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
2,100101,11,2014,0.000000,4.406998,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
3,100101,12,2014,0.841729,4.343433,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
4,100101,13,2014,2.838580,4.396857,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523

In [389]:
df_train_new.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/train_bangkok_subdist_all.csv', encoding = 'utf-8')

In [390]:
df_train_new = df_train_new.iloc[:,[0,1,2,3,4,5,14,23,32,41,50,59,68,77,86]]
df_train_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,100101,9,2014,0.011162,4.169299,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523
1,100101,10,2014,0.074986,4.308121,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523
2,100101,11,2014,0.000000,4.406998,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523
3,100101,12,2014,0.841729,4.343433,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523
4,100101,13,2014,2.838580,4.396857,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523

In [391]:
df_train_new.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/train_bangkok_subdist_total.csv', encoding = 'utf-8')

### Testing

In [392]:
df_test = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Bangkok','Original','test_bangkok_subdist_original.csv'), header=0, skiprows=0)
df_test = df_test.drop('Unnamed: 0', axis = 1)
df_test.head()

   addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0    100101     1  2017      0.30    34.075000          0.0
1    100101     2  2017     48.99    33.560000          0.0
2    100101     3  2017      0.00    33.681071          0.0
3    100101     4  2017      4.52    34.803214          0.0
4    100101     5  2017     34.26    35.191071          0.0

In [393]:
df_test_new = pd.merge(df_test,df_new_cd, how = 'inner')
df_test_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,100101,1,2017,0.30,34.075000,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
1,100101,2,2017,48.99,33.560000,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
2,100101,3,2017,0.00,33.681071,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
3,100101,4,2017,4.52,34.803214,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
4,100101,5,2017,34.26,35.191071,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523

In [394]:
df_test_new['rainfall'] = (df_test_new['rainfall'] / max(df_test_new['rainfall'])) * 5
df_test_new['temperature'] = (df_test_new['temperature'] / max(df_test_new['temperature'])) * 5
df_test_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,100101,1,2017,0.007021,4.095746,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
1,100101,2,2017,1.146501,4.033844,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
2,100101,3,2017,0.000000,4.048397,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
3,100101,4,2017,0.105780,4.183276,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523
4,100101,5,2017,0.801779,4.229896,0.0,2.486486,3.565891,1.207349,0.733652,...,0.024565,15.189189,21.782946,7.375328,4.481659,4.912587,4.126285,2.353434,2.517921,0.57523

In [395]:
df_test_new.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/test_bangkok_subdist_all.csv', encoding = 'utf-8')

In [396]:
df_test_new = df_test_new.iloc[:,[0,1,2,3,4,5,14,23,32,41,50,59,68,77,86]]
df_test_new.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,100101,1,2017,0.007021,4.095746,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523
1,100101,2,2017,1.146501,4.033844,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523
2,100101,3,2017,0.000000,4.048397,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523
3,100101,4,2017,0.105780,4.183276,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523
4,100101,5,2017,0.801779,4.229896,0.0,0.094166,0.01433,0.090072,0.022518,0.004094,0.296827,0.028659,0.024565,0.57523

In [397]:
df_test_new.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/test_bangkok_subdist_total.csv', encoding = 'utf-8')

## District

In [398]:
df_area_pop = pd.read_csv(os.path.join('Data','Correlation','area_pop_bangkok_dist.csv'), encoding = 'utf-8')
df_area_pop = df_area_pop.drop('Unnamed: 0', axis = 1)
df_area_pop = df_area_pop.iloc[:,[0,12,13,14,15,16,17,18,19]]
df_area_pop['addrcode'] = df_area_pop['addrcode'].astype(str)
df_area_pop.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s
0,1001,2745.25,1952.95,4755.19,9407.52,8770.90,9992.71,17045.57,15814.03
1,1002,1631.16,844.56,1601.72,5212.72,4357.12,4513.52,8249.64,7935.92
2,1003,2421.14,1177.76,1998.18,4063.85,3642.42,4758.13,6196.50,2513.45
3,1004,2929.23,1516.77,2782.17,7500.06,8987.76,9517.86,15636.24,15554.16
4,1005,11187.88,5159.66,9100.14,23535.72,24314.04,31510.68,46272.44,25137.48

In [399]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_bangkok.csv'))
df_area = df_area.drop(['Unnamed: 0','image_coverage'], axis = 1)
df_area['addrcode'] = df_area['addrcode'].astype(str)
df_area = df_area.groupby(df_area['addrcode'].str[:4]).sum().reset_index()
df_area['image/area'] = df_area['image_area']/ df_area['land_area']
df_area['image/area'].loc[df_area['image/area'] > 1 ] = 1
df_area['image/area'] = df_area['image/area'].round(2)
df_area.head()

  addrcode  land_area  image_area  image/area
0     1001      49.81       69.02        1.00
1     1002      53.07       49.04        0.92
2     1003    2004.40      343.33        0.17
3     1004      37.26       63.79        1.00
4     1005     380.54      356.60        0.94

In [400]:
df_pop_total = pd.read_csv(os.path.join('Data','Population','addrcode-index','Bangkok-population.csv'))
df_pop_total['addrcode'] = df_pop_total['addrcode'].astype(str).str[:6]
df_pop_total = df_pop_total.groupby(df_pop_total['addrcode'].str[:4]).sum().reset_index()
df_pop_total

   addrcode   Total
0      1001   50708
1      1002   91338
2      1003  166831
3      1004   37675
4      1005  187466
5      1006  145876
6      1007   44258
7      1008   43959
8      1009   89321
9      1010  138861
10     1011  170544
11     1012   77036
12     1013   23443
13     1014   68754
14     1015  108266
15     1016   65851
16     1017   78120
17     1018   68236
18     1019  104125
19     1020  106661
20     1021  177638
21     1022  124496
22     1023  153299
23     1024   81456
24     1025   92189
25     1026  120649
26     1027  142580
27     1028   76168
28     1029  121269
29     1030  154744
30     1031   85016
31     1032  169559
32     1033   95046
33     1034  119017
34     1035  148664
35     1036  166383
36     1037   61342
37     1038  119301
38     1039   67921
39     1040  189098
40     1041  103578
41     1042  196676
42     1043   86665
43     1044   93884
44     1045  110812
45     1046  187992
46     1047   89508
47     1048   77075
48     1049  119431
49     1050  104142

In [401]:
df_area_pop_total = pd.merge(df_area,df_pop_total, how = 'inner')
df_area_pop_total['total_s'] = df_area_pop_total['image/area'] * df_area_pop_total['Total']
df_area_pop_total = df_area_pop_total.iloc[:,[0,5]]
df_area_pop_total['addrcode'] = df_area_pop_total['addrcode'].astype(str)
df_area_pop_total.head()

  addrcode    total_s
0     1001   50708.00
1     1002   84030.96
2     1003   28361.27
3     1004   37675.00
4     1005  176218.04

In [402]:
df_pop_s = pd.merge(df_area_pop,df_area_pop_total, how = 'inner')
df_pop_s.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s,total_s
0,1001,2745.25,1952.95,4755.19,9407.52,8770.90,9992.71,17045.57,15814.03,50708.00
1,1002,1631.16,844.56,1601.72,5212.72,4357.12,4513.52,8249.64,7935.92,84030.96
2,1003,2421.14,1177.76,1998.18,4063.85,3642.42,4758.13,6196.50,2513.45,28361.27
3,1004,2929.23,1516.77,2782.17,7500.06,8987.76,9517.86,15636.24,15554.16,37675.00
4,1005,11187.88,5159.66,9100.14,23535.72,24314.04,31510.68,46272.44,25137.48,176218.04

In [403]:
df_container_count = pd.read_csv(os.path.join('Data','Container Density','District Level','container_Bangkok_dist.csv'))
df_container_count = df_container_count.drop('Unnamed: 0', axis = 1)
df_container_count.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,1001,167,87,509,73,22,1543,101,25,2527
1,1002,104,24,292,20,10,630,77,1,1158
2,1003,796,47,2679,30,169,3029,675,7,7432
3,1004,126,68,474,45,16,1070,143,14,1956
4,1005,1541,130,4342,85,262,7664,827,28,14879

In [404]:
df_new_cd = pd.DataFrame(df_container_count['addrcode'])
#==========
a = 10
#==========

df_new_cd['bin_pop1s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,1]
df_new_cd['bin_pop2s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,2]
df_new_cd['bin_pop3s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,3]
df_new_cd['bin_pop4s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,4]
df_new_cd['bin_pop5s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,5]
df_new_cd['bin_pop6s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,6]
df_new_cd['bin_pop7s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,7]
df_new_cd['bin_pop8s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,8]
df_new_cd['bin_pop9s'] = a * df_container_count.iloc[:,1]/df_pop_s.iloc[:,9]

df_new_cd['bowl_pop1s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,1]
df_new_cd['bowl_pop2s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,2]
df_new_cd['bowl_pop3s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,3]
df_new_cd['bowl_pop4s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,4]
df_new_cd['bowl_pop5s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,5]
df_new_cd['bowl_pop6s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,6]
df_new_cd['bowl_pop7s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,7]
df_new_cd['bowl_pop8s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,8]
df_new_cd['bowl_pop9s'] = a * df_container_count.iloc[:,2]/df_pop_s.iloc[:,9]

df_new_cd['bucket_pop1s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,1]
df_new_cd['bucket_pop2s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,2]
df_new_cd['bucket_pop3s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,3]
df_new_cd['bucket_pop4s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,4]
df_new_cd['bucket_pop5s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,5]
df_new_cd['bucket_pop6s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,6]
df_new_cd['bucket_pop7s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,7]
df_new_cd['bucket_pop8s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,8]
df_new_cd['bucket_pop9s'] = a * df_container_count.iloc[:,3]/df_pop_s.iloc[:,9]

df_new_cd['misc_short_pop1s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,1]
df_new_cd['misc_short_pop2s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,2]
df_new_cd['misc_short_pop3s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,3]
df_new_cd['misc_short_pop4s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,4]
df_new_cd['misc_short_pop5s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,5]
df_new_cd['misc_short_pop6s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,6]
df_new_cd['misc_short_pop7s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,7]
df_new_cd['misc_short_pop8s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,8]
df_new_cd['misc_short_pop9s'] = a * df_container_count.iloc[:,4]/df_pop_s.iloc[:,9]

df_new_cd['jar_pop1s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,1]
df_new_cd['jar_pop2s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,2]
df_new_cd['jar_pop3s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,3]
df_new_cd['jar_pop4s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,4]
df_new_cd['jar_pop5s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,5]
df_new_cd['jar_pop6s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,6]
df_new_cd['jar_pop7s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,7]
df_new_cd['jar_pop8s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,8]
df_new_cd['jar_pop9s'] = a * df_container_count.iloc[:,5]/df_pop_s.iloc[:,9]

df_new_cd['pottedplant_pop1s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,1]
df_new_cd['pottedplant_pop2s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,2]
df_new_cd['pottedplant_pop3s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,3]
df_new_cd['pottedplant_pop4s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,4]
df_new_cd['pottedplant_pop5s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,5]
df_new_cd['pottedplant_pop6s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,6]
df_new_cd['pottedplant_pop7s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,7]
df_new_cd['pottedplant_pop8s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,8]
df_new_cd['pottedplant_pop9s'] = a * df_container_count.iloc[:,6]/df_pop_s.iloc[:,9]

df_new_cd['tire_pop1s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,1]
df_new_cd['tire_pop2s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,2]
df_new_cd['tire_pop3s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,3]
df_new_cd['tire_pop4s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,4]
df_new_cd['tire_pop5s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,5]
df_new_cd['tire_pop6s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,6]
df_new_cd['tire_pop7s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,7]
df_new_cd['tire_pop8s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,8]
df_new_cd['tire_pop9s'] = a * df_container_count.iloc[:,7]/df_pop_s.iloc[:,9]

df_new_cd['misc_tall_pop1s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,1]
df_new_cd['misc_tall_pop2s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,2]
df_new_cd['misc_tall_pop3s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,3]
df_new_cd['misc_tall_pop4s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,4]
df_new_cd['misc_tall_pop5s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,5]
df_new_cd['misc_tall_pop6s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,6]
df_new_cd['misc_tall_pop7s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,7]
df_new_cd['misc_tall_pop8s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,8]
df_new_cd['misc_tall_pop9s'] = a * df_container_count.iloc[:,8]/df_pop_s.iloc[:,9]

df_new_cd['total_pop1s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,1]
df_new_cd['total_pop2s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,2]
df_new_cd['total_pop3s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,3]
df_new_cd['total_pop4s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,4]
df_new_cd['total_pop5s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,5]
df_new_cd['total_pop6s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,6]
df_new_cd['total_pop7s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,7]
df_new_cd['total_pop8s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,8]
df_new_cd['total_pop9s'] = a * df_container_count.iloc[:,9]/df_pop_s.iloc[:,9]

df_new_cd.head()

,addrcode,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,bin_pop5s,bin_pop6s,bin_pop7s,bin_pop8s,bin_pop9s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,1001,0.608323,0.855117,0.351195,0.177518,0.190402,0.167122,0.097973,0.105602,0.032934,...,0.004930,9.204990,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
1,1002,0.637583,1.231410,0.649302,0.199512,0.238690,0.230419,0.126066,0.131050,0.012376,...,0.000119,7.099242,13.711282,7.229728,2.221489,2.657719,2.565625,1.403698,1.459188,0.137806
2,1003,3.287707,6.758593,3.983625,1.958734,2.185360,1.672926,1.284596,3.166962,0.280664,...,0.002468,30.696284,63.102839,37.193846,18.288077,20.404017,15.619582,11.993868,29.568919,2.620475
3,1004,0.430147,0.830713,0.452884,0.167999,0.140191,0.132383,0.080582,0.081007,0.033444,...,0.003716,6.677523,12.895825,7.030483,2.607979,2.176293,2.055084,1.250940,1.257541,0.519177
4,1005,1.377383,2.986631,1.693381,0.654749,0.633790,0.489041,0.333028,0.613029,0.087448,...,0.001589,13.299213,28.837171,16.350298,6.321880,6.119510,4.721891,3.215521,5.919050,0.844352

### Training

In [405]:
df_train_dist = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Bangkok','Original','train_bangkok_dist_original.csv'), header=0, skiprows=0)
df_train_dist = df_train_dist.drop('Unnamed: 0', axis = 1)
df_train_dist.head()

   addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0      1001     9  2014      4.38    35.068214     0.000000
1      1001    10  2014     28.09    36.250238     0.000000
2      1001    11  2014      0.00    37.047440     0.197208
3      1001    12  2014    351.07    36.516012     0.197208
4      1001    13  2014   1053.51    37.135417     0.000000

In [406]:
df_train_dist = pd.merge(df_train_dist, df_new_cd, how ='inner')
df_train_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,1001,9,2014,4.38,35.068214,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
1,1001,10,2014,28.09,36.250238,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
2,1001,11,2014,0.00,37.047440,0.197208,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
3,1001,12,2014,351.07,36.516012,0.197208,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
4,1001,13,2014,1053.51,37.135417,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343

In [407]:
df_train_dist['rainfall'] = (df_train_dist['rainfall'] / max(df_train_dist['rainfall'])) * 5
df_train_dist['temperature'] = (df_train_dist['temperature'] / max(df_train_dist['temperature'])) * 5

In [408]:
df_train_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,1001,9,2014,0.010978,4.174912,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
1,1001,10,2014,0.070403,4.315633,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
2,1001,11,2014,0.000000,4.410541,0.197208,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
3,1001,12,2014,0.879901,4.347274,0.197208,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
4,1001,13,2014,2.640455,4.421015,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343

In [409]:
df_train_dist.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/train_bangkok_dist_all.csv', encoding = 'utf-8')

In [410]:
df_train_dist = df_train_dist.iloc[:,[0,1,2,3,4,5,14,23,32,41,50,59,68,77,86]]
df_train_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,1001,9,2014,0.010978,4.174912,0.000000,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343
1,1001,10,2014,0.070403,4.315633,0.000000,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343
2,1001,11,2014,0.000000,4.410541,0.197208,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343
3,1001,12,2014,0.879901,4.347274,0.197208,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343
4,1001,13,2014,2.640455,4.421015,0.000000,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343

In [411]:
df_train_dist.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/train_bangkok_dist_total.csv', encoding = 'utf-8')

In [431]:
from tqdm import tqdm
from os import listdir
path = '/Users/boonpakorn/Documents/GitHub/dengue_data_statistics/Data/Modeling/Training&Testing/Bangkok/Modified Lags/'
filename = []
filelist= listdir(path)
for f in tqdm(filelist):
    if f.startswith('train_bangkok'):
        filename.append(f)
len(filename)

100%|| 12/12 [00:00<00:00, 33156.55it/s]

6

In [432]:
filename

['train_bangkok_subdist_total_mavg2.csv',
 'train_bangkok_subdist_total_mavg3.csv',
 'train_bangkok_subdist_total_mavg4.csv',
 'train_bangkok_dist_total_mavg3.csv',
 'train_bangkok_dist_total_mavg2.csv',
 'train_bangkok_dist_total_mavg4.csv']

In [433]:
for filename in filename:

    df_train_lag = pd.read_csv(os.path.join(path+filename))
    df_train_lag = df_train_lag.drop('Unnamed: 0', axis = 1)
    df_train_lag['WeekYear'] = df_train_lag[['Week','Year']].astype(str).sum(axis=1)
    df_train_lag['WeekYear'] = df_train_lag['WeekYear'].astype(str).str[:-2]
    df_train_lag.head()
    #list = ['92014','102014','112014','122014','132014','142014','472016','482016','492016','502016','512016','522016']
    list = ['92014','102014','112014','122014','132014','142014','522016']

    for i in range(len(list)):
         df_train_lag = df_train_lag[df_train_lag.WeekYear != list[i]]

    df_train_lag.to_csv(path+filename , encoding = 'utf-8')

### Testing

In [412]:
df_test_dist = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','Bangkok','Original','test_bangkok_dist_original.csv'), header=0, skiprows=0)
df_test_dist = df_test_dist.drop('Unnamed: 0', axis = 1)
df_test_dist.head()

   addrcode  Week  Year  rainfall  temperature  DFp10000Pop
0      1001     1  2017      2.15    33.650833     0.591623
1      1001     2  2017    631.08    33.335000     0.000000
2      1001     3  2017      0.00    33.594405     0.000000
3      1001     4  2017     51.49    34.802262     0.197208
4      1001     5  2017    366.47    35.255417     0.000000

In [413]:
df_test_dist = pd.merge(df_test_dist, df_new_cd, how ='inner')
df_test_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,1001,1,2017,2.15,33.650833,0.591623,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
1,1001,2,2017,631.08,33.335000,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
2,1001,3,2017,0.00,33.594405,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
3,1001,4,2017,51.49,34.802262,0.197208,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
4,1001,5,2017,366.47,35.255417,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343

In [414]:
df_test_dist['rainfall'] = (df_test_dist['rainfall'] / max(df_test_dist['rainfall'])) * 5
df_test_dist['temperature'] = (df_test_dist['temperature'] / max(df_test_dist['temperature'])) * 5

In [415]:
df_test_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,1001,1,2017,0.009295,4.044762,0.591623,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
1,1001,2,2017,2.728334,4.006800,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
2,1001,3,2017,0.000000,4.037980,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
3,1001,4,2017,0.222606,4.183162,0.197208,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343
4,1001,5,2017,1.584351,4.237630,0.000000,0.608323,0.855117,0.351195,0.177518,...,0.00493,9.20499,12.939399,5.314194,2.686149,2.881118,2.528844,1.482497,1.597948,0.498343

In [416]:
df_test_dist.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/test_bangkok_dist_all.csv', encoding = 'utf-8')

In [417]:
df_test_dist = df_test_dist.iloc[:,[0,1,2,3,4,5,14,23,32,41,50,59,68,77,86]]
df_test_dist.head()

,addrcode,Week,Year,rainfall,temperature,DFp10000Pop,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,1001,1,2017,0.009295,4.044762,0.591623,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343
1,1001,2,2017,2.728334,4.006800,0.000000,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343
2,1001,3,2017,0.000000,4.037980,0.000000,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343
3,1001,4,2017,0.222606,4.183162,0.197208,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343
4,1001,5,2017,1.584351,4.237630,0.000000,0.032934,0.017157,0.100379,0.014396,0.004339,0.304291,0.019918,0.00493,0.498343

In [418]:
df_test_dist.to_csv('Data/Modeling/Training&Testing/Bangkok/Original/test_bangkok_dist_total.csv', encoding = 'utf-8')

In [423]:
from tqdm import tqdm
from os import listdir
path = '/Users/boonpakorn/Documents/GitHub/dengue_data_statistics/Data/Modeling/Training&Testing/Bangkok/Normal Lags/'
filename = []
filelist= listdir(path)
for f in tqdm(filelist):
    if f.startswith('test_bangkok'):
        filename.append(f)
len(filename)

100%|| 12/12 [00:00<00:00, 13100.38it/s]

6

In [424]:
filename

['test_bangkok_dist_total_mavg3.csv',
 'test_bangkok_dist_total_mavg2.csv',
 'test_bangkok_dist_total_mavg4.csv',
 'test_bangkok_subdist_total_mavg4.csv',
 'test_bangkok_subdist_total_mavg2.csv',
 'test_bangkok_subdist_total_mavg3.csv']

In [425]:
for filename in filename:

    df_test_lag = pd.read_csv(os.path.join(path+filename))
    df_test_lag = df_test_lag.drop('Unnamed: 0', axis = 1)
    df_test_lag['WeekYear'] = df_test_lag[['Week','Year']].astype(str).sum(axis=1)
    df_test_lag['WeekYear'] = df_test_lag['WeekYear'].astype(str).str[:-2]
    df_test_lag.head()
    list = ['12017','22017','32017','42017','52017','62017','472017','482017','492017','502017','512017','522017']
    #list = ['12017','22017','32017','42017','52017','62017','522017']

    for i in range(len(list)):
         df_test_lag = df_test_lag[df_test_lag.WeekYear != list[i]]
        
    df_test_lag.to_csv(path+filename, encoding = 'utf-8')

# Normal Container Density

## Subdistrict

In [490]:
df_container_nst = pd.read_csv(os.path.join('Data','Container Density','Subdistrict level','CD_NST_subdist.csv'))
df_container_nst = df_container_nst.drop('Unnamed: 0', axis = 1)
df_container_nst['addrcode'] = df_container_nst['addrcode'].astype(str)
df_container_krabi = pd.read_csv(os.path.join('Data','Container Density','Subdistrict level','CD_krabi_subdist.csv'))
df_container_krabi = df_container_krabi.drop('Unnamed: 0', axis = 1)
df_container_krabi['addrcode'] = df_container_krabi['addrcode'].astype(str)
df_container_bangkok = pd.read_csv(os.path.join('Data','Container Density','Subdistrict level','CD_Bangkok_subdist.csv'))
df_container_bangkok = df_container_bangkok.drop('Unnamed: 0', axis = 1)
df_container_bangkok['addrcode'] = df_container_bangkok['addrcode'].astype(str)

In [495]:
from tqdm import tqdm
from os import listdir
path = '/Users/boonpakorn/Documents/GitHub/dengue_data_statistics/Data/Modeling/Training&Testing/Bangkok/Modified Lags/'
filename = []
filelist= listdir(path)
for f in tqdm(filelist):
    if f.startswith('test_bangkok_sub'):
        filename.append(f)
len(filename)

100%|| 15/15 [00:00<00:00, 37030.35it/s]

3

In [496]:
filename

['test_bangkok_subdist_total_mavg4.csv',
 'test_bangkok_subdist_total_mavg2.csv',
 'test_bangkok_subdist_total_mavg3.csv']

In [497]:
filename[0][:-15]+'cd'+filename[0][-10:]

'test_bangkok_subdist_cd_mavg4.csv'

In [498]:
for filename in filename:

    df_train = pd.read_csv(os.path.join(path+filename), index_col = 0)
    df_train['addrcode'] = df_train['addrcode'].astype(str).str[:6]
    # Normal Lags
    #df_train = df_train.iloc[:,0:25]
    # Modified Lags
    df_train = df_train.iloc[:,0:21]
    df_train = pd.merge(df_train, df_container_bangkok, how = 'inner')
    df_train.to_csv(path + filename[:-15]+'cd'+filename[-10:], encoding = 'utf-8')

## District

In [507]:
df_container_nst = pd.read_csv(os.path.join('Data','Container Density','District level','CD_NST_dist.csv'))
df_container_nst = df_container_nst.drop('Unnamed: 0', axis = 1)
df_container_nst['addrcode'] = df_container_nst['addrcode'].astype(str)
df_container_krabi = pd.read_csv(os.path.join('Data','Container Density','District level','CD_krabi_dist.csv'))
df_container_krabi = df_container_krabi.drop('Unnamed: 0', axis = 1)
df_container_krabi['addrcode'] = df_container_krabi['addrcode'].astype(str)
df_container_bangkok = pd.read_csv(os.path.join('Data','Container Density','District level','CD_bangkok_dist.csv'))
df_container_bangkok = df_container_bangkok.drop('Unnamed: 0', axis = 1)
df_container_bangkok['addrcode'] = df_container_bangkok['addrcode'].astype(str)

In [512]:
from tqdm import tqdm
from os import listdir
path = '/Users/boonpakorn/Documents/GitHub/dengue_data_statistics/Data/Modeling/Training&Testing/Bangkok/Modified Lags/'
filename = []
filelist= listdir(path)
for f in tqdm(filelist):
    if f.startswith('test_bangkok_dist'):
        filename.append(f)
len(filename)

100%|| 22/22 [00:00<00:00, 73117.82it/s]

3

In [513]:
filename

['test_bangkok_dist_total_mavg3.csv',
 'test_bangkok_dist_total_mavg2.csv',
 'test_bangkok_dist_total_mavg4.csv']

In [514]:
filename[0][:-15]+'cd'+filename[0][-10:]

'test_bangkok_dist_cd_mavg3.csv'

In [515]:
for filename in filename:

    df_train = pd.read_csv(os.path.join(path+filename), index_col = 0)
    df_train['addrcode'] = df_train['addrcode'].astype(str).str[:6]
    # Normal Lags
    #df_train = df_train.iloc[:,0:25]
    # Modified Lags
    df_train = df_train.iloc[:,0:21]
    df_train = pd.merge(df_train, df_container_bangkok, how = 'inner')
    df_train.to_csv(path + filename[:-15]+'cd'+filename[-10:], encoding = 'utf-8')