# Data Statistic

In [10]:
import pandas as pd
import os
import numpy as np
import numpy

## Data dictionary

In [ ]:
df_dic = pd.read_csv(os.path.join('Data','Other','Dictionary.csv'))
df_dic['TA_ID'] = df_dic['TA_ID'].astype(str)
df_dic.head()

In [ ]:
df_dic_bangkok_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '10']
bangkok_subdist = df_dic_bangkok_subdist['TA_ID'].values
df_dic_nakhon_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '80']
nakhon_subdist = df_dic_nakhon_subdist['TA_ID'].values
df_dic_krabi_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '81']
krabi_subdist = df_dic_krabi_subdist['TA_ID'].values

## Yearly Dengue Case Statistic

In [ ]:
df_case = pd.read_csv(os.path.join('data','Dengue-Cases','DHF','DHF-monthly.csv'))
df_case = df_case.drop("Unnamed: 0", axis=1)
df_case.columns = ['addrcode','Year','Month','NumberCases']
df_case['addrcode'] = df_case['addrcode'].astype(str)
df_case.head(10)

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_numcase = df_case.groupby([df_case['Year'],df_case['Month'],df_case['addrcode'].str[:2]]).aggregate(aggregation_function).reset_index()
df_numcase.head()

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_subdist = df_case.groupby([df_case['Year'],df_case['Month'],df_case['addrcode'].str[:2]]).size().reset_index(name='NumSubdist')
df_subdist.head()

In [ ]:
df_countdist =df_case.groupby([df_case['Year'],df_case['Month'],df_case['addrcode'].str[:4]]).size().reset_index(name='NumSubdist')
df_dist = df_countdist.groupby([df_countdist['Year'],df_countdist['Month'],df_countdist['addrcode'].str[:2]]).size().reset_index(name='NumDist')
df_dist.head()

In [ ]:
df_num = pd.merge(df_dist, df_subdist, on= ['Year','Month','addrcode'])
df_num.head()

### Result

In [ ]:
df_province_case = pd.merge(df_num, df_numcase, on = ['Year','Month','addrcode'])
df_province_case.head()

In [ ]:
#df_province_case.to_csv(os.path.join('data','Data Statistic','dengue_province_stat.csv'), encoding='utf-8')

## Weekly Temperature Data

### From Livestock Department

In [ ]:
df_weather = pd.read_csv(os.path.join('data','Weather','Unused','weather_weekly_ID.csv'))
df_weather.columns = ['ID','TAM_NAME','Year','Week','Humidity','Rainfall','Temperature','Windspeed','addrcode']
df_weather = df_weather.dropna(how='any', axis=0)
df_weather['addrcode'] = df_weather['addrcode'].astype(int)
df_weather['addrcode'] = df_weather['addrcode'].astype(str)
df_weather.head()

In [ ]:
df_weather_week = df_weather.groupby([df_weather['Year'],df_weather['Week'],df_weather['addrcode'].str[:2]]).size().reset_index(name = 'count')
df_weather_week.head()

In [ ]:
df_weather = df_weather.dropna(how='any', axis=0)
df_weather.head()

In [ ]:
df_week = df_weather.groupby([df_weather['Year'],df_weather['Week'],df_weather['addrcode'].str[:2]]).size().reset_index(name = 'count')
df_week.head()

In [ ]:
df_week_count = df_week.groupby([df_week['Year']]).size().reset_index(name = 'week_count')
df_week_count.head()

## Monthly Rainfall Data 
### From Trop Med

In [ ]:
df_rainfall = pd.read_csv(os.path.join('data','Weather','rainfall.csv'))
df_rainfall['addrcode'] = df_rainfall['addrcode'].astype(str)
df_rainfall.head()

In [ ]:
df_rainfall['date'] = pd.to_datetime(df_rainfall['date'],format = '%Y-%m-%d')
df_rainfall['Year'] = df_rainfall['date'].dt.year
df_rainfall['Month'] = df_rainfall['date'].dt.month
df_rainfall = df_rainfall[['addrcode','date','Year','Month','rainfall_sum','rainfall_avg']]
df_rainfall.head()

In [ ]:
df_rainfallmonth = df_rainfall.groupby([df_rainfall['addrcode'].str[:2],df_rainfall['Year'],df_rainfall['Month']]).size().reset_index(name ='Count')
df_rainfallmonth.head()

In [ ]:
df_rainfallyear = df_rainfallmonth.groupby([df_rainfallmonth['addrcode'].str[:2],df_rainfallmonth['Year']]).size().reset_index(name = 'NumMonth')
df_rainfallyear.head()

In [ ]:
df_rainfall.loc[df_rainfall['addrcode'].str[:2] == '10'].head()

In [ ]:
df_rainfall_subdistlevel = df_rainfall.groupby(df_rainfall['addrcode']).size().reset_index(name = 'count')
df_rainfall_subdistlevel.head()

In [ ]:
df_rainfall_subdistlevel = df_rainfall_subdistlevel.loc[df_rainfall_subdistlevel['addrcode'].str.len() == 6]
df_rainfall_subdistlevel.head()

In [ ]:
df_rainfall_province = df_rainfall_subdistlevel.groupby(df_rainfall_subdistlevel['addrcode'].str[:2]).size().reset_index(name = 'count')
df_rainfall_province

In [ ]:
df_rainfall_bangkok_subdist = df_rainfall_subdistlevel.loc[df_rainfall_subdistlevel['addrcode'].str[:2] == '10']
rainfall_bangkok_subdist = df_rainfall_bangkok_subdist['addrcode'].values
len(df_rainfall_bangkok_subdist)

In [ ]:
df_rainfall_nakhon_subdist = df_rainfall_subdistlevel.loc[df_rainfall_subdistlevel['addrcode'].str[:2] == '80']
rainfall_nakhon_subdist = df_rainfall_nakhon_subdist['addrcode'].values
len(df_rainfall_nakhon_subdist)

In [ ]:
df_rainfall_krabi_subdist = df_rainfall_subdistlevel.loc[df_rainfall_subdistlevel['addrcode'].str[:2] == '81']
rainfall_krabi_subdist = df_rainfall_krabi_subdist['addrcode'].values
len(df_rainfall_krabi_subdist)

## Number of missing sub-district

### Bangkok

In [ ]:
missing_bangkok = set(bangkok_subdist) - set(rainfall_bangkok_subdist)
len(missing_bangkok)

In [ ]:
missing_dist_bangkok = []
for i in range(len(missing_bangkok)):
    missing_dist_bangkok.append(missing_bangkok.pop())
missing_dist_bangkok = np.array(missing_dist_bangkok)
df_missing_dist_bangkok = pd.DataFrame(missing_dist_bangkok, columns = ['TA_ID'])
df_missing_dist_bangkok.head()

In [ ]:
missing_sub_bangkok = pd.merge(df_dic,df_missing_dist_bangkok, how = 'inner')
missing_sub_bangkok.iloc[:,[0,1]].head()

In [ ]:
invalid_bangkok = set(rainfall_bangkok_subdist) - set(bangkok_subdist)
len(invalid_bangkok)

### Nakhon-Si-Thammarat

In [ ]:
missing_nakhon = set(nakhon_subdist) - set(rainfall_nakhon_subdist)
len(missing_nakhon)

In [ ]:
missing_dist_nakhon = []
for i in range(len(missing_nakhon)):
    missing_dist_nakhon.append(missing_nakhon.pop())
missing_dist_nakhon = np.array(missing_dist_nakhon)
df_missing_dist_nakhon = pd.DataFrame(missing_dist_nakhon, columns = ['TA_ID'])
df_missing_dist_nakhon.head()

In [ ]:
missing_sub_nakhon = pd.merge(df_dic,df_missing_dist_nakhon, how = 'inner')
missing_sub_nakhon.iloc[:,[0,1]].head()

In [ ]:
invalid_nakhon = set(rainfall_nakhon_subdist) - set(nakhon_subdist)
len(invalid_nakhon)

### Krabi

In [ ]:
missing_krabi = set(krabi_subdist) - set(rainfall_krabi_subdist)
len(missing_krabi)

In [ ]:
missing_dist_krabi = []
for i in range(len(missing_krabi)):
    missing_dist_krabi.append(missing_krabi.pop())
missing_dist_krabi = np.array(missing_dist_krabi)
df_missing_dist_krabi = pd.DataFrame(missing_dist_krabi, columns = ['TA_ID'])
df_missing_dist_krabi.head()

In [ ]:
missing_sub_krabi = pd.merge(df_dic,df_missing_dist_krabi, how = 'inner')
missing_sub_krabi.iloc[:,[0,1]].head()

In [ ]:
invalid_krabi = set(rainfall_krabi_subdist) - set(krabi_subdist)
invalid_krabi

## Monthly Landscape Temperature Data
### From Trop Med

In [ ]:
df_temp = pd.read_csv(os.path.join('data','Weather','temperature.csv'))
df_temp['addrcode'] = df_temp['addrcode'].astype(str)
df_temp.head()

In [ ]:
df_temp['date'] = pd.to_datetime(df_temp['date'],format = '%Y-%m-%d')
df_temp['Year'] = df_temp['date'].dt.year
df_temp['Month'] = df_temp['date'].dt.month
df_temp = df_temp[['addrcode','date','Year','Month','temperature']]
df_temp.head()

In [ ]:
df_tempmonth = df_temp.groupby([df_temp['addrcode'].str[:2],df_temp['Year'],df_temp['Month']]).size().reset_index(name ='Count')
df_tempmonth.head()

In [ ]:
df_tempyear = df_tempmonth.groupby([df_tempmonth['addrcode'].str[:2],df_tempmonth['Year']]).size().reset_index(name = 'NumMonth')
df_tempyear.head()

In [ ]:
df_temp_subdistlevel = df_temp.groupby(df_temp['addrcode']).size().reset_index(name = 'count')
df_temp_subdistlevel.head()

In [ ]:
df_temp_province = df_temp_subdistlevel.groupby(df_temp_subdistlevel['addrcode'].str[:2]).size().reset_index(name = 'count')
df_temp_province

In [ ]:
df_temp_bangkok_subdist = df_temp_subdistlevel.loc[df_temp_subdistlevel['addrcode'].str[:2] == '10']
temp_bangkok_subdist = df_temp_bangkok_subdist['addrcode'].values
len(df_temp_bangkok_subdist)

In [ ]:
df_temp_nakhon_subdist = df_temp_subdistlevel.loc[df_temp_subdistlevel['addrcode'].str[:2] == '80']
temp_nakhon_subdist = df_temp_nakhon_subdist['addrcode'].values
len(df_temp_nakhon_subdist)

In [ ]:
df_temp_krabi_subdist = df_temp_subdistlevel.loc[df_temp_subdistlevel['addrcode'].str[:2] == '81']
temp_krabi_subdist = df_temp_krabi_subdist['addrcode'].values
len(df_temp_krabi_subdist)

## Number of missing sub-district

### Bangkok

In [ ]:
missing_temp_bangkok = set(bangkok_subdist) - set(temp_bangkok_subdist)
len(missing_temp_bangkok)

In [ ]:
invalid_temp_bangkok = set(temp_bangkok_subdist) - set(bangkok_subdist) 
len(invalid_temp_bangkok)

### Nakhon-Si-Thammarat

In [ ]:
missing_temp_nakhon = set(nakhon_subdist) - set(temp_nakhon_subdist)
len(missing_temp_nakhon)

In [ ]:
invalid_temp_nakhon = set(temp_nakhon_subdist) - set(nakhon_subdist) 
len(invalid_temp_nakhon)

### Krabi

In [ ]:
missing_temp_krabi = set(krabi_subdist) - set(temp_krabi_subdist)
len(missing_temp_krabi)

In [ ]:
invalid_temp_krabi = set(temp_krabi_subdist) - set(krabi_subdist) 
invalid_temp_krabi

## Monthly Breeding Site Detection Data

In [ ]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection.head()

In [ ]:
df_detection['date'] = pd.to_datetime(df_detection['date'],format = '%Y-%m-%d')
df_detection['Year'] = df_detection['date'].dt.year
df_detection['Month'] = df_detection['date'].dt.month
df_detection['addrcode'] = df_detection['addrcode'].astype(str)
df_detection['Year'] = df_detection['Year'].astype(str)
df_detection['Month'] = df_detection['Month'].astype(str)
df_detection = df_detection[['date','Year','Month','addrcode','bin','bowl','bucket','cup','jar','pottedplant','tire','vase','total']]
df_detection.head()

In [ ]:
df_detectionmonth = df_detection.groupby([df_detection['addrcode'].str[:2],df_detection['Year'],df_detection['Month']]).size().reset_index(name ='Count')
df_detectionmonth.head()

In [ ]:
df_detectionyear = df_detectionmonth.groupby([df_detectionmonth['addrcode'].str[:2],df_detectionmonth['Year']]).size().reset_index(name = 'NumMonth')
df_detectionyear

## Compare sub-district in Bangkok

In [ ]:
df_new_dic = pd.read_csv(os.path.join('Data','Other','Newver-Dictionary.csv'))
df_new_dic['PV_IDN'] = df_new_dic['PV_IDN'].astype(str)
df_new_dic = df_new_dic.loc[df_new_dic['PV_IDN'] == '10']
df_new_dic.head()

In [ ]:
df_dic_bangkok_subdist.head()

In [ ]:
df_dic_bangkok_compare = df_dic_bangkok_subdist.iloc[:,[0,1]]
df_dic_bangkok_compare.head()

In [ ]:
df_new_dic_bangkok = df_new_dic.iloc[:,[0,1]]
df_new_dic_bangkok.head()

In [ ]:
df_new_dic_bangkok.columns = ['TA_ID_NEW', 'TAMBON_T']
df_new_dic_bangkok.head()

In [ ]:
result = pd.merge(df_dic_bangkok_compare,df_new_dic_bangkok, on = 'TAMBON_T',how = 'outer')
result.head(10)
#result.to_csv('compare_subdist_bangkok.csv', encoding = 'utf-8')

## Weekly Dengue cases Data

In [ ]:
df_denguecase_weekly = pd.read_csv(os.path.join('Data','Dengue-cases','DHF','DHF-weekly.csv'))
df_denguecase_weekly = df_denguecase_weekly.drop("Unnamed: 0", axis=1)
df_denguecase_weekly['Subdistrict_Code'] = df_denguecase_weekly['Subdistrict_Code'].astype(str)
df_denguecase_weekly.head()

### Total number of Dengue cases in each province

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_df_weekly_province = df_denguecase_weekly.groupby([df_denguecase_weekly['Subdistrict_Code'].str[:2]]).aggregate(aggregation_function).reset_index()
df_df_weekly_province

### Extract Dengue cases data in Bangkok for 2014-2016

In [ ]:
df_denguecase_weekly_bangkok = df_denguecase_weekly.loc[df_denguecase_weekly['Subdistrict_Code'].str[:2] == '10']
df_denguecase_weekly_bangkok.head()

In [ ]:
df_df_bangkok_2014_2016 = df_denguecase_weekly_bangkok.loc[df_denguecase_weekly_bangkok['Year'] <= 2016]
df_df_bangkok_2014_2016.tail()
#df_df_bangkok_2014_2016.to_csv('dengue-case_weekly_bangkok_2014-2016_subdist.csv', encoding = 'utf-8')

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016.groupby([df_df_bangkok_2014_2016['Subdistrict_Code'].str[:4],df_df_bangkok_2014_2016['Year'],df_df_bangkok_2014_2016['Week']]).aggregate(aggregation_function).reset_index()
df_df_bangkok_2014_2016_dist.columns = ['District_Code','Year','Week','NumberCases']
df_df_bangkok_2014_2016_dist.head()
#df_df_bangkok_2014_2016_dist.to_csv('dengue-case_weekly_bangkok_2014-2016_dist.csv', encoding = 'utf-8')

## Fill Dengue Fever data with Week Number from date

In [85]:
import datetime
df_dengue_2014 = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Original-files','DF_2014.csv'))
df_dengue_2014.head()

   ID  ADDRCODE  PROVINCE  DATESICK
0   1      3604        10  1-Oct-14
1   2      1203        10  1-Oct-14
2   3      1504        10  1-Oct-14
3   4       502        10  1-Oct-14
4   5      3001        10  1-Oct-14

In [75]:
df_dengue_2014['DATESICK'] = pd.to_datetime(df_dengue_2014['DATESICK'],format = '%d-%b-%y')
df_dengue_2014['Year'] = df_dengue_2014['DATESICK'].dt.year
df_dengue_2014['Month'] = df_dengue_2014['DATESICK'].dt.month
df_dengue_2014['Day'] = df_dengue_2014['DATESICK'].dt.day
df_dengue_2014.head()

   ID  ADDRCODE  PROVINCE   DATESICK  Year  Month  Day
0   1      3604        10 2014-10-01  2014     10    1
1   2      1203        10 2014-10-01  2014     10    1
2   3      1504        10 2014-10-01  2014     10    1
3   4       502        10 2014-10-01  2014     10    1
4   5      3001        10 2014-10-01  2014     10    1

In [76]:
Weeknum = []
for i in range(len(df_dengue_2014)):
    Year = df_dengue_2014['Year'][i]
    Month = df_dengue_2014['Month'][i]
    Day = df_dengue_2014['Day'][i]
    Weeknum.append(datetime.date(Year,Month,Day).isocalendar()[1])

In [77]:
df_dengue_2014['Weeknum'] = Weeknum

In [78]:
df_dengue_2014.head()

   ID  ADDRCODE  PROVINCE   DATESICK  Year  Month  Day  Weeknum
0   1      3604        10 2014-10-01  2014     10    1       40
1   2      1203        10 2014-10-01  2014     10    1       40
2   3      1504        10 2014-10-01  2014     10    1       40
3   4       502        10 2014-10-01  2014     10    1       40
4   5      3001        10 2014-10-01  2014     10    1       40

In [80]:
#df_dengue_2014.to_csv('DF_2014_WeekNum.csv', encoding = 'utf-8')

In [84]:
df_dengue_2014 = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_2014_WeekNum.csv'))
df_dengue_2015 = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_2015_WeekNum.csv'))
df_dengue_2016 = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_2016_WeekNum.csv'))
df_dengue_2017 = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_2017_WeekNum.csv'))
df_dengue_2018 = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_2018_WeekNum.csv'))
frame = pd.DataFrame()
list_ = []
list_.append(df_dengue_2014)
list_.append(df_dengue_2015)
list_.append(df_dengue_2016)
list_.append(df_dengue_2017)
list_.append(df_dengue_2018)
df_dengue_5year = pd.concat(list_)
#df_dengue_5year = df_dengue_5year.sort_values(by = ['PROVINCE','ADDRCODE','Year','Month','Day'])
#df_dengue_5year = df_dengue_5year.reset_index()
#df_dengue_5year = df_dengue_5year.drop('index',axis = 1)
df_dengue_5year = df_dengue_5year.drop('Unnamed: 0',axis = 1)
df_dengue_5year = df_dengue_5year.drop('ID',axis = 1)
df_dengue_5year
df_dengue_5year.to_csv('DF_5YEAR_WeekNum.csv', encoding = 'utf-8')

## Weekly Dengue cases Data

In [ ]:
df_denguecase_weekly = pd.read_csv(os.path.join('Data','Dengue-cases','DHF','DHF-weekly.csv'))
df_denguecase_weekly = df_denguecase_weekly.drop("Unnamed: 0", axis=1)
df_denguecase_weekly['Subdistrict_Code'] = df_denguecase_weekly['Subdistrict_Code'].astype(str)
df_denguecase_weekly.head()

## Total number of Dengue cases in each province

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_df_weekly_province = df_denguecase_weekly.groupby([df_denguecase_weekly['Subdistrict_Code'].str[:2]]).aggregate(aggregation_function).reset_index()
df_df_weekly_province

## Extract Dengue cases data in Bangkok for 2014-2016

In [ ]:
df_denguecase_weekly_bangkok = df_denguecase_weekly.loc[df_denguecase_weekly['Subdistrict_Code'].str[:2] == '10']
df_denguecase_weekly_bangkok.head()

In [ ]:
df_df_bangkok_2014_2016 = df_denguecase_weekly_bangkok.loc[df_denguecase_weekly_bangkok['Year'] <= 2016]
df_df_bangkok_2014_2016.tail()
#df_df_bangkok_2014_2016.to_csv('dengue-case_weekly_bangkok_2014-2016_subdist.csv', encoding = 'utf-8')

## Fill zero case in no-incidence week

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016.groupby([df_df_bangkok_2014_2016['Subdistrict_Code'].str[:4],df_df_bangkok_2014_2016['Year'],df_df_bangkok_2014_2016['Week']]).aggregate(aggregation_function).reset_index()
df_df_bangkok_2014_2016_dist.columns = ['District_Code','Year','Week','NumberCases']
df_df_bangkok_2014_2016_dist.sort_values(by=['Year','District_Code','Week'])
df_df_bangkok_2014_2016_dist.head()

#df_df_bangkok_2014_2016_dist.to_csv('dengue-case_weekly_bangkok_2014-2016_dist.csv', encoding = 'utf-8')

In [ ]:
df_df_bangkok_2014_2016_dist.index  = df_df_bangkok_2014_2016_dist.index+1
df_df_bangkok_2014_2016_dist.loc[0] = [1001,2014,1,0]
df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016_dist.sort_index()
df_df_bangkok_2014_2016_dist.head()

In [ ]:
size = len(df_df_bangkok_2014_2016_dist)
count = 1


for i in range(size-2):
    if df_df_bangkok_2014_2016_dist['Week'][i+1]-df_df_bangkok_2014_2016_dist['Week'][i] < 0:
        if df_df_bangkok_2014_2016_dist['Week'][i] != 53:
            df_df_bangkok_2014_2016_dist.loc[size+1+count] = [df_df_bangkok_2014_2016_dist['District_Code'][i],df_df_bangkok_2014_2016_dist['Year'][i], 53, 0]
            count = count+1
        if df_df_bangkok_2014_2016_dist['Week'][i+1] != 1:
            df_df_bangkok_2014_2016_dist.loc[size+1+count] = [df_df_bangkok_2014_2016_dist['District_Code'][i+1],df_df_bangkok_2014_2016_dist['Year'][i+1], 1, 0]
            count = count+1
        else:
            continue
    elif df_df_bangkok_2014_2016_dist['Week'][i+1]-df_df_bangkok_2014_2016_dist['Week'][i] != 1:
            numloop = df_df_bangkok_2014_2016_dist['Week'][i+1]-df_df_bangkok_2014_2016_dist['Week'][i]
            for j in range(1,numloop):
                df_df_bangkok_2014_2016_dist.loc[size+1+count]  = [df_df_bangkok_2014_2016_dist['District_Code'][i],df_df_bangkok_2014_2016_dist['Year'][i], df_df_bangkok_2014_2016_dist['Week'][i]+j, 0]
                count = count+1

df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016_dist.sort_values(by=['District_Code','Year','Week'])
df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016_dist.reset_index()
df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016_dist.drop('index', axis=1)
df_df_bangkok_2014_2016_dist.head()

In [ ]:
size = len(df_df_bangkok_2014_2016_dist)
size

In [ ]:
## re-loop again for missing week from adding week 1 in previous step
count = 1
for i in range(size-1):
    if df_df_bangkok_2014_2016_dist['Week'][i+1]-df_df_bangkok_2014_2016_dist['Week'][i] != 1:
            numloop = df_df_bangkok_2014_2016_dist['Week'][i+1]-df_df_bangkok_2014_2016_dist['Week'][i]
            for j in range(1,numloop):
                df_df_bangkok_2014_2016_dist.loc[size+1+count]  = [df_df_bangkok_2014_2016_dist['District_Code'][i],df_df_bangkok_2014_2016_dist['Year'][i], df_df_bangkok_2014_2016_dist['Week'][i]+j, 0]
                count = count+1

df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016_dist.sort_values(by=['District_Code','Year','Week'])
df_df_bangkok_2014_2016_dist.head()
df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016_dist[df_df_bangkok_2014_2016_dist.District_Code != '1099']
df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016_dist.reset_index()
df_df_bangkok_2014_2016_dist = df_df_bangkok_2014_2016_dist.drop('index', axis=1)
#df_df_bangkok_2014_2016_dist.to_csv('dengue-case_weekly_bangkok_2014_2016_dist.csv', encoding = 'utf-8')