# Data Statistics

In [1]:
import pandas as pd
import os
import numpy as np
import numpy

## Data dictionary

In [28]:
df_dic = pd.read_csv(os.path.join('Data','Other','Dictionary.csv'))
df_dic['TA_ID'] = df_dic['TA_ID'].astype(str)
df_dic.head()

,TA_ID,TAMBON_T,TAMBON_E,AM_ID,AMPHOE_T,AMPHOE_E,CH_ID,CHANGWAT_T,CHANGWAT_E,LAT,LONG,Population
0,100101,พระบรมมหาราชวัง,Phra Borom Maha Ratchawang,1001,พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.751,100.492,4089
1,100102,วังบูรพาภิรมย์,Wang Burapha Phirom,1001,พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.744,100.499,11586
2,100103,วัดราชบพิธ,Wat Ratchabophit,1001,พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.750,100.499,3402
3,100104,สำราญราษฎร์,Samran Rat,1001,พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.751,100.503,3431
4,100105,ศาลเจ้าพ่อเสือ,San Chaopho Suea,1001,พระนคร,Phra Nakhon,10,กรุงเทพมหานคร,Bangkok,13.754,100.497,3280

In [29]:
df_dic_bangkok_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '10']
bangkok_subdist = df_dic_bangkok_subdist['TA_ID'].values
df_dic_nakhon_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '80']
nakhon_subdist = df_dic_nakhon_subdist['TA_ID'].values
df_dic_krabi_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '81']
krabi_subdist = df_dic_krabi_subdist['TA_ID'].values

## Monthly Breeding Site Detection Data

In [ ]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection.head()

In [ ]:
df_detection['date'] = pd.to_datetime(df_detection['date'],format = '%Y-%m-%d')
df_detection['Year'] = df_detection['date'].dt.year
df_detection['Month'] = df_detection['date'].dt.month
df_detection['addrcode'] = df_detection['addrcode'].astype(str)
df_detection['Year'] = df_detection['Year'].astype(str)
df_detection['Month'] = df_detection['Month'].astype(str)
df_detection = df_detection[['date','Year','Month','addrcode','bin','bowl','bucket','cup','jar','pottedplant','tire','vase','total']]
df_detection.head()

In [ ]:
df_detectionmonth = df_detection.groupby([df_detection['addrcode'].str[:2],df_detection['Year'],df_detection['Month']]).size().reset_index(name ='Count')
df_detectionmonth.head()

In [ ]:
df_detectionyear = df_detectionmonth.groupby([df_detectionmonth['addrcode'].str[:2],df_detectionmonth['Year']]).size().reset_index(name = 'NumMonth')
df_detectionyear

## Dengue Data

### Compare sub-district in Bangkok

In [ ]:
df_new_dic = pd.read_csv(os.path.join('Data','Other','Newver-Dictionary.csv'))
df_new_dic['PV_IDN'] = df_new_dic['PV_IDN'].astype(str)
df_new_dic = df_new_dic.loc[df_new_dic['PV_IDN'] == '10']
df_new_dic.head()

In [ ]:
df_dic_bangkok_subdist.head()

In [ ]:
df_dic_bangkok_compare = df_dic_bangkok_subdist.iloc[:,[0,1]]
df_dic_bangkok_compare.head()

In [ ]:
df_new_dic_bangkok = df_new_dic.iloc[:,[0,1]]
df_new_dic_bangkok.head()

In [ ]:
df_new_dic_bangkok.columns = ['TA_ID_NEW', 'TAMBON_T']
df_new_dic_bangkok.head()

In [ ]:
result = pd.merge(df_dic_bangkok_compare,df_new_dic_bangkok, on = 'TAMBON_T',how = 'outer')
result.head(10)
#result.to_csv('compare_subdist_bangkok.csv', encoding = 'utf-8')

## Combine Address Code into one column

In [ ]:
df_dengue_2014_2018 = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_5YEAR_WeekNum.csv'), low_memory = False)
df_dengue_2014_2018 = df_dengue_2014_2018.drop('Unnamed: 0', axis = 1)
df_dengue_2014_2018['ADDRCODE'] = df_dengue_2014_2018['ADDRCODE'].astype(str)
df_dengue_2014_2018['PROVINCE'] = df_dengue_2014_2018['PROVINCE'].astype(str)
df_dengue_2014_2018.head()

In [ ]:
size = len(df_dengue_2014_2018)
size

In [ ]:
addrcode = []
for i in range(size):
    if len(df_dengue_2014_2018['ADDRCODE'][i]) == 3:
        addrcode.append(df_dengue_2014_2018['PROVINCE'][i]+'0'+df_dengue_2014_2018['ADDRCODE'][i])
    elif len(df_dengue_2014_2018['ADDRCODE'][i]) == 4:
        addrcode.append(df_dengue_2014_2018['PROVINCE'][i]+df_dengue_2014_2018['ADDRCODE'][i])
    elif len(df_dengue_2014_2018['ADDRCODE'][i]) == 5:
        addrcode.append(df_dengue_2014_2018['PROVINCE'][i]+'0'+df_dengue_2014_2018['ADDRCODE'].str[:3][i])
    elif len(df_dengue_2014_2018['ADDRCODE'][i]) == 6:
        addrcode.append(df_dengue_2014_2018['PROVINCE'][i]+df_dengue_2014_2018['ADDRCODE'].str[:4][i])

In [ ]:
df_dengue_2014_2018['addrcode'] = addrcode
df_dengue_2014_2018 = df_dengue_2014_2018.drop('ADDRCODE', axis = 1)
df_dengue_2014_2018 = df_dengue_2014_2018.drop('PROVINCE', axis = 1)
df_dengue_2014_2018 = df_dengue_2014_2018[['addrcode','DATESICK','Year','Month','Day','Weeknum']]
df_dengue_2014_2018.columns = ['ADDRCODE','DATESICK','Year','Month','Day','WeekNum']

In [ ]:
df_dengue_2014_2018.head()
#df_dengue_2014_2018.to_csv('DF_5YEAR_FINAL.csv', encoding = 'utf-8')

In [ ]:
df_dengue_999999 = df_dengue_2014_2018.loc[df_dengue_2014_2018['ADDRCODE'].str[:4] == '1099']
df_dengue_999999

## Weekly Dengue cases Data

In [ ]:
list = ['100206','100212','100214','100308','100501','100905','100910',
        '101101','101201','101903','102001','102101','102301','102702',
        '102703','102704','102705','102901','103202','103402','104002',
        '105002','109999',
        '800206','800208','800805','801004','801005','801302','801309',
        '801503','802701',
        '810030','810040','810050','810101','810104','810301','810302',
        '810408','810502','810706','810766','810802','811150','813037',
        '814011','814012','814031','814034','814036','814038','814039',
        '814054','814056','814057','814076','801201','810102'] 

df_denguecase_weekly = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_5YEAR_AGG.csv'))
df_denguecase_weekly = df_denguecase_weekly.drop('Unnamed: 0', axis = 1)
#df_denguecase_weekly.columns = ['addrcode','Year','WeekNum','NumberCases']
df_denguecase_weekly['addrcode'] = df_denguecase_weekly['addrcode'].astype(str)
df_denguecase_weekly = df_denguecase_weekly.sort_values(['addrcode','Year','WeekNum'])
# for i in range(len(list)):
#     df_denguecase_weekly = df_denguecase_weekly[df_denguecase_weekly.addrcode != list[i]]
# df_denguecase_weekly = df_denguecase_weekly.reset_index()
# df_denguecase_weekly = df_denguecase_weekly.drop('index',axis = 1)
# df_denguecase_weekly.to_csv('DF_clean.csv',encoding = 'utf-8')
#df_denguecase_weekly.tail()

## Total number of Dengue cases in each province

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_weekly_province = df_denguecase_weekly.groupby([df_denguecase_weekly['addrcode'].str[:2]]).aggregate(aggregation_function).reset_index()
df_weekly_province

In [ ]:
df_denguecase_weekly.tail()

## Fill zero case in no-incidence week

In [ ]:
sizedf = (len(df_denguecase_weekly))+1
df_denguecase_weekly.index  = df_denguecase_weekly.index+1
df_denguecase_weekly.loc[0] = [100101,2014,1,0]
df_denguecase_weekly.loc[sizedf] = [810808,2018,52,0]
df_denguecase_weekly =df_denguecase_weekly.sort_index()
df_denguecase_weekly.head()

In [ ]:
df_denguecase_weekly.tail()

In [ ]:
size = len(df_denguecase_weekly)
count = 1


for i in range(size-1):
    if df_denguecase_weekly['addrcode'][i+1] == df_denguecase_weekly['addrcode'][i]:
        if df_denguecase_weekly['WeekNum'][i+1]-df_denguecase_weekly['WeekNum'][i] < 0:
            if df_denguecase_weekly['Year'][i] == 2014:
                if df_denguecase_weekly['WeekNum'][i] != 52:
                    df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i], 52, 0]
                    count = count+1
            if df_denguecase_weekly['Year'][i] == 2015:
                ## if data in 2015 don't have week 53
                if df_denguecase_weekly['WeekNum'][i] != 53:
                    df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i], 53, 0]
                    count = count+1
            if df_denguecase_weekly['Year'][i] == 2016:
                if df_denguecase_weekly['WeekNum'][i] != 52:
                    df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i], 52, 0]
                    count = count+1
            if df_denguecase_weekly['Year'][i] == 2017:
                if df_denguecase_weekly['WeekNum'][i] != 52:
                    df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i], 52, 0]
                    count = count+1
            if df_denguecase_weekly['Year'][i] == 2018:
                if df_denguecase_weekly['WeekNum'][i] != 52:
                    df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i], 52, 0]
                    count = count+1
            ## if year is missing
            if(df_denguecase_weekly['Year'][i+1]-df_denguecase_weekly['Year'][i] > 1) :
                if(df_denguecase_weekly['Year'][i] == 2014):
                    for j in range(53):
                        df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i]+1, j+1, 0]
                        count = count+1
                else:
                    for k in range(52):
                        df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i]+1, k+1, 0]
                        count = count+1
                
            ## if next year don't have week 1
            if df_denguecase_weekly['WeekNum'][i+1] != 1:
                df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i+1], 1, 0]
                count = count+1
 
    elif df_denguecase_weekly['addrcode'][i+1] != df_denguecase_weekly['addrcode'][i]:
        if df_denguecase_weekly['Year'][i+1]-df_denguecase_weekly['Year'][i] < 0:
            if(df_denguecase_weekly['Year'][i+1] == 2014):
                if(df_denguecase_weekly['WeekNum'][i+1] != 1):
                    df_denguecase_weekly.loc[size+1+count] = [df_denguecase_weekly['addrcode'][i+1],2014, 1, 0]
df_denguecase_weekly = df_denguecase_weekly.sort_values(['addrcode','Year','WeekNum'])
df_denguecase_weekly = df_denguecase_weekly.reset_index()
df_denguecase_weekly = df_denguecase_weekly.drop('index', axis=1)       
df_denguecase_weekly.head()
df_denguecase_weekly.to_csv('DF_5YEAR.csv', encoding = 'utf-8')

In [ ]:
size = len(df_denguecase_weekly)
size

In [ ]:
## re-loop again for missing week from adding week 1 in previous step
count = 1
for i in range(size-1):
    if df_denguecase_weekly['WeekNum'][i+1]-df_denguecase_weekly['WeekNum'][i] > 1:
            numloop = df_denguecase_weekly['WeekNum'][i+1]-df_denguecase_weekly['WeekNum'][i]
            for j in range(1,numloop):
                df_denguecase_weekly.loc[size+1+count]  = [df_denguecase_weekly['addrcode'][i],df_denguecase_weekly['Year'][i], df_denguecase_weekly['WeekNum'][i]+j, 0]
                count = count+1
                
df_denguecase_weekly = df_denguecase_weekly.sort_values(['addrcode','Year','WeekNum'])
df_denguecase_weekly = df_denguecase_weekly.reset_index()
df_denguecase_weekly = df_denguecase_weekly.drop('index', axis=1)
df_denguecase_weekly.head()
#df_denguecase_weekly = df_denguecase_weekly.reset_index()
df_denguecase_weekly.to_csv('DF_5YEAR.csv', encoding = 'utf-8')

In [ ]:
size = len(df_denguecase_weekly)
size

## Matching Latitude-Longtitude to Sub-District
### Climatic Data

In [ ]:
#df_sub_bangkok = pd.read_csv(os.path.join('Data','Climatic Data Result','Bangkok_subdistrict.csv'))
#df_big_area_nakhon_krabi = pd.read_csv(os.path.join('Data','Climatic Data Result','big_area_Nakhon_Krabi_LST.csv'))
df_big_area_nakhon_krabi = pd.read_csv(os.path.join('Data','Climatic Data Result','big_area_Nakhon_Krabi_Rainfall.csv'))
#df_sub_bangkok['addrcode'] = df_sub_bangkok['addrcode'].astype(str)
df_big_area_nakhon_krabi['addrcode'] = df_big_area_nakhon_krabi['addrcode'].astype(str)
df_big_area_nakhon_krabi.head()

In [19]:
df_point_bangkok = pd.read_csv(os.path.join('Data','Sub-district_point','BMA_LT.csv'))

In [20]:
df_point_bangkok['X'] = df_point_bangkok['X'].astype(str)
df_point_bangkok['Y'] = df_point_bangkok['Y'].astype(str)
df_point_bangkok['X'] = df_point_bangkok['X'].str[:7]
df_point_bangkok['Y'] = df_point_bangkok['Y'].str[:7]
df_point_bangkok = df_point_bangkok.drop('BMA_CODE', axis = 1)
df_point_bangkok.columns = ['X','Y','addrcode']
df_point_bangkok['addrcode'] = df_point_bangkok['addrcode'].astype(str)
df_point_bangkok.head()

         X        Y addrcode
0  100.650  13.8659   100502
1  100.773  13.8512   104605
2  100.745  13.8529   104604
3  100.547  13.7545   103704
4  100.497  13.7595   100108

In [ ]:
df_point_nakhon_krabi = pd.read_csv(os.path.join('Data','Climatic Data Result','XY_Coordinate_Nakhon_Krabi.csv'))

In [ ]:
df_point_nakhon_krabi.head()

In [ ]:
df_point_nakhon_krabi['X'] = df_point_nakhon_krabi['X'].astype(str)
df_point_nakhon_krabi['Y'] = df_point_nakhon_krabi['Y'].astype(str)
df_point_nakhon_krabi['X'] = df_point_nakhon_krabi['X'].str[:7]
df_point_nakhon_krabi['Y'] = df_point_nakhon_krabi['Y'].str[:7]
df_point_nakhon_krabi['addrcode'] = df_point_nakhon_krabi['addrcode'].astype(str)
df_point_nakhon_krabi.head()

### Bangkok LST

In [30]:
from tqdm import tqdm
from os import listdir
path = '/Users/boonpakorn/Documents/GitHub/dengue_data_statistics/Data/Climatic Data/Climatic Data Result/LST Result/'
filename = []
filelist= listdir(path)
for f in tqdm(filelist):
    if f.endswith('Bangkok.csv'):
        filename.append(f)

100%|██████████| 2421/2421 [00:00<00:00, 931170.10it/s]

In [31]:
len(filename)

660

In [24]:
## === Small Area ===
for filename in filename:
    if filename.startswith('Small'):
        df_temp = pd.read_csv(os.path.join(path+filename))
        df_temp['X'] = df_temp['X'].astype(str)
        df_temp['Y'] = df_temp['Y'].astype(str)
        df_temp['X'] = df_temp['X'].str[:7]
        df_temp['Y'] = df_temp['Y'].str[:7]
        df_temp.head()

        df_result = pd.merge(df_temp,df_point_bangkok,how = 'inner', on = ['X','Y'])
        df_result = df_result.drop(['POINT_BANG','X','Y'],axis = 1)
        df_result['MOD11C2_20'] = df_result['MOD11C2_20']*0.02-273.15
        df_result['MOD11C2_20'] = df_result['MOD11C2_20'].round(2)
        df_result = df_result[['addrcode','MOD11C2_20']]
        df_result.columns = ['addrcode','temperature']
        df_result['temperature'].loc[df_result['temperature'] <0 ] = 0
        df_result.to_csv(path+'Code_'+filename, encoding = 'utf-8') 
    else:
        continue

In [32]:
## === Big Area ===
for filename in filename:
    if filename.startswith('MOD'):
        df_temp = pd.read_csv(os.path.join(path+filename))
        df_temp = df_temp.drop(['ZONE_CODE','COUNT','AREA','MIN','MAX','RANGE','STD','SUM','VARIETY','MAJORITY','MINORITY','MEDIAN'], axis = 1)
        df_temp['SCODE_BMA'] = df_temp['SCODE_BMA'].astype(str)
        df_temp['MEAN'].loc[df_temp['MEAN'] > 7500 ] = df_temp['MEAN']*0.02-273.15
        df_temp['MEAN'] = df_temp['MEAN'].round(2)
        df_temp['MEAN'].loc[df_temp['MEAN'] <0 ] = 0
        df_temp.columns = ['addrcode','temperature']
        df_temp.head()
        df_result = pd.merge(df_temp,df_bigarea_bangkok,how = 'outer', on ='addrcode')
        df_result = df_result.fillna(0)
        df_result = df_result[['addrcode','temperature']]
        df_result.to_csv(path+'Code_'+filename, encoding = 'utf-8')
    else:
        continue

/usr/local/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

NameError: name 'df_bigarea_bangkok' is not defined

### Nakhon-Krabi LST

In [ ]:
from tqdm import tqdm
from os import listdir
#path = '/Users/boonpakorn/Documents/GitHub/dengue_data_statistics/Data/Climatic Data/Climatic Data Result/LST Result/'
path = '/Users/boonpakorn/Documents/GitHub/dengue_data_statistics/Data/Climatic Data/Climatic Data Result/Rainfall Result/'
filename = []
filelist= listdir(path)
for f in tqdm(filelist):
    if f.endswith('Nakhon_Krabi.csv'):
        filename.append(f)

In [ ]:
len(filename)

In [ ]:
## === Small Area ===
for filename in filename:
    if filename.startswith('Small'):
        df_temp = pd.read_csv(os.path.join(path+filename))
        df_temp['X'] = df_temp['X'].astype(str)
        df_temp['Y'] = df_temp['Y'].astype(str)
        df_temp['X'] = df_temp['X'].str[:7]
        df_temp['Y'] = df_temp['Y'].str[:7]
        df_temp.head()

        df_result = pd.merge(df_temp,df_point_nakhon_krabi,how = 'inner', on = ['X','Y'])
        df_result = df_result.drop(['POINT_NAKH','X','Y','TB_EN','OLD_TB_IDN'],axis = 1)
        #df_result['MOD11C2_20'] = df_result['MOD11C2_20']*0.02-273.15
        #df_result['MOD11C2_20'] = df_result['MOD11C2_20'].round(2)
        #df_result['MOD11C2_20'].loc[df_result['MOD11C2_20'] < 0] = None
        #df_result.columns = ['temperature','addrcode']
        #df_result = df_result[['addrcode','temperature']]
        df_result.columns = ['rainfall','addrcode']
        df_result = df_result[['addrcode','rainfall']]
        df_result['rainfall'] = df_result['rainfall'].round(2)
        df_result['rainfall'].loc[df_result['rainfall'] < 0] = None
        df_result = df_result[['addrcode','rainfall']]
        
        df_result.to_csv(path+'Code_'+filename, encoding = 'utf-8') 
    else:
        continue

In [ ]:
## === Big Area ===
for filename in filename:
    #if filename.startswith('MOD'):
    if filename.startswith('P_Rain'):
        df_temp = pd.read_csv(os.path.join(path+filename))

        #df_temp = df_temp.drop(['ZONE_CODE','COUNT','AREA','MIN','MAX','RANGE','STD','SUM','VARIETY','MAJORITY','MINORITY','MEDIAN'], axis = 1)
        #df_temp['TB_IDN'] = df_temp['TB_IDN'].astype(str)
        #df_temp.head()
        #df_temp['MEAN'].loc[df_temp['MEAN'] > 7500 ] = df_temp['MEAN']*0.02-273.15
        #df_temp['MEAN'] = df_temp['MEAN'].round(2)
        #df_temp['MEAN'].loc[df_temp['MEAN'] <0 ] = None
        #df_temp.columns = ['addrcode','temperature']
        df_temp = df_temp.drop(['ZONE_CODE','COUNT','AREA','MIN','MAX','RANGE','STD','SUM'], axis = 1)
        df_temp['MEAN'] = df_temp['MEAN'].round(2)
        df_temp.columns = ['addrcode','rainfall']
        df_temp['addrcode'] = df_temp['addrcode'].astype(str)
        
        df_result = pd.merge(df_temp,df_big_area_nakhon_krabi,how = 'outer', on ='addrcode')
        df_result.to_csv(path+'Code_'+filename, encoding = 'utf-8')
            
    else:
        continue

## Combine all files

In [ ]:
des_path = '/Users/boonpakornnonthaleerak/Documents/GitHub/dengue_data_statistics/Data/Climatic Data Result/'
all = []
for filename in filename:
    if filename.startswith('Code_'):
        df_com = pd.read_csv(os.path.join(path+filename))
        if filename.startswith('Code_Small_'):
            #weekday = filename[:-17][17:] 
            #day = weekday[4:]
            #year = weekday[:4]
            #df_com['Day'] = day
            weekday = filename[:-17][17:] 
            if(len(weekday) == 6): 
                year = weekday[2:]
                week = weekday[:1]
            elif(len(weekday) == 7): 
                year = weekday[3:]
                week = weekday[:2]
            
            df_com['Week'] = week
            df_com['Year'] = year
            all.append(df_com)
        #elif filename.startswith('Code_MOD'):
        elif filename.startswith('Code_P'):
            
            year = weekday[4:]
            week = weekday[:2]
            #weekday = filename[:-17][11:]
            #year = weekday[:4]
            #day = weekday[4:]
            #df_com['Day'] = day
            weekday = filename[:-17][11:]
            if(len(weekday) == 6):    
                year = weekday[2:]
                week = weekday[:1]
            elif(len(weekday) == 7):
                year = weekday[3:]
                week = weekday[:2]
            
            df_com['Week'] = week
            df_com['Year'] = year
            all.append(df_com)

big_frame = pd.concat(all, ignore_index=True)
big_frame = big_frame.drop('Unnamed: 0', axis = 1)
big_frame.to_csv(des_path+ 'Rainfall_Nakhon_Krabi_avg.csv', encoding = 'utf-8')

## Delete missing sub-district '801201', '810102'

In [ ]:
invalid = ['801201','810102']

In [ ]:
df_rainfall = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rainfall = df_rainfall.drop('Unnamed: 0',axis = 1)
df_rainfall['addrcode'] = df_rainfall['addrcode'].astype(str)
df_rainfall.head()

In [ ]:
len(df_rainfall)

In [ ]:
for i in range(len(invalid)):
    df_rainfall = df_rainfall[df_rainfall.addrcode != invalid[i]]

In [ ]:
len(df_rainfall)

In [ ]:
df_rainfall.to_csv('Rainfall_Nakhon_Krabi_clean.csv', encoding ='utf-8')

In [ ]:
df_LST = pd.read_csv(os.path.join('Data','Climatic Data Result','LST_Nakhon_Krabi.csv'))
df_LST = df_LST.drop('Unnamed: 0',axis = 1)
df_LST['addrcode'] = df_LST['addrcode'].astype(str)
df_LST.head()

In [ ]:
len(df_LST)

In [ ]:
for i in range(len(invalid)):
    df_LST = df_LST[df_LST.addrcode != invalid[i]]

In [ ]:
len(df_LST)

In [ ]:
df_LST.to_csv('LST_Nakhon_Krabi_clean.csv', encoding ='utf-8')

## Checking missing sub-district of Container detection

In [ ]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection.head()

In [ ]:
df_allsub = pd.read_csv(os.path.join('Data','Climatic Data Result','addrcode_subdistrict.csv'))
df_allsub.head()

In [ ]:
df_missing = pd.merge(df_detection,df_allsub, how = 'outer', on = 'addrcode')
df_missing.head()
#df_missing.to_csv('detection_check.csv', encoding = 'utf-8')

## Delete missing sub-district for Container detection

In [ ]:
invalid = ['801302','801503','810101','810301','810302','810502','810802','801201','810102']

In [ ]:
df_rainfall = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rainfall = df_rainfall.drop('Unnamed: 0',axis = 1)
df_rainfall['addrcode'] = df_rainfall['addrcode'].astype(str)
df_rainfall.head()

In [ ]:
len(df_rainfall)

In [ ]:
for i in range(len(invalid)):
    df_rainfall = df_rainfall[df_rainfall.addrcode != invalid[i]]

In [ ]:
len(df_rainfall)

In [ ]:
df_rainfall.to_csv('Rainfall_Nakhon_Krabi_Autocorrelation.csv', encoding ='utf-8')

## Creating DF

In [3]:
df_allsub = pd.read_csv(os.path.join('Data','Climatic Data Result','addrcode_subdistrict.csv'))
df_allsub['addrcode'][0]

100101

In [4]:
df_dengue = pd.DataFrame(columns=['addrcode','Year','WeekNum','NumberCases'])
df_dengue

Empty DataFrame
Columns: [addrcode, Year, WeekNum, NumberCases]
Index: []

In [5]:
len(df_allsub)

390

In [6]:
size = len(df_dengue)

In [7]:
count = 0

In [8]:

for i in range(len(df_allsub)):
    for j in range(52):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2014,j+1,0]
        count = count+1
    for k in range(53):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2015,k+1,0]
        count = count+1
    for l in range(52):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2016,l+1,0]
        count = count+1
    for m in range(52):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2017,m+1,0]
        count = count+1
    for n in range(24):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2018,n+1,0]
        count = count+1

In [9]:
df_dengue
df_dengue.to_csv('DF_0.csv',encoding = 'utf-8')

In [18]:
df_dengue_agg = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever Data','DF_5YEAR_AGG.csv'))
df_dengue_agg = df_dengue_agg.drop('Unnamed: 0',axis = 1)
df_dengue_agg.head()

   addrcode  Year  WeekNum  NumberCases
0    100101  2014       47            1
1    100101  2015        4            1
2    100101  2015       21            1
3    100101  2015       22            1
4    100101  2015       27            1

In [19]:
list = ['100206','100212','100214','100308','100501','100905','100910',
        '101101','101201','101903','102001','102101','102301','102702',
        '102703','102704','102705','102901','103202','103402','104002',
        '105002','109999',
        '800104','800206','800208','800805','801004','801005','801302',
        '801309','801503','802701',
        '810030','810040','810050','810101','810104','810301','810302',
        '810408','810502','810706','810766','810802','811150','813037',
        '814011','814012','814031','814034','814036','814038','814039',
        '814054','814056','814057','814076','801201','810102'] 

df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_0.csv'))
df_dengue = df_dengue.drop('Unnamed: 0', axis = 1)
df_dengue['addrcode'] = df_dengue['addrcode'].astype(str)
df_dengue_agg['addrcode'] = df_dengue_agg['addrcode'].astype(str)
df_dengue = df_dengue.sort_values(['addrcode','Year','WeekNum'])
for i in range(len(list)):
     df_dengue = df_dengue[df_dengue.addrcode != list[i]]
for i in range(len(list)):
     df_dengue_agg = df_dengue_agg[df_dengue_agg.addrcode != list[i]]
df_dengue = df_dengue.reset_index()
df_dengue = df_dengue.drop('index',axis = 1)
#df_dengue.to_csv('DF_00.csv',encoding = 'utf-8')
#df_denguecase_weekly.tail()

In [20]:
len(df_dengue)

86909

In [21]:
df_df = df_dengue.append(df_dengue_agg)
df_df['addrcode'] = df_df['addrcode'].astype(str)

In [22]:
df_df = df_df.reset_index()
df_df = df_df.drop('index', axis = 1)
df_df.head()

  addrcode  Year  WeekNum  NumberCases
0   100101  2014        1            0
1   100101  2014        2            0
2   100101  2014        3            0
3   100101  2014        4            0
4   100101  2014        5            0

In [23]:
aggregation_function = {'NumberCases': 'sum'}
df_df = df_df.groupby([df_df['addrcode'],df_df['Year'],df_df['WeekNum']]).aggregate(aggregation_function).reset_index()
df_df.head()
len(df_df)

87008

In [24]:
df_df.to_csv('DF.csv',encoding = 'utf-8')

## Dengue Case per Area

In [36]:
df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF.csv'))
df_dengue['addrcode'] = df_dengue['addrcode'].astype(str)
df_dengue.head()

  addrcode  Year  WeekNum  NumberCases
0   100101  2014        1            0
1   100101  2014        2            0
2   100101  2014        3            0
3   100101  2014        4            0
4   100101  2014        5            0

In [97]:
df_subdist_area = pd.read_csv(os.path.join('Data','Area and GSV','csv','subdistricts-area.csv'))
df_subdist_area['addrcode'] = df_subdist_area['addrcode'].astype(str)
df_subdist_area.head()

  addrcode   area
0   100101  14.11
1   100102   6.62
2   100103   1.97
3   100104   2.15
4   100105   1.39

In [98]:
aggregation_function = {'area': 'sum'}
df_dist_area = df_subdist_area.groupby(df_subdist_area['addrcode'].str[:4]).aggregate(aggregation_function).reset_index()
df_dist_area.head()

  addrcode     area
0     1001    49.81
1     1002   105.24
2     1003  2233.36
3     1004    37.26
4     1005   380.54

In [47]:
df_df_area = pd.merge(df_dengue,df_subdist_area, on = 'addrcode', how = 'inner')
df_df_area['area'] = df_df_area['area']/10
df_df_area['DFpA'] = df_df_area['NumberCases']/df_df_area['area']
df_df_area.tail()

      addrcode  Year  WeekNum  NumberCases     area      DFpA
86904   810808  2018       20            1  107.845  0.009273
86905   810808  2018       21            0  107.845  0.000000
86906   810808  2018       22            0  107.845  0.000000
86907   810808  2018       23            0  107.845  0.000000
86908   810808  2018       24            0  107.845  0.000000

In [48]:
df_df_area.to_csv('DFpArea.csv', encoding='utf-8')

## Dengue case per 10000 population

### [Subdistrict]

In [15]:
df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF.csv'))
df_dengue['addrcode'] = df_dengue['addrcode'].astype(str)
df_dengue.head()

  addrcode  Year  WeekNum  NumberCases
0   100101  2014        1            0
1   100101  2014        2            0
2   100101  2014        3            0
3   100101  2014        4            0
4   100101  2014        5            0

In [18]:
df_pop = pd.read_csv(os.path.join('Data','Population','addrcode-index','Population.csv'))
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.columns = ['addrcode','population']
df_pop.head()

  addrcode  population
0   100101        3715
1   100102       11226
2   100103        3328
3   100104        3309
4   100105        3214

In [20]:
df_df_pop = pd.merge(df_dengue, df_pop, how ='inner', on = 'addrcode')
df_df_pop['population'] = df_df_pop['population'] / 10000
df_df_pop['DFp10000Pop'] = df_df_pop['NumberCases']/df_df_pop['population']
df_df_pop.tail()

      addrcode  Year  WeekNum  NumberCases  population  DFp10000Pop
86904   810808  2018       20            1      0.7395     1.352265
86905   810808  2018       21            0      0.7395     0.000000
86906   810808  2018       22            0      0.7395     0.000000
86907   810808  2018       23            0      0.7395     0.000000
86908   810808  2018       24            0      0.7395     0.000000

In [82]:
#df_df_pop.to_csv('DF_10000Population_details.csv', encoding='utf-8')

### District level

In [30]:
df_df_pop = pd.merge(df_dengue, df_pop, how ='inner', on = 'addrcode')
df_df_pop.head()

  addrcode  Year  WeekNum  NumberCases  population
0   100101  2014        1            0        3715
1   100101  2014        2            0        3715
2   100101  2014        3            0        3715
3   100101  2014        4            0        3715
4   100101  2014        5            0        3715

In [31]:
aggregation_function = {'NumberCases': 'sum', 'population': 'sum'}
df_df_pop_dist = df_df_pop.groupby([df_df_pop['addrcode'].str[:4], df_df_pop['Year'], df_df_pop['WeekNum']]).aggregate(aggregation_function).reset_index()
df_df_pop_dist.head()

  addrcode  Year  WeekNum  NumberCases  population
0     1001  2014        1            0       50708
1     1001  2014        2            1       50708
2     1001  2014        3            0       50708
3     1001  2014        4            0       50708
4     1001  2014        5            2       50708

In [32]:
df_df_pop_dist['population'] = df_df_pop_dist['population'] / 10000
df_df_pop_dist['DFp10000Pop'] = df_df_pop_dist['NumberCases']/df_df_pop_dist['population']
df_df_pop_dist.head()

  addrcode  Year  WeekNum  NumberCases  population  DFp10000Pop
0     1001  2014        1            0      5.0708     0.000000
1     1001  2014        2            1      5.0708     0.197208
2     1001  2014        3            0      5.0708     0.000000
3     1001  2014        4            0      5.0708     0.000000
4     1001  2014        5            2      5.0708     0.394415

In [33]:
df_df_pop_dist.to_csv('DF_10000Population_dist_details.csv', encoding='utf-8')

## Container Density [Sub-district]

In [78]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection['addrcode'] = df_detection['addrcode'].astype(str)
df_detection = df_detection.drop('date',axis = 1)

In [79]:
list = ['102702','102703']
for i in range(len(list)):
     df_detection = df_detection[df_detection.addrcode != list[i]]

In [80]:
df_detection_bangkok = df_detection.loc[df_detection['addrcode'].str[:2] == '10']
df_detection_bangkok = df_detection_bangkok.reset_index()
df_detection_bangkok = df_detection_bangkok.drop('index',axis = 1)
df_detection_bangkok.to_csv('container_bangkok_subdist.csv',encoding = 'utf-8')
df_detection_krabi = df_detection.loc[df_detection['addrcode'].str[:2] == '81']
df_detection_krabi = df_detection_krabi.reset_index()
df_detection_krabi = df_detection_krabi.drop('index',axis = 1)
df_detection_krabi.to_csv('container_krabi_subdist.csv',encoding = 'utf-8')
df_detection_nst = df_detection.loc[df_detection['addrcode'].str[:2] == '80']
df_detection_nst = df_detection_nst.reset_index()
df_detection_nst = df_detection_nst.drop('index',axis = 1)
df_detection_nst.to_csv('container_NST_subdist.csv',encoding = 'utf-8')

In [64]:
## for Bangkok, NST, Krabi
df_cd = pd.merge(df_detection_nst,df_subdist_area, on = 'addrcode', how = 'inner')
df_cd['area'] = df_cd['area']/10
df_cd.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,area
0,800204,147,1,314,2,0,177,37,0,678,107.058
1,800807,38,2,184,1,1,147,32,1,406,34.144
2,800120,128,16,787,20,47,907,150,2,2057,85.609
3,800501,35,0,107,2,0,72,8,0,224,45.183
4,800810,15,0,34,0,0,103,16,1,169,27.556

In [65]:
df_cd['bin'] = df_cd['bin']/df_cd['area']
df_cd['bin'] = df_cd['bin'].round(3)
df_cd['bowl'] = df_cd['bowl']/df_cd['area']
df_cd['bowl'] = df_cd['bowl'].round(3)
df_cd['bucket'] = df_cd['bucket']/df_cd['area']
df_cd['bucket'] = df_cd['bucket'].round(3)
df_cd['misc_short'] = df_cd['misc_short']/df_cd['area']
df_cd['misc_short'] = df_cd['misc_short'].round(3)
df_cd['jar'] = df_cd['jar']/df_cd['area']
df_cd['jar'] = df_cd['jar'].round(3)
df_cd['pottedplant'] = df_cd['pottedplant']/df_cd['area']
df_cd['pottedplant'] = df_cd['pottedplant'].round(3)
df_cd['tire'] = df_cd['tire']/df_cd['area']
df_cd['tire'] = df_cd['tire'].round(3)
df_cd['misc_tall'] = df_cd['misc_tall']/df_cd['area']
df_cd['misc_tall'] = df_cd['misc_tall'].round(3)
df_cd['total'] = df_cd['total']/df_cd['area']
df_cd['total'] = df_cd['total'].round(3)
df_cd = df_cd.drop('area', axis =1)
df_cd.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,800204,1.373,0.009,2.933,0.019,0.000,1.653,0.346,0.000,6.333
1,800807,1.113,0.059,5.389,0.029,0.029,4.305,0.937,0.029,11.891
2,800120,1.495,0.187,9.193,0.234,0.549,10.595,1.752,0.023,24.028
3,800501,0.775,0.000,2.368,0.044,0.000,1.594,0.177,0.000,4.958
4,800810,0.544,0.000,1.234,0.000,0.000,3.738,0.581,0.036,6.133

In [66]:
df_cd.to_csv('CD_NST_subdist.csv', encoding='utf-8')

## Container Density [District]

In [108]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection['addrcode'] = df_detection['addrcode'].astype(str)
df_detection = df_detection.drop('date',axis = 1)
list = ['102702','102703']
for i in range(len(list)):
     df_detection = df_detection[df_detection.addrcode != list[i]]

In [109]:
aggregation_function = {'bin': 'sum', 'bowl': 'sum','bucket': 'sum', 'misc_short': 'sum', 'jar': 'sum', 'pottedplant': 'sum', 'tire': 'sum', 'misc_tall': 'sum', 'total': 'sum'}
df_detection_dist = df_detection.groupby(df_detection['addrcode'].str[:4]).aggregate(aggregation_function).reset_index()
df_detection_dist.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,1001,167,87,509,73,22,1543,101,25,2527
1,1002,104,24,292,20,10,630,77,1,1158
2,1003,796,47,2679,30,169,3029,675,7,7432
3,1004,126,68,474,45,16,1070,143,14,1956
4,1005,1541,130,4342,85,262,7664,827,28,14879

In [110]:
df_detection_bangkok = df_detection_dist.loc[df_detection_dist['addrcode'].str[:2] == '10']
df_detection_bangkok = df_detection_bangkok.reset_index()
df_detection_bangkok = df_detection_bangkok.drop('index',axis = 1)
df_detection_bangkok.to_csv('container_bangkok_dist.csv',encoding = 'utf-8')
df_detection_krabi = df_detection_dist.loc[df_detection_dist['addrcode'].str[:2] == '81']
df_detection_krabi = df_detection_krabi.reset_index()
df_detection_krabi = df_detection_krabi.drop('index',axis = 1)
df_detection_krabi.to_csv('container_krabi_dist.csv',encoding = 'utf-8')
df_detection_nst = df_detection_dist.loc[df_detection_dist['addrcode'].str[:2] == '80']
df_detection_nst = df_detection_nst.reset_index()
df_detection_nst = df_detection_nst.drop('index',axis = 1)
df_detection_nst.to_csv('container_NST_dist.csv',encoding = 'utf-8')

In [111]:
## for Bangkok, NST, Krabi
df_cd = pd.merge(df_detection_nst,df_dist_area, on = 'addrcode', how = 'inner')
df_cd['area'] = df_cd['area']/10
df_cd.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,area
0,8001,2343,114,8346,161,355,7322,1254,20,19915,508.149
1,8002,292,12,827,7,11,828,120,2,2099,225.089
2,8003,204,5,692,4,31,467,75,1,1479,314.590
3,8004,507,15,1607,38,66,1186,230,1,3650,395.549
4,8005,116,13,929,14,32,591,110,7,1812,451.063

In [112]:
df_cd['bin'] = df_cd['bin']/df_cd['area']
df_cd['bin'] = df_cd['bin'].round(3)
df_cd['bowl'] = df_cd['bowl']/df_cd['area']
df_cd['bowl'] = df_cd['bowl'].round(3)
df_cd['bucket'] = df_cd['bucket']/df_cd['area']
df_cd['bucket'] = df_cd['bucket'].round(3)
df_cd['misc_short'] = df_cd['misc_short']/df_cd['area']
df_cd['misc_short'] = df_cd['misc_short'].round(3)
df_cd['jar'] = df_cd['jar']/df_cd['area']
df_cd['jar'] = df_cd['jar'].round(3)
df_cd['pottedplant'] = df_cd['pottedplant']/df_cd['area']
df_cd['pottedplant'] = df_cd['pottedplant'].round(3)
df_cd['tire'] = df_cd['tire']/df_cd['area']
df_cd['tire'] = df_cd['tire'].round(3)
df_cd['misc_tall'] = df_cd['misc_tall']/df_cd['area']
df_cd['misc_tall'] = df_cd['misc_tall'].round(3)
df_cd['total'] = df_cd['total']/df_cd['area']
df_cd['total'] = df_cd['total'].round(3)
df_cd = df_cd.drop('area', axis =1)
df_cd.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,8001,4.611,0.224,16.424,0.317,0.699,14.409,2.468,0.039,39.191
1,8002,1.297,0.053,3.674,0.031,0.049,3.679,0.533,0.009,9.325
2,8003,0.648,0.016,2.200,0.013,0.099,1.484,0.238,0.003,4.701
3,8004,1.282,0.038,4.063,0.096,0.167,2.998,0.581,0.003,9.228
4,8005,0.257,0.029,2.060,0.031,0.071,1.310,0.244,0.016,4.017

In [113]:
df_cd.to_csv('CD_NST_dist.csv', encoding='utf-8')

## DF per 100 Population

In [22]:
df_df100pop = pd.read_csv('DFp100Population.csv')
df_df100pop = df_df100pop.drop('Unnamed: 0',axis = 1)

aggregation_function = {'DFp100Pop': 'sum'}
df_df100pop = df_df100pop.groupby(df_df100pop['addrcode']).aggregate(aggregation_function).reset_index()
df_df100pop.head()

   addrcode  DFp100Pop
0    100101   0.635852
1    100102   0.422924
2    100103   0.793651
3    100104   0.845235
4    100105   0.548780

## CD concat DF

In [26]:
df_cddf = pd.merge(df_cd,df_df100pop, on = 'addrcode', how = 'inner')
df_cddf['addrcode'] = df_cddf['addrcode'].astype(str)
df_cddf.head()

,addrcode,bin,bowl,bucket,cup,jar,pottedplant,tire,vase,total,DFp100Pop
0,100508,39.348,2.066,97.150,2.207,5.869,175.799,20.989,0.704,344.133,0.518369
1,104605,5.088,0.372,19.484,0.248,2.668,18.677,3.909,0.000,50.447,0.634378
2,104604,4.449,0.708,23.761,0.202,0.607,26.997,5.157,0.000,61.881,0.734921
3,103704,27.403,10.874,82.210,8.264,2.610,150.935,34.798,1.740,318.834,1.120994
4,100108,17.143,17.143,102.857,45.714,5.714,268.571,0.000,0.000,457.143,0.969744

In [39]:
df_cddf_bkk = df_cddf.loc[df_cddf['addrcode'].str[:2] == '10']
df_cddf_bkk.to_csv('CD+DF100Pop_Bangkok.csv', encoding = 'utf-8')

In [40]:
df_cddf_nst = df_cddf.loc[df_cddf['addrcode'].str[:2] == '80']
df_cddf_nst.to_csv('CD+DF100Pop_NST.csv', encoding = 'utf-8')

In [41]:
df_cddf_krabi = df_cddf.loc[df_cddf['addrcode'].str[:2] == '81']
df_cddf_krabi.to_csv('CD+DF100Pop_Krabi.csv', encoding = 'utf-8')

## Area and Image Coverage

In [75]:
list = ['100206','100212','100214','100308','100501','100905','100910',
        '101101','101201','101903','102001','102101','102301','102702',
        '102703','102704','102705','102901','103202','103402','104002',
        '105002','109999',
        '800104','800206','800208','800805','801004','801005','801302',
        '801309','801503','802701',
        '810030','810040','810050','810101','810104','810301','810302',
        '810408','810502','810706','810766','810802','811150','813037',
        '814011','814012','814031','814034','814036','814038','814039',
        '814054','814056','814057','814076','801201','810102']

In [76]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','csv','gsv-coverage.csv'))
df_area['addrcode'] = df_area['addrcode'].astype(str)
for i in range(len(list)):
     df_area = df_area[df_area.addrcode != list[i]]
aggregation_function = {'land_area': 'sum','image_area' : 'sum'}
df_area = df_area.groupby(df_area['addrcode']).aggregate(aggregation_function).reset_index()
len(df_area)

373

In [77]:
df_area['image_coverage'] = df_area['image_area']/df_area['land_area']*100
df_area['image_coverage'] = df_area['image_coverage'].astype(float)
df_area['image_coverage'].loc[df_area['image_coverage'] > 100] = 100
df_area['image_coverage'] = df_area['image_coverage'].round(2)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [79]:
df_area_bangkok = df_area.loc[df_area['addrcode'].str[:2] == '10'].reset_index()
df_area_bangkok = df_area_bangkok.drop('index', axis = 1)
df_area_bangkok.to_csv('image_coverage_bangkok.csv', encoding ='utf-8')
df_area_nst = df_area.loc[df_area['addrcode'].str[:2] == '80'].reset_index()
df_area_nst = df_area_nst.drop('index', axis = 1)
df_area_nst.to_csv('image_coverage_nst.csv', encoding ='utf-8')
df_area_krabi = df_area.loc[df_area['addrcode'].str[:2] == '81'].reset_index()
df_area_krabi = df_area_krabi.drop('index', axis = 1)
df_area_krabi.to_csv('image_coverage_krabi.csv', encoding ='utf-8')

## Matching population Data

In [31]:
df_dic_nakhon_subdist.head()

,TA_ID,TAMBON_T,TAMBON_E,AM_ID,AMPHOE_T,AMPHOE_E,CH_ID,CHANGWAT_T,CHANGWAT_E,LAT,LONG,Population
6296,800101,ในเมือง,Nai Mueang,8001,เมืองนครศรีธรรมราช,Mueang Nakhon Si Thammarat,80,นครศรีธรรมราช,Nakhon Si Thammarat,8.408,99.972,43678
6297,800102,ท่าวัง,Tha Wang,8001,เมืองนครศรีธรรมราช,Mueang Nakhon Si Thammarat,80,นครศรีธรรมราช,Nakhon Si Thammarat,8.449,99.961,17380
6298,800103,คลัง,Khlang,8001,เมืองนครศรีธรรมราช,Mueang Nakhon Si Thammarat,80,นครศรีธรรมราช,Nakhon Si Thammarat,8.434,99.966,17835
6299,800106,ท่าไร่,Tha Rai,8001,เมืองนครศรีธรรมราช,Mueang Nakhon Si Thammarat,80,นครศรีธรรมราช,Nakhon Si Thammarat,8.430,100.041,8177
6300,800107,ปากนคร,Pak Nakhon,8001,เมืองนครศรีธรรมราช,Mueang Nakhon Si Thammarat,80,นครศรีธรรมราช,Nakhon Si Thammarat,8.421,99.996,14884

In [46]:
df_pop_nakhon = pd.read_csv(os.path.join('Data','Population','full-info','Nakhon-population-details.csv'))
df_pop_nakhon['addrcode'] = df_pop_nakhon['addrcode'].astype(str)
df_pop_nakhon.head()

,district,addrcode,name,"< 1 yr, Male","< 1 yr, Female","1 yr, Male","1 yr, Female","2 yr, Male","2 yr, Female","3 yr, Male",...,"98 yr, Female","99 yr, Male","99 yr, Female","100 yr, Male","100 yr, Female","> 100 yr, Male","> 100 yr, Female",Male,Female,Total
0,8016,801611,เกาะเพชร,38,37,30,32,44,24,42,...,2,2,2,1,1,1,3,3485,3416,6901
1,8007,800708,เกาะขันธ์,36,38,51,34,48,37,56,...,1,0,2,0,0,0,0,4475,4486,8961
2,8012,801206,เกาะทวด,23,21,31,26,28,28,23,...,0,0,1,0,1,3,4,2585,2548,5133
3,8003,800301,เขาแก้ว,35,30,35,44,45,34,50,...,2,0,1,0,1,0,2,3702,3908,7610
4,8009,800907,เขาโร,56,66,75,58,84,66,93,...,0,0,0,0,0,0,1,5253,5346,10599

In [47]:
list = ['100206','100212','100214','100308','100501','100905','100910',
        '101101','101201','101903','102001','102101','102301','102702',
        '102703','102704','102705','102901','103202','103402','104002',
        '105002','109999',
        '800104','800206','800208','800805','801004','801005','801302',
        '801309','801503','802701',
        '810030','810040','810050','810101','810104','810301','810302',
        '810408','810502','810706','810766','810802','811150','813037',
        '814011','814012','814031','814034','814036','814038','814039',
        '814054','814056','814057','814076','801201','810102'] 

for i in range(len(list)):
     df_pop_nakhon = df_pop_nakhon[df_pop_nakhon.addrcode != list[i]]

In [48]:
len(df_pop_nakhon)
df_pop_nakhon = df_pop_nakhon.reset_index()
df_pop_nakhon = df_pop_nakhon.drop(['index','name'], axis  =1)
df_pop_nakhon.head()

,district,addrcode,"< 1 yr, Male","< 1 yr, Female","1 yr, Male","1 yr, Female","2 yr, Male","2 yr, Female","3 yr, Male","3 yr, Female",...,"98 yr, Female","99 yr, Male","99 yr, Female","100 yr, Male","100 yr, Female","> 100 yr, Male","> 100 yr, Female",Male,Female,Total
0,8016,801611,38,37,30,32,44,24,42,35,...,2,2,2,1,1,1,3,3485,3416,6901
1,8007,800708,36,38,51,34,48,37,56,46,...,1,0,2,0,0,0,0,4475,4486,8961
2,8012,801206,23,21,31,26,28,28,23,26,...,0,0,1,0,1,3,4,2585,2548,5133
3,8003,800301,35,30,35,44,45,34,50,46,...,2,0,1,0,1,0,2,3702,3908,7610
4,8009,800907,56,66,75,58,84,66,93,77,...,0,0,0,0,0,0,1,5253,5346,10599

In [49]:
df_pop_nakhon.to_csv('Nakhon-population-details.csv', encoding = 'utf-8')

## Merging Data

### 2014-2016 [Training]

In [29]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '80']
df_lst_2014 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2014.csv'))
df_lst_2014 = df_lst_2014.drop('Unnamed: 0', axis =1 )
df_lst_2014['addrcode'] = df_lst_2014['addrcode'].astype(str)
df_lst_2014['Year'] = df_lst_2014['Year'].astype(str)
df_lst_2015 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2015.csv'))
df_lst_2015 = df_lst_2015.drop('Unnamed: 0', axis =1 )
df_lst_2015['addrcode'] = df_lst_2015['addrcode'].astype(str)
df_lst_2015['Year'] = df_lst_2015['Year'].astype(str)
df_lst_2016 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2016.csv'))
df_lst_2016 = df_lst_2016.drop('Unnamed: 0', axis =1 )
df_lst_2016['addrcode'] = df_lst_2016['addrcode'].astype(str)
df_lst_2016['Year'] = df_lst_2016['Year'].astype(str)
df_df10000pop = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','DFp10000Population_NST.csv'))

In [30]:
df_rain = df_rain.loc[df_rain['Year'] < 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
len(df_rain)

24883

In [31]:
df_lst_2014 = df_lst_2014.loc[df_lst_2014['Week'] > 8]
df_lst_2014.head()

     Week  Year addrcode  temperature
167    10  2014   800101    33.384643
168    10  2014   800102    33.493571
169    10  2014   800103    33.493571
170    10  2014   800106    32.094643
171    10  2014   800107    31.973571

In [32]:
frame = [df_lst_2014, df_lst_2015, df_lst_2016]
df_lst = pd.concat(frame)
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
len(df_lst)

24883

In [33]:
df_rain_lst = pd.merge(df_rain,df_lst, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2015   800101       0.0      26.8175
1     1  2015   800102       0.0      26.1575
2     1  2015   800103       0.0      26.1575
3     1  2015   800106       0.0      27.2800
4     1  2015   800107       0.0      26.6400

In [34]:
df_df = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_10000Population.csv'))
df_df = df_df.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_df.columns = ['addrcode','Year','Week','DF10000Pop']
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
df_df.head()

  addrcode  Year  Week  DF10000Pop
0   100101  2014     1         0.0
1   100101  2014     2         0.0
2   100101  2014     3         0.0
3   100101  2014     4         0.0
4   100101  2014     5         0.0

In [35]:
df_rain_lst_df = pd.merge(df_rain_lst, df_df, how = 'inner', on = ['Year','Week','addrcode'])
df_rain_lst_df.head()

   Week  Year addrcode  rainfall  temperature  DF10000Pop
0     1  2015   800101       0.0      26.8175         0.0
1     1  2015   800102       0.0      26.1575         0.0
2     1  2015   800103       0.0      26.1575         0.0
3     1  2015   800106       0.0      27.2800         0.0
4     1  2015   800107       0.0      26.6400         0.0

In [65]:
df_cd = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','CD_NST_subdist.csv'))
df_cd = df_cd.drop(['Unnamed: 0','total'],axis = 1)
df_cd['addrcode'] = df_cd['addrcode'].astype(str)
df_cd.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall
0,800204,1.373,0.009,2.933,0.019,0.000,1.653,0.346,0.000
1,800807,1.113,0.059,5.389,0.029,0.029,4.305,0.937,0.029
2,800120,1.495,0.187,9.193,0.234,0.549,10.595,1.752,0.023
3,800501,0.775,0.000,2.368,0.044,0.000,1.594,0.177,0.000
4,800810,0.544,0.000,1.234,0.000,0.000,3.738,0.581,0.036

In [66]:
df_rain_lst_df_cd = pd.merge(df_rain_lst_df, df_cd, how = 'inner', on ='addrcode')
df_rain_lst_df_cd.head()

,Week,Year,addrcode,rainfall,temperature,DF10000Pop,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall
0,1,2015,800101,0.00,26.817500,0.000000,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634
1,1,2016,800101,558.52,29.466250,0.686845,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634
2,2,2015,800101,68.88,26.654821,0.457896,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634
3,2,2016,800101,135.14,29.840000,0.686845,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634
4,3,2015,800101,7.99,27.230000,0.000000,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634

In [67]:
df_pop = pd.read_csv(os.path.join('Data','Population','full-info','Nakhon-population-details.csv'))
df_pop = df_pop.drop('district', axis = 1)
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.head()

,addrcode,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,801611,552,242,442,1058,1078,1057,1344,1118
1,800708,654,308,514,1265,1334,1451,2008,1424
2,801206,377,138,262,671,745,792,1061,1055
3,800301,595,248,446,922,1096,1240,1847,1150
4,800907,1142,491,720,1486,1713,1669,2092,1273

In [68]:
df_rain_lst_df_cd_pop = pd.merge(df_rain_lst_df_cd, df_pop, how = 'inner', on ='addrcode')
df_rain_lst_df_cd_pop.head()

,Week,Year,addrcode,rainfall,temperature,DF10000Pop,bin,bowl,bucket,misc_short,...,tire,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,1,2015,800101,0.00,26.817500,0.000000,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
1,1,2016,800101,558.52,29.466250,0.686845,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
2,2,2015,800101,68.88,26.654821,0.457896,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
3,2,2016,800101,135.14,29.840000,0.686845,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
4,3,2015,800101,7.99,27.230000,0.000000,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584

In [88]:
df_rain_lst_df_cd_pop = df_rain_lst_df_cd_pop.sort_values(['addrcode','Year'])
df_rain_lst_df_cd_pop.head()
#df_rain_lst_df_cd_pop.to_csv('train_original.csv', encoding ='utf-8')
## After export training data, add lag week 1-6 manually

,Week,Year,addrcode,rainfall,temperature,DF10000Pop,bin,bowl,bucket,misc_short,...,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60,WeekYear
0,14,2014,800101,3.07,33.910000,0.000000,46.919,3.551,120.213,2.029,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,142014
1,15,2014,800101,29.34,33.605000,0.000000,46.919,3.551,120.213,2.029,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,152014
2,16,2014,800101,55.64,33.584643,0.000000,46.919,3.551,120.213,2.029,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,162014
3,17,2014,800101,12.71,34.080357,0.000000,46.919,3.551,120.213,2.029,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,172014
4,18,2014,800101,3.06,34.000000,0.228948,46.919,3.551,120.213,2.029,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,182014

In [36]:
df_train_lag = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','train_original.csv'))
df_train_lag = df_train_lag.drop('Unnamed: 0', axis = 1)
df_train_lag['WeekYear'] = df_train_lag[['Week','Year']].astype(str).sum(axis=1)
df_train_lag['WeekYear'] = df_train_lag['WeekYear'].astype(str).str[:-2]
df_train_lag.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_0,...,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60,WeekYear
0,15,2014,800101,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,0.000000,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,152014
1,16,2014,800101,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,162014
2,17,2014,800101,0.228948,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,172014
3,18,2014,800101,0.457896,0.228948,0.000000,0.000000,0.000000,0.000000,0.228948,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,182014
4,19,2014,800101,0.228948,0.457896,0.228948,0.000000,0.000000,0.000000,0.000000,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,192014

In [37]:
list = ['92014','102014','112014','122014','132014','142014','472016','482016','492016','502016','512016','522016']

for i in range(len(list)):
     df_train_lag = df_train_lag[df_train_lag.WeekYear != list[i]]

In [38]:
df_train_lag = df_train_lag.reset_index()
df_train_lag = df_train_lag.drop(['index','WeekYear'], axis = 1)
df_train_lag.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_0,...,tire,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,15,2014,800101,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,0.000000,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
1,16,2014,800101,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
2,17,2014,800101,0.228948,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
3,18,2014,800101,0.457896,0.228948,0.000000,0.000000,0.000000,0.000000,0.228948,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
4,19,2014,800101,0.228948,0.457896,0.228948,0.000000,0.000000,0.000000,0.000000,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584

In [39]:
df_train_lag.to_csv('Data/Modeling/Training&Testing/train_subdist.csv', encoding ='utf-8')

### [District Level]

In [142]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '80']
df_lst_2014 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2014.csv'))
df_lst_2014 = df_lst_2014.drop('Unnamed: 0', axis =1 )
df_lst_2014['addrcode'] = df_lst_2014['addrcode'].astype(str)
df_lst_2014['Year'] = df_lst_2014['Year'].astype(str)
df_lst_2015 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2015.csv'))
df_lst_2015 = df_lst_2015.drop('Unnamed: 0', axis =1 )
df_lst_2015['addrcode'] = df_lst_2015['addrcode'].astype(str)
df_lst_2015['Year'] = df_lst_2015['Year'].astype(str)
df_lst_2016 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2016.csv'))
df_lst_2016 = df_lst_2016.drop('Unnamed: 0', axis =1 )
df_lst_2016['addrcode'] = df_lst_2016['addrcode'].astype(str)
df_lst_2016['Year'] = df_lst_2016['Year'].astype(str)
df_df10000pop = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','DFp10000Population_NST.csv'))

In [143]:
df_rain = df_rain.loc[df_rain['Year'] < 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
df_lst_2014 = df_lst_2014.loc[df_lst_2014['Week'] > 8]
frame = [df_lst_2014, df_lst_2015, df_lst_2016]
df_lst = pd.concat(frame)
df_lst['addrcode'] = df_lst['addrcode'].astype(str)
df_rain_lst = pd.merge(df_rain,df_lst, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst

       Week  Year addrcode  rainfall  temperature
0         1  2015   800101       0.0     26.81750
1         1  2015   800102       0.0     26.15750
2         1  2015   800103       0.0     26.15750
3         1  2015   800106       0.0     27.28000
4         1  2015   800107       0.0     26.64000
5         1  2015   800108       0.0     26.79000
6         1  2015   800112       0.0     25.62500
7         1  2015   800113       0.0     25.84250
8         1  2015   800114       0.0     26.81750
9         1  2015   800115       0.0     25.60000
10        1  2015   800116       0.0     25.73000
11        1  2015   800118       0.0     25.60000
12        1  2015   800119       0.0     27.29500
13        1  2015   800120       0.0     26.43000
14        1  2015   800121       0.0     26.33750
15        1  2015   800122       0.0     27.48750
16        1  2015   800201       0.0     24.80500
17        1  2015   800202       0.0     29.48000
18        1  2015   800203       0.0     25.93750
19        1  2015   800204       0.0     23.65000
20        1  2015   800205       0.0     25.31750
21        1  2015   800301       0.0     25.77000
22        1  2015   800302       0.0     25.62000
23        1  2015   800303       0.0     29.50000
24        1  2015   800304       0.0     22.48750
25        1  2015   800305       0.0     28.95750
26        1  2015   800401       0.0     27.79000
27        1  2015   800403       0.0     24.76500
28        1  2015   800404       0.0     28.10250
29        1  2015   800405       0.0     27.99750
...     ...   ...      ...       ...          ...
24853    53  2015   801610       0.0     28.62500
24854    53  2015   801611       0.0     27.63625
24855    53  2015   801701       0.0     28.33875
24856    53  2015   801702       0.0     28.10875
24857    53  2015   801703       0.0     28.33250
24858    53  2015   801704       0.0     28.52625
24859    53  2015   801801       0.0     28.21750
24860    53  2015   801802       0.0     28.47750
24861    53  2015   801803       0.0     27.89250
24862    53  2015   801901       0.0     28.09250
24863    53  2015   801902       0.0     28.09250
24864    53  2015   801903       0.0     28.28625
24865    53  2015   801904       0.0     28.30750
24866    53  2015   801905       0.0     28.13125
24867    53  2015   801906       0.0     26.66625
24868    53  2015   802001       0.0     28.09625
24869    53  2015   802002       0.0     28.69875
24870    53  2015   802003       0.0     27.64750
24871    53  2015   802004       0.0     28.12750
24872    53  2015   802101       0.0     26.33875
24873    53  2015   802102       0.0     25.46875
24874    53  2015   802103       0.0     28.20250
24875    53  2015   802104       0.0     26.32750
24876    53  2015   802201       0.0     26.96375
24877    53  2015   802202       0.0     28.34750
24878    53  2015   802203       0.0     26.22000
24879    53  2015   802301       0.0     29.05125
24880    53  2015   802302       0.0     28.57625
24881    53  2015   802303       0.0     28.52125
24882    53  2015   802304       0.0     28.19000

[24883 rows x 5 columns]

In [40]:
df_train_dist = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','train_subdist.csv'))
df_train_dist = df_train_dist.drop('Unnamed: 0', axis = 1)
df_train_dist['addrcode'] = df_train_dist['addrcode'].astype(str)
df_train_dist.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_0,...,tire,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,15,2014,800101,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,0.000000,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
1,16,2014,800101,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
2,17,2014,800101,0.228948,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
3,18,2014,800101,0.457896,0.228948,0.000000,0.000000,0.000000,0.000000,0.228948,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
4,19,2014,800101,0.228948,0.457896,0.228948,0.000000,0.000000,0.000000,0.000000,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584

In [41]:
df_train_dist = df_train_dist.groupby([df_train_dist['addrcode'].str[:4],df_train_dist['Week'],df_train_dist['Year']]).sum()
df_train_dist.head()

                        DF_6      DF_5      DF_4      DF_3       DF_2  \
addrcode Week Year
8001     1    2015  4.715599  5.399181  4.012237  3.963473   6.065856
              2016  4.566046  5.696456  7.208317  6.589419  10.111112
         2    2015  3.396176  4.715599  5.399181  4.012237   3.963473
              2016  3.506740  4.566046  5.696456  7.208317   6.589419
         3    2015  3.317883  3.396176  4.715599  5.399181   4.012237

                         DF_1      DF_0    DF_wm1    DF_wm2    DF_wm3  \
addrcode Week Year
8001     1    2015   4.237492  5.990012  1.458665  5.706584  2.908821
              2016   2.192914  6.441571  1.169948  5.825736  4.860896
         2    2015   6.065856  4.237492  5.990012  1.458665  5.706584
              2016  10.111112  2.192914  6.441571  1.169948  5.825736
         3    2015   3.963473  6.065856  4.237492  5.990012  1.458665

                      ...       tire  misc_tall  Age < 7  Age 7 - 9  \
addrcode Week Year    ...
8001     1    2015    ...     119.88      2.921    22194      10025
              2016    ...     119.88      2.921    22194      10025
         2    2015    ...     119.88      2.921    22194      10025
              2016    ...     119.88      2.921    22194      10025
         3    2015    ...     119.88      2.921    22194      10025

                    Age 10 - 14  Age 15 - 24  Age 25 - 34  Age 35 - 44  \
addrcode Week Year
8001     1    2015        17169        40738        39564        40158
              2016        17169        40738        39564        40158
         2    2015        17169        40738        39564        40158
              2016        17169        40738        39564        40158
         3    2015        17169        40738        39564        40158

                    Age 45 - 60  Age > 60
addrcode Week Year
8001     1    2015        57796     40340
              2016        57796     40340
         2    2015        57796     40340
              2016        57796     40340
         3    2015        57796     40340

[5 rows x 38 columns]

In [42]:
df_train_dist.to_csv('Data/Modeling/Training&Testing/train_dist.csv', encoding ='utf-8')

### 2017 [Testing]

In [10]:
df_rain = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rain = df_rain.drop('Unnamed: 0', axis =1 )
df_rain['addrcode'] = df_rain['addrcode'].astype(str)
df_rain = df_rain.loc[df_rain['addrcode'].str[:2] == '80']
df_lst_2017 = pd.read_csv(os.path.join('Data','Climatic Data','LST_weekly_NST_2017.csv'))
df_lst_2017 = df_lst_2017.drop('Unnamed: 0', axis =1 )
df_lst_2017['addrcode'] = df_lst_2017['addrcode'].astype(str)
df_lst_2017['Year'] = df_lst_2017['Year'].astype(str)
df_df10000pop = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DFp10000Population_NST.csv'))

In [11]:
df_rain = df_rain.loc[df_rain['Year'] == 2017]
df_rain = df_rain.sort_values(['Week','Year','addrcode'])
df_rain = df_rain[['Week','Year','addrcode','rainfall']]
df_rain['Year'] = df_rain['Year'].astype(str)
len(df_rain)

8684

In [12]:
df_rain_lst = pd.merge(df_rain,df_lst_2017, how = 'inner', on = ['Week','Year','addrcode'])
df_rain_lst.head()

   Week  Year addrcode  rainfall  temperature
0     1  2017   800101     19.26       26.320
1     1  2017   800102     19.26       24.645
2     1  2017   800103     19.26       24.645
3     1  2017   800106     22.51       24.745
4     1  2017   800107     22.51       23.945

In [13]:
df_df = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_10000Population.csv'))
df_df = df_df.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_df.columns = ['addrcode','Year','Week','DF10000Pop']
df_df['addrcode'] = df_df['addrcode'].astype(str)
df_df['Year'] = df_df['Year'].astype(str)
df_df.head()

  addrcode  Year  Week  DF10000Pop
0   100101  2014     1         0.0
1   100101  2014     2         0.0
2   100101  2014     3         0.0
3   100101  2014     4         0.0
4   100101  2014     5         0.0

In [14]:
df_rain_lst_df = pd.merge(df_rain_lst, df_df, how = 'inner', on = ['Year','Week','addrcode'])
df_rain_lst_df.head()

   Week  Year addrcode  rainfall  temperature  DF10000Pop
0     1  2017   800101     19.26       26.320    0.228948
1     1  2017   800102     19.26       24.645    0.575374
2     1  2017   800103     19.26       24.645    0.000000
3     1  2017   800106     22.51       24.745    0.000000
4     1  2017   800107     22.51       23.945    1.343725

In [15]:
df_cd = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','CD_NST_subdist.csv'))
df_cd = df_cd.drop(['Unnamed: 0','total'],axis = 1)
df_cd['addrcode'] = df_cd['addrcode'].astype(str)
df_cd.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall
0,800204,1.373,0.009,2.933,0.019,0.000,1.653,0.346,0.000
1,800807,1.113,0.059,5.389,0.029,0.029,4.305,0.937,0.029
2,800120,1.495,0.187,9.193,0.234,0.549,10.595,1.752,0.023
3,800501,0.775,0.000,2.368,0.044,0.000,1.594,0.177,0.000
4,800810,0.544,0.000,1.234,0.000,0.000,3.738,0.581,0.036

In [16]:
df_rain_lst_df_cd = pd.merge(df_rain_lst_df, df_cd, how = 'inner', on ='addrcode')
df_rain_lst_df_cd.head()

,Week,Year,addrcode,rainfall,temperature,DF10000Pop,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall
0,1,2017,800101,19.26,26.320000,0.228948,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634
1,2,2017,800101,85.21,25.900000,0.457896,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634
2,3,2017,800101,74.16,26.101786,1.144741,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634
3,4,2017,800101,68.64,27.526429,1.373689,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634
4,5,2017,800101,19.79,28.921429,1.144741,46.919,3.551,120.213,2.029,2.917,164.469,20.796,0.634

In [17]:
df_pop = pd.read_csv(os.path.join('Data','Population','full-info','Nakhon-population-details.csv'))
df_pop = df_pop.drop('district', axis = 1)
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.head()

,addrcode,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,801611,552,242,442,1058,1078,1057,1344,1118
1,800708,654,308,514,1265,1334,1451,2008,1424
2,801206,377,138,262,671,745,792,1061,1055
3,800301,595,248,446,922,1096,1240,1847,1150
4,800907,1142,491,720,1486,1713,1669,2092,1273

In [18]:
df_rain_lst_df_cd_pop = pd.merge(df_rain_lst_df_cd, df_pop, how = 'inner', on ='addrcode')
df_rain_lst_df_cd_pop.head()

,Week,Year,addrcode,rainfall,temperature,DF10000Pop,bin,bowl,bucket,misc_short,...,tire,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,1,2017,800101,19.26,26.320000,0.228948,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
1,2,2017,800101,85.21,25.900000,0.457896,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
2,3,2017,800101,74.16,26.101786,1.144741,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
3,4,2017,800101,68.64,27.526429,1.373689,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
4,5,2017,800101,19.79,28.921429,1.144741,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584

In [19]:
df_rain_lst_df_cd_pop = df_rain_lst_df_cd_pop.sort_values(['addrcode','Year'])
df_rain_lst_df_cd_pop.head()

,Week,Year,addrcode,rainfall,temperature,DF10000Pop,bin,bowl,bucket,misc_short,...,tire,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,1,2017,800101,19.26,26.320000,0.228948,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
1,2,2017,800101,85.21,25.900000,0.457896,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
2,3,2017,800101,74.16,26.101786,1.144741,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
3,4,2017,800101,68.64,27.526429,1.373689,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
4,5,2017,800101,19.79,28.921429,1.144741,46.919,3.551,120.213,2.029,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584

In [20]:
df_rain_lst_df_cd_pop.to_csv('test_original.csv', encoding ='utf-8')

In [43]:
df_test_lag = pd.read_csv(os.path.join('Data','Modeling','training&Testing','test_original.csv'))
df_test_lag = df_test_lag.drop('Unnamed: 0', axis = 1)
df_test_lag['WeekYear'] = df_test_lag[['Week','Year']].astype(str).sum(axis=1)
df_test_lag['WeekYear'] = df_test_lag['WeekYear'].astype(str).str[:-2]
df_test_lag.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_0,...,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60,WeekYear
0,7,2017,800101,1.144741,1.373689,0.228948,0.686845,0.686845,0.457896,3.434223,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,72017
1,8,2017,800101,0.457896,1.144741,1.373689,0.228948,0.686845,0.686845,0.457896,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,82017
2,9,2017,800101,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,0.686845,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,92017
3,10,2017,800101,1.373689,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,102017
4,11,2017,800101,0.228948,1.373689,1.373689,0.457896,1.144741,1.373689,0.228948,...,0.634,3786,1934,3354,7153,5710,5753,8958,6584,112017

In [44]:
list = ['12017','22017','32017','42017','52017','62017','472017','482017','492017','502017','512017','522017']

for i in range(len(list)):
     df_test_lag = df_test_lag[df_test_lag.WeekYear != list[i]]

In [45]:
df_test_lag = df_test_lag.reset_index()
df_test_lag = df_test_lag.drop(['index','WeekYear'], axis = 1)
df_test_lag.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_0,...,tire,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,7,2017,800101,1.144741,1.373689,0.228948,0.686845,0.686845,0.457896,3.434223,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
1,8,2017,800101,0.457896,1.144741,1.373689,0.228948,0.686845,0.686845,0.457896,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
2,9,2017,800101,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,0.686845,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
3,10,2017,800101,1.373689,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
4,11,2017,800101,0.228948,1.373689,1.373689,0.457896,1.144741,1.373689,0.228948,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584

In [46]:
df_test_lag.to_csv('Data/Modeling/Training&Testing/test_subdist.csv', encoding ='utf-8')

### [District Level]

In [47]:
df_test_dist = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','test_subdist.csv'))
df_test_dist = df_test_dist.drop('Unnamed: 0', axis = 1)
df_test_dist['addrcode'] = df_test_dist['addrcode'].astype(str)
df_test_dist.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_0,...,tire,misc_tall,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,7,2017,800101,1.144741,1.373689,0.228948,0.686845,0.686845,0.457896,3.434223,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
1,8,2017,800101,0.457896,1.144741,1.373689,0.228948,0.686845,0.686845,0.457896,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
2,9,2017,800101,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,0.686845,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
3,10,2017,800101,1.373689,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584
4,11,2017,800101,0.228948,1.373689,1.373689,0.457896,1.144741,1.373689,0.228948,...,20.796,0.634,3786,1934,3354,7153,5710,5753,8958,6584

In [48]:
df_test_dist = df_test_dist.groupby([df_test_dist['addrcode'].str[:4],df_test_dist['Week'],df_test_dist['Year']]).sum()
df_test_dist.head()

                         DF_6       DF_5       DF_4      DF_3      DF_2  \
addrcode Week Year
8001     7    2017   6.658813   6.694784   6.480990  8.532258  5.858680
         8    2017   5.120440   6.658813   6.694784  6.480990  8.532258
         9    2017  10.956459   5.120440   6.658813  6.694784  6.480990
         10   2017   9.001491  10.956459   5.120440  6.658813  6.694784
         11   2017   6.322977   9.001491  10.956459  5.120440  6.658813

                         DF_1       DF_0     DF_wm1     DF_wm2     DF_wm3  \
addrcode Week Year
8001     7    2017  10.572251   9.347127   7.638551  14.560057   5.916020
         8    2017   5.858680  10.572251   9.347127   7.638551  14.560057
         9    2017   8.532258   5.858680  10.572251   9.347127   7.638551
         10   2017   6.480990   8.532258   5.858680  10.572251   9.347127
         11   2017   6.694784   6.480990   8.532258   5.858680  10.572251

                      ...       tire  misc_tall  Age < 7  Age 7 - 9  \
addrcode Week Year    ...
8001     7    2017    ...     119.88      2.921    22194      10025
         8    2017    ...     119.88      2.921    22194      10025
         9    2017    ...     119.88      2.921    22194      10025
         10   2017    ...     119.88      2.921    22194      10025
         11   2017    ...     119.88      2.921    22194      10025

                    Age 10 - 14  Age 15 - 24  Age 25 - 34  Age 35 - 44  \
addrcode Week Year
8001     7    2017        17169        40738        39564        40158
         8    2017        17169        40738        39564        40158
         9    2017        17169        40738        39564        40158
         10   2017        17169        40738        39564        40158
         11   2017        17169        40738        39564        40158

                    Age 45 - 60  Age > 60
addrcode Week Year
8001     7    2017        57796     40340
         8    2017        57796     40340
         9    2017        57796     40340
         10   2017        57796     40340
         11   2017        57796     40340

[5 rows x 38 columns]

In [49]:
df_test_dist.to_csv('Data/Modeling/Training&Testing/test_dist.csv', encoding = 'utf-8')

## Container * (Area / Image Area)

### [Subdistrict]

In [4]:
df_container = pd.read_csv(os.path.join('Data','Container Density','Subdistrict level','container_Krabi_subdist.csv'))
df_container = df_container.drop('Unnamed: 0', axis = 1)
df_container['addrcode'] = df_container['addrcode'].astype(str)
df_container.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,810503,32,1,307,10,9,104,38,1,502
1,810507,80,2,253,3,16,146,55,0,555
2,810604,87,1,160,5,35,175,31,2,496
3,810205,33,1,263,2,21,112,28,0,460
4,810508,48,1,214,2,18,143,36,0,462

In [5]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_krabi.csv'))
df_area = df_area.drop(['Unnamed: 0', 'image_coverage'], axis = 1)
df_area['addrcode'] = df_area['addrcode'].astype(str)
df_area['area/image'] = df_area['land_area'] / df_area['image_area']
df_area['area/image'] = df_area['area/image'].round(2)
df_area.head()

  addrcode  land_area  image_area  area/image
0   810103    1447.73      140.72       10.29
1   810105    1081.72       40.58       26.66
2   810106    1671.57       61.19       27.32
3   810111    1397.45       33.80       41.34
4   810115     648.91       46.44       13.97

In [6]:
df_container_area = pd.merge(df_area,df_container, how = 'inner')
df_container_area.head()

,addrcode,land_area,image_area,area/image,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,810103,1447.73,140.72,10.29,32,8,558,7,22,341,69,2,1039
1,810105,1081.72,40.58,26.66,2,0,38,1,3,16,16,0,76
2,810106,1671.57,61.19,27.32,21,4,153,2,19,138,58,1,396
3,810111,1397.45,33.80,41.34,12,1,68,2,4,31,27,1,146
4,810115,648.91,46.44,13.97,16,1,171,2,10,97,41,1,339

In [7]:
df_container_area['bin_ai'] = df_container_area['bin']* df_container_area['area/image']
df_container_area['bin_ai'] = df_container_area['bin_ai'].round(3)
df_container_area['bowl_ai'] = df_container_area['bowl']* df_container_area['area/image']
df_container_area['bowl_ai'] = df_container_area['bowl_ai'].round(3)
df_container_area['bucket_ai'] = df_container_area['bucket']* df_container_area['area/image']
df_container_area['bucket_ai'] = df_container_area['bucket_ai'].round(3)
df_container_area['misc_short_ai'] = df_container_area['misc_short']* df_container_area['area/image']
df_container_area['misc_short_ai'] = df_container_area['misc_short_ai'].round(3)
df_container_area['jar_ai'] = df_container_area['jar']* df_container_area['area/image']
df_container_area['jar_ai'] = df_container_area['jar_ai'].round(3)
df_container_area['pottedplant_ai'] = df_container_area['pottedplant']* df_container_area['area/image']
df_container_area['pottedplant_ai'] = df_container_area['pottedplant_ai'].round(3)
df_container_area['tire_ai'] = df_container_area['tire']* df_container_area['area/image']
df_container_area['tire_ai'] = df_container_area['tire_ai'].round(3)
df_container_area['misc_tall_ai'] = df_container_area['misc_tall']* df_container_area['area/image']
df_container_area['misc_tall_ai'] = df_container_area['misc_tall_ai'].round(3)
df_container_area['total_ai'] = df_container_area['total']* df_container_area['area/image']
df_container_area['total_ai'] = df_container_area['total_ai'].round(3)

In [8]:
df_container_area.head()
df_container_area.to_csv('container_area_krabi_subdist.csv', encoding = 'utf-8')

### [District]

In [166]:
aggregation_function = {'land_area': 'sum', 'image_area' : 'sum', 'bin' : 'sum', 'bowl' : 'sum', 'bucket' : 'sum', 'misc_short' : 'sum', 'jar' : 'sum', 'pottedplant' : 'sum', 'tire' : 'sum', 'misc_tall' : 'sum', 'total' : 'sum'}
df_container_area_dist = df_container_area.groupby([df_container_area['addrcode'].str[:4]]).aggregate(aggregation_function).reset_index()
df_container_area_dist['area/image'] = df_container_area_dist['land_area']/df_container_area_dist['image_area']
df_container_area_dist['area/image'] = df_container_area_dist['area/image'].round(2)
df_container_area_dist = df_container_area_dist[['addrcode','land_area','image_area','area/image','bin','bowl','bucket','misc_short','jar','pottedplant','tire','misc_tall','total']]
df_container_area_dist

,addrcode,land_area,image_area,area/image,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,8101,7989.02,453.65,17.61,103,18,1199,22,83,893,272,7,2597
1,8102,7755.60,399.72,19.40,280,4,1598,24,146,1022,291,2,3367
2,8103,1839.75,166.34,11.06,47,9,905,21,25,365,97,2,1471
3,8104,10190.93,635.93,16.03,312,26,2873,44,135,1375,567,7,5339
4,8105,5969.54,518.05,11.52,609,19,2699,47,174,1491,541,7,5587
5,8106,4832.35,384.75,12.56,237,10,1382,20,126,843,178,7,2803
6,8107,2568.56,177.77,14.45,200,13,1121,12,67,752,198,4,2367
7,8108,4135.14,490.77,8.43,389,31,3917,62,94,1533,463,5,6494

In [167]:
df_container_area_dist['bin_ai'] = df_container_area_dist['bin']* df_container_area_dist['area/image']
df_container_area_dist['bin_ai'] = df_container_area_dist['bin_ai'].round(3)
df_container_area_dist['bowl_ai'] = df_container_area_dist['bowl']* df_container_area_dist['area/image']
df_container_area_dist['bowl_ai'] = df_container_area_dist['bowl_ai'].round(3)
df_container_area_dist['bucket_ai'] = df_container_area_dist['bucket']* df_container_area_dist['area/image']
df_container_area_dist['bucket_ai'] = df_container_area_dist['bucket_ai'].round(3)
df_container_area_dist['misc_short_ai'] = df_container_area_dist['misc_short']* df_container_area_dist['area/image']
df_container_area_dist['misc_short_ai'] = df_container_area_dist['misc_short_ai'].round(3)
df_container_area_dist['jar_ai'] = df_container_area_dist['jar']* df_container_area_dist['area/image']
df_container_area_dist['jar_ai'] = df_container_area_dist['jar_ai'].round(3)
df_container_area_dist['pottedplant_ai'] = df_container_area_dist['pottedplant']* df_container_area_dist['area/image']
df_container_area_dist['pottedplant_ai'] = df_container_area_dist['pottedplant_ai'].round(3)
df_container_area_dist['tire_ai'] = df_container_area_dist['tire']* df_container_area_dist['area/image']
df_container_area_dist['tire_ai'] = df_container_area_dist['tire_ai'].round(3)
df_container_area_dist['misc_tall_ai'] = df_container_area_dist['misc_tall']*df_container_area_dist['area/image']
df_container_area_dist['misc_tall_ai'] = df_container_area_dist['misc_tall_ai'].round(3)
df_container_area_dist['total_ai'] = df_container_area_dist['total']* df_container_area_dist['area/image']
df_container_area_dist['total_ai'] = df_container_area_dist['total_ai'].round(3)

In [168]:
df_container_area_dist.head()
df_container_area_dist.to_csv('container_area_krabi_dist.csv', encoding = 'utf-8')

## Image Area / Area * Population

### [Subdistrict]

In [59]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_bangkok.csv'))
df_area = df_area.drop(['Unnamed: 0','image_coverage'], axis = 1)
df_area['addrcode'] = df_area['addrcode'].astype(str)
df_area['image/area'] = df_area['image_area']/ df_area['land_area']
df_area['image/area'].loc[df_area['image/area'] > 1 ] = 1
df_area['image/area'] = df_area['image/area'].round(2)
df_area.head()

  addrcode  land_area  image_area  image/area
0   100101      14.11       16.16         1.0
1   100102       6.62        9.67         1.0
2   100103       1.97        3.32         1.0
3   100104       2.15        3.11         1.0
4   100105       1.39        3.46         1.0

In [60]:
df_pop = pd.read_csv(os.path.join('Data','Population','full-info','Bangkok-population-details.csv'))
df_pop = df_pop.drop('district', axis =1)
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.head()

,addrcode,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,100101,129,84,131,680,441,474,895,881
1,100102,461,397,1117,1411,1373,1636,2641,2190
2,100103,119,80,187,427,438,448,831,798
3,100104,140,96,247,426,391,498,802,709
4,100105,131,84,209,375,418,464,779,754

In [61]:
df_area_pop = pd.merge(df_area,df_pop, how = 'inner')
df_area_pop.head()

,addrcode,land_area,image_area,image/area,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,100101,14.11,16.16,1.0,129,84,131,680,441,474,895,881
1,100102,6.62,9.67,1.0,461,397,1117,1411,1373,1636,2641,2190
2,100103,1.97,3.32,1.0,119,80,187,427,438,448,831,798
3,100104,2.15,3.11,1.0,140,96,247,426,391,498,802,709
4,100105,1.39,3.46,1.0,131,84,209,375,418,464,779,754

In [62]:
df_area_pop['Age < 7_s'] = df_area_pop['Age < 7']*df_area_pop['image/area']
df_area_pop['Age < 7_s'] = df_area_pop['Age < 7_s'].round(3)
df_area_pop['Age 7 - 9_s'] = df_area_pop['Age 7 - 9']*df_area_pop['image/area']
df_area_pop['Age 7 - 9_s'] = df_area_pop['Age 7 - 9_s'].round(3)
df_area_pop['Age 10 - 14_s'] = df_area_pop['Age 10 - 14']*df_area_pop['image/area']
df_area_pop['Age 10 - 14_s'] = df_area_pop['Age 10 - 14_s'].round(3)
df_area_pop['Age 15 - 24_s'] = df_area_pop['Age 15 - 24']*df_area_pop['image/area']
df_area_pop['Age 15 - 24_s'] = df_area_pop['Age 15 - 24_s'].round(3)
df_area_pop['Age 25 - 34_s'] = df_area_pop['Age 25 - 34']*df_area_pop['image/area']
df_area_pop['Age 25 - 34_s'] = df_area_pop['Age 25 - 34_s'].round(3)
df_area_pop['Age 35 - 44_s'] = df_area_pop['Age 35 - 44']*df_area_pop['image/area']
df_area_pop['Age 35 - 44_s'] = df_area_pop['Age 35 - 44_s'].round(3)
df_area_pop['Age 45 - 60_s'] = df_area_pop['Age 45 - 60']*df_area_pop['image/area']
df_area_pop['Age 45 - 60_s'] = df_area_pop['Age 45 - 60_s'].round(3)
df_area_pop['Age > 60_s'] = df_area_pop['Age > 60']*df_area_pop['image/area']
df_area_pop['Age > 60_s'] = df_area_pop['Age > 60_s'].round(3)
df_area_pop.head()

,addrcode,land_area,image_area,image/area,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s
0,100101,14.11,16.16,1.0,129,84,131,680,441,474,895,881,129.0,84.0,131.0,680.0,441.0,474.0,895.0,881.0
1,100102,6.62,9.67,1.0,461,397,1117,1411,1373,1636,2641,2190,461.0,397.0,1117.0,1411.0,1373.0,1636.0,2641.0,2190.0
2,100103,1.97,3.32,1.0,119,80,187,427,438,448,831,798,119.0,80.0,187.0,427.0,438.0,448.0,831.0,798.0
3,100104,2.15,3.11,1.0,140,96,247,426,391,498,802,709,140.0,96.0,247.0,426.0,391.0,498.0,802.0,709.0
4,100105,1.39,3.46,1.0,131,84,209,375,418,464,779,754,131.0,84.0,209.0,375.0,418.0,464.0,779.0,754.0

In [63]:
df_area_pop.to_csv('area_pop_bangkok.csv' , encoding = 'utf-8')

### [District]

In [64]:
aggregation_function = {'land_area': 'sum', 'image_area' : 'sum', 'Age < 7' : 'sum', 'Age 7 - 9' : 'sum', 'Age 10 - 14' : 'sum', 'Age 15 - 24' : 'sum', 'Age 25 - 34' : 'sum', 'Age 35 - 44' : 'sum', 'Age 45 - 60' : 'sum', 'Age > 60' : 'sum'}
df_area_pop_dist = df_area_pop.groupby([df_area_pop['addrcode'].str[:4]]).aggregate(aggregation_function).reset_index()
df_area_pop_dist['image/area'] = df_area_pop_dist['image_area']/df_area_pop_dist['land_area']
df_area_pop_dist['image/area'] = df_area_pop_dist['image/area'].round(2)
df_area_pop_dist = df_area_pop_dist[['addrcode','land_area','image_area','image/area','Age < 7','Age 7 - 9','Age 10 - 14','Age 15 - 24','Age 25 - 34','Age 35 - 44','Age 45 - 60','Age > 60']]
df_area_pop_dist

,addrcode,land_area,image_area,image/area,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,1001,49.81,69.02,1.39,1975,1405,3421,6768,6310,7189,12263,11377
1,1002,53.07,49.04,0.92,1773,918,1741,5666,4736,4906,8967,8626
2,1003,2004.40,343.33,0.17,14242,6928,11754,23905,21426,27989,36450,14785
3,1004,37.26,63.79,1.71,1713,887,1627,4386,5256,5566,9144,9096
4,1005,380.54,356.60,0.94,11902,5489,9681,25038,25866,33522,49226,26742
5,1006,256.20,324.00,1.26,9588,4762,8198,18096,20115,27265,36103,21749
6,1007,74.60,111.71,1.50,2168,1079,2217,6652,6386,6592,10592,8572
7,1008,23.25,39.87,1.71,2042,995,1988,5534,5874,6300,10901,10325
8,1010,567.66,249.76,0.44,11209,5608,9807,20286,18349,23765,34629,15208
9,1011,1092.46,363.10,0.33,12067,5622,9762,20301,20246,25727,34517,13137
10,1012,116.11,103.89,0.89,4793,2372,4187,9951,11241,12442,18461,13589
11,1013,12.93,15.53,1.20,876,478,1013,2776,3172,3366,5912,5850
12,1014,85.59,137.12,1.60,3674,1984,4090,10617,9655,10829,16478,11427
13,1015,78.58,81.93,1.04,5818,2873,5325,14414,15323,16560,27080,20873
14,1016,58.49,37.75,0.65,3362,1619,3166,8770,9170,9972,16252,13540
15,1017,151.56,208.48,1.38,4928,2159,3799,8856,13077,15057,17313,12931
16,1018,55.40,48.20,0.87,3491,1822,3219,8685,9714,10458,16781,14066
17,1019,247.60,161.54,0.65,4782,2365,4116,10332,10949,12360,20522,14281
18,1020,114.47,101.98,0.89,5085,2518,4681,13970,14627,15560,27308,22912
19,1021,1134.33,276.44,0.24,14662,6975,12356,25339,25365,31539,41652,19750
20,1022,178.14,121.18,0.68,7870,3686,6527,16371,17846,20165,30685,21346
21,1023,336.18,201.76,0.60,11216,5585,9567,21483,21458,26419,38180,19391
22,1024,114.51,78.62,0.69,5303,2612,4863,11152,11170,13028,20012,13316
23,1025,109.66,113.34,1.03,4779,2139,3891,11147,12812,14505,23117,19799
24,1026,78.63,131.55,1.67,6599,3430,6445,16290,16606,18542,30287,22450
25,1027,94.09,100.00,1.06,4378,2186,3759,8642,9471,12370,16704,10719
26,1028,67.41,84.05,1.25,3938,2028,3888,9537,10452,11287,18818,16220
27,1029,59.84,77.98,1.30,2152,1022,1975,5076,6332,6945,11214,9364
28,1030,303.39,454.98,1.50,8226,4157,7774,18897,22490,26446,37632,29122
29,1031,77.18,62.03,0.80,5173,2584,4716,11575,11803,12410,20352,16403
30,1032,379.20,286.45,0.76,11112,5118,8462,17575,17937,23581,28673,14949
31,1033,122.94,103.81,0.84,6194,2932,5042,12463,14256,15626,23073,15460
32,1034,223.91,252.01,1.13,8343,3894,7083,15490,18028,21347,26869,17963
33,1035,215.12,146.37,0.68,9115,4452,7912,20484,21628,22516,37060,25497
34,1036,341.00,302.33,0.89,10547,5349,9035,26774,24571,27193,41628,21286
35,1037,66.58,107.98,1.62,3213,1658,3009,9905,8570,8732,14925,11330
36,1038,197.55,272.12,1.38,7188,3638,6840,14463,16208,21143,28788,21033
37,1039,120.69,147.07,1.22,3990,1998,3508,7963,9038,10615,15727,15082
38,1040,323.97,159.71,0.49,8472,4216,7439,18693,18289,21364,33673,19106
39,1041,210.64,274.95,1.31,5877,2824,5151,14035,14004,16829,26135,18723
40,1042,405.27,227.73,0.56,14370,6935,11798,27137,26853,33985,51043,24555
41,1043,235.75,236.77,1.00,5933,2974,5206,11880,11746,14492,21967,12467
42,1044,260.65,205.72,0.79,6579,3114,6095,12965,13061,15576,23155,13339
43,1045,158.59,215.46,1.36,6747,3573,7157,14877,15018,19047,27153,17240
44,1046,1116.49,340.73,0.31,15927,7429,12637,26650,25604,34922,47825,16998
45,1047,175.90,51.73,0.29,5160,2755,4928,11819,12806,14532,22960,14548
46,1048,480.56,227.95,0.47,4699,2416,4235,10552,10376,11667,20627,12503
47,1049,305.87,119.55,0.39,8614,4171,7482,16857,16376,20360,29607,15964
48,1050,332.92,214.54,0.64,7594,4065,7526,16568,13844,16162,25880,12503

In [65]:
df_area_pop_dist['Age < 7_s'] = df_area_pop_dist['Age < 7']*df_area_pop_dist['image/area']
df_area_pop_dist['Age < 7_s'] = df_area_pop_dist['Age < 7_s'].round(3)
df_area_pop_dist['Age 7 - 9_s'] = df_area_pop_dist['Age 7 - 9']*df_area_pop_dist['image/area']
df_area_pop_dist['Age 7 - 9_s'] = df_area_pop_dist['Age 7 - 9_s'].round(3)
df_area_pop_dist['Age 10 - 14_s'] = df_area_pop_dist['Age 10 - 14']*df_area_pop_dist['image/area']
df_area_pop_dist['Age 10 - 14_s'] = df_area_pop_dist['Age 10 - 14_s'].round(3)
df_area_pop_dist['Age 15 - 24_s'] = df_area_pop_dist['Age 15 - 24']*df_area_pop_dist['image/area']
df_area_pop_dist['Age 15 - 24_s'] = df_area_pop_dist['Age 15 - 24_s'].round(3)
df_area_pop_dist['Age 25 - 34_s'] = df_area_pop_dist['Age 25 - 34']*df_area_pop_dist['image/area']
df_area_pop_dist['Age 25 - 34_s'] = df_area_pop_dist['Age 25 - 34_s'].round(3)
df_area_pop_dist['Age 35 - 44_s'] = df_area_pop_dist['Age 35 - 44']*df_area_pop_dist['image/area']
df_area_pop_dist['Age 35 - 44_s'] = df_area_pop_dist['Age 35 - 44_s'].round(3)
df_area_pop_dist['Age 45 - 60_s'] = df_area_pop_dist['Age 45 - 60']*df_area_pop_dist['image/area']
df_area_pop_dist['Age 45 - 60_s'] = df_area_pop_dist['Age 45 - 60_s'].round(3)
df_area_pop_dist['Age > 60_s'] = df_area_pop_dist['Age > 60']*df_area_pop_dist['image/area']
df_area_pop_dist['Age > 60_s'] = df_area_pop_dist['Age > 60_s'].round(3)
df_area_pop_dist.head()

,addrcode,land_area,image_area,image/area,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s
0,1001,49.81,69.02,1.39,1975,1405,3421,6768,6310,7189,12263,11377,2745.25,1952.95,4755.19,9407.52,8770.90,9992.71,17045.57,15814.03
1,1002,53.07,49.04,0.92,1773,918,1741,5666,4736,4906,8967,8626,1631.16,844.56,1601.72,5212.72,4357.12,4513.52,8249.64,7935.92
2,1003,2004.40,343.33,0.17,14242,6928,11754,23905,21426,27989,36450,14785,2421.14,1177.76,1998.18,4063.85,3642.42,4758.13,6196.50,2513.45
3,1004,37.26,63.79,1.71,1713,887,1627,4386,5256,5566,9144,9096,2929.23,1516.77,2782.17,7500.06,8987.76,9517.86,15636.24,15554.16
4,1005,380.54,356.60,0.94,11902,5489,9681,25038,25866,33522,49226,26742,11187.88,5159.66,9100.14,23535.72,24314.04,31510.68,46272.44,25137.48

In [66]:
df_area_pop_dist.to_csv('area_pop_bangkok_dist.csv' , encoding = 'utf-8')

## A * Container count / Population

### [Subdistrict]

In [39]:
df_container = pd.read_csv(os.path.join('Data','Container Density','Subdistrict level','container_Bangkok_subdist.csv'))
df_container = df_container.drop('Unnamed: 0', axis = 1)
df_container['addrcode'] = df_container['addrcode'].astype(str)
df_container.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,100508,838,44,2069,47,125,3744,447,15,7329
1,104605,82,6,314,4,43,301,63,0,813
2,104604,44,7,235,2,6,267,51,0,612
3,103704,63,25,189,19,6,347,80,4,733
4,100108,3,3,18,8,1,47,0,0,80

In [40]:
df_pop = pd.read_csv(os.path.join('Data','Population','full-info','Bangkok-population-details.csv'))
df_pop = df_pop.drop('district', axis =1)
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.head()

,addrcode,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,100101,129,84,131,680,441,474,895,881
1,100102,461,397,1117,1411,1373,1636,2641,2190
2,100103,119,80,187,427,438,448,831,798
3,100104,140,96,247,426,391,498,802,709
4,100105,131,84,209,375,418,464,779,754

In [41]:
df_container_pop = pd.merge(df_container,df_pop, how = 'inner')
df_container_pop.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,100508,838,44,2069,47,125,3744,447,15,7329,6486,3085,5221,11933,12324,18041,25030,12338
1,104605,82,6,314,4,43,301,63,0,813,1597,687,1222,2657,2382,2571,3574,1665
2,104604,44,7,235,2,6,267,51,0,612,949,436,747,1705,1757,1985,3064,1163
3,103704,63,25,189,19,6,347,80,4,733,975,487,857,2043,2114,2614,3807,3271
4,100108,3,3,18,8,1,47,0,0,80,89,72,161,337,319,350,650,518

In [42]:
df_pop_total = pd.read_csv(os.path.join('Data','Population','addrcode-index','Bangkok-population.csv'))
df_pop_total['addrcode'] = df_pop_total['addrcode'].astype(str)
#df_pop_total['addrcode'] = df_pop_total['addrcode'].str[:-2]
df_pop_total.head()

  addrcode  Total
0   100101   3715
1   100102  11226
2   100103   3328
3   100104   3309
4   100105   3214

In [43]:
df_container_pop = pd.merge(df_container_pop, df_pop_total, how = 'inner')
df_container_pop.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60,Total
0,100508,838,44,2069,47,125,3744,447,15,7329,6486,3085,5221,11933,12324,18041,25030,12338,94458
1,104605,82,6,314,4,43,301,63,0,813,1597,687,1222,2657,2382,2571,3574,1665,16355
2,104604,44,7,235,2,6,267,51,0,612,949,436,747,1705,1757,1985,3064,1163,11806
3,103704,63,25,189,19,6,347,80,4,733,975,487,857,2043,2114,2614,3807,3271,16168
4,100108,3,3,18,8,1,47,0,0,80,89,72,161,337,319,350,650,518,2496

In [44]:
#============
a = 10
#============
df_container_pop['Age < 7_bin'] = a * df_container_pop['bin'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_bin'] = df_container_pop['Age < 7_bin'].round(3)
df_container_pop['Age < 7_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_bowl'] = df_container_pop['Age < 7_bowl'].round(3)
df_container_pop['Age < 7_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_bucket'] = df_container_pop['Age < 7_bucket'].round(3)
df_container_pop['Age < 7_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_misc_short'] = df_container_pop['Age < 7_misc_short'].round(3)
df_container_pop['Age < 7_jar'] = a * df_container_pop['jar'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_jar'] = df_container_pop['Age < 7_jar'].round(3)
df_container_pop['Age < 7_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_pottedplant'] = df_container_pop['Age < 7_pottedplant'].round(3)
df_container_pop['Age < 7_tire'] = a * df_container_pop['tire'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_tire'] = df_container_pop['Age < 7_tire'].round(3)
df_container_pop['Age < 7_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_misc_tall'] = df_container_pop['Age < 7_misc_tall'].round(3)
df_container_pop['Age < 7_total'] = a * df_container_pop['total'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_total'] = df_container_pop['Age < 7_total'].round(3)

df_container_pop['Age 7 - 9_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_bin'] = df_container_pop['Age 7 - 9_bin'].round(3)
df_container_pop['Age 7 - 9_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_bowl'] = df_container_pop['Age 7 - 9_bowl'].round(3)
df_container_pop['Age 7 - 9_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_bucket'] = df_container_pop['Age 7 - 9_bucket'].round(3)
df_container_pop['Age 7 - 9_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_misc_short'] = df_container_pop['Age 7 - 9_misc_short'].round(3)
df_container_pop['Age 7 - 9_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_jar'] = df_container_pop['Age 7 - 9_jar'].round(3)
df_container_pop['Age 7 - 9_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_pottedplant'] = df_container_pop['Age 7 - 9_pottedplant'].round(3)
df_container_pop['Age 7 - 9_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_tire'] = df_container_pop['Age 7 - 9_tire'].round(3)
df_container_pop['Age 7 - 9_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_misc_tall'] = df_container_pop['Age 7 - 9_misc_tall'].round(3)
df_container_pop['Age 7 - 9_total'] = a * df_container_pop['total'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_total'] = df_container_pop['Age 7 - 9_total'].round(3)

df_container_pop['Age 10 - 14_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_bin'] = df_container_pop['Age 10 - 14_bin'].round(3)
df_container_pop['Age 10 - 14_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_bowl'] = df_container_pop['Age 10 - 14_bowl'].round(3)
df_container_pop['Age 10 - 14_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_bucket'] = df_container_pop['Age 10 - 14_bucket'].round(3)
df_container_pop['Age 10 - 14_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_misc_short'] = df_container_pop['Age 10 - 14_misc_short'].round(3)
df_container_pop['Age 10 - 14_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_jar'] = df_container_pop['Age 10 - 14_jar'].round(3)
df_container_pop['Age 10 - 14_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_pottedplant'] = df_container_pop['Age 10 - 14_pottedplant'].round(3)
df_container_pop['Age 10 - 14_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_tire'] = df_container_pop['Age 10 - 14_tire'].round(3)
df_container_pop['Age 10 - 14_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_misc_tall'] = df_container_pop['Age 10 - 14_misc_tall'].round(3)
df_container_pop['Age 10 - 14_total'] = a * df_container_pop['total'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_total'] = df_container_pop['Age 10 - 14_total'].round(3)

df_container_pop['Age 15 - 24_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_bin'] = df_container_pop['Age 15 - 24_bin'].round(3)
df_container_pop['Age 15 - 24_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_bowl'] = df_container_pop['Age 15 - 24_bowl'].round(3)
df_container_pop['Age 15 - 24_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_bucket'] = df_container_pop['Age 15 - 24_bucket'].round(3)
df_container_pop['Age 15 - 24_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_misc_short'] = df_container_pop['Age 15 - 24_misc_short'].round(3)
df_container_pop['Age 15 - 24_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_jar'] = df_container_pop['Age 15 - 24_jar'].round(3)
df_container_pop['Age 15 - 24_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_pottedplant'] = df_container_pop['Age 15 - 24_pottedplant'].round(3)
df_container_pop['Age 15 - 24_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_tire'] = df_container_pop['Age 15 - 24_tire'].round(3)
df_container_pop['Age 15 - 24_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_misc_tall'] = df_container_pop['Age 15 - 24_misc_tall'].round(3)
df_container_pop['Age 15 - 24_total'] = a * df_container_pop['total'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_total'] = df_container_pop['Age 15 - 24_total'].round(3)

df_container_pop['Age 25 - 34_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_bin'] = df_container_pop['Age 25 - 34_bin'].round(3)
df_container_pop['Age 25 - 34_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_bowl'] = df_container_pop['Age 25 - 34_bowl'].round(3)
df_container_pop['Age 25 - 34_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_bucket'] = df_container_pop['Age 25 - 34_bucket'].round(3)
df_container_pop['Age 25 - 34_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_misc_short'] = df_container_pop['Age 25 - 34_misc_short'].round(3)
df_container_pop['Age 25 - 34_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_jar'] = df_container_pop['Age 25 - 34_jar'].round(3)
df_container_pop['Age 25 - 34_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_pottedplant'] = df_container_pop['Age 25 - 34_pottedplant'].round(3)
df_container_pop['Age 25 - 34_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_tire'] = df_container_pop['Age 25 - 34_tire'].round(3)
df_container_pop['Age 25 - 34_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_misc_tall'] = df_container_pop['Age 25 - 34_misc_tall'].round(3)
df_container_pop['Age 25 - 34_total'] = a * df_container_pop['total'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_total'] = df_container_pop['Age 25 - 34_total'].round(3)

df_container_pop['Age 35 - 44_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_bin'] = df_container_pop['Age 35 - 44_bin'].round(3)
df_container_pop['Age 35 - 44_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_bowl'] = df_container_pop['Age 35 - 44_bowl'].round(3)
df_container_pop['Age 35 - 44_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_bucket'] = df_container_pop['Age 35 - 44_bucket'].round(3)
df_container_pop['Age 35 - 44_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_misc_short'] = df_container_pop['Age 35 - 44_misc_short'].round(3)
df_container_pop['Age 35 - 44_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_jar'] = df_container_pop['Age 35 - 44_jar'].round(3)
df_container_pop['Age 35 - 44_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_pottedplant'] = df_container_pop['Age 35 - 44_pottedplant'].round(3)
df_container_pop['Age 35 - 44_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_tire'] = df_container_pop['Age 35 - 44_tire'].round(3)
df_container_pop['Age 35 - 44_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_misc_tall'] = df_container_pop['Age 35 - 44_misc_tall'].round(3)
df_container_pop['Age 35 - 44_total'] = a * df_container_pop['total'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_total'] = df_container_pop['Age 35 - 44_total'].round(3)

df_container_pop['Age 45 - 60_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_bin'] = df_container_pop['Age 45 - 60_bin'].round(3)
df_container_pop['Age 45 - 60_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_bowl'] = df_container_pop['Age 45 - 60_bowl'].round(3)
df_container_pop['Age 45 - 60_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_bucket'] = df_container_pop['Age 45 - 60_bucket'].round(3)
df_container_pop['Age 45 - 60_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_misc_short'] = df_container_pop['Age 45 - 60_misc_short'].round(3)
df_container_pop['Age 45 - 60_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_jar'] = df_container_pop['Age 45 - 60_jar'].round(3)
df_container_pop['Age 45 - 60_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_pottedplant'] = df_container_pop['Age 45 - 60_pottedplant'].round(3)
df_container_pop['Age 45 - 60_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_tire'] = df_container_pop['Age 45 - 60_tire'].round(3)
df_container_pop['Age 45 - 60_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_misc_tall'] = df_container_pop['Age 45 - 60_misc_tall'].round(3)
df_container_pop['Age 45 - 60_total'] = a * df_container_pop['total'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_total'] = df_container_pop['Age 45 - 60_total'].round(3)

df_container_pop['Age > 60_bin'] = a * df_container_pop['bin'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_bin'] = df_container_pop['Age > 60_bin'].round(3)
df_container_pop['Age > 60_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_bowl'] = df_container_pop['Age > 60_bowl'].round(3)
df_container_pop['Age > 60_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_bucket'] = df_container_pop['Age > 60_bucket'].round(3)
df_container_pop['Age > 60_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_misc_short'] = df_container_pop['Age > 60_misc_short'].round(3)
df_container_pop['Age > 60_jar'] = a * df_container_pop['jar'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_jar'] = df_container_pop['Age > 60_jar'].round(3)
df_container_pop['Age > 60_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_pottedplant'] = df_container_pop['Age > 60_pottedplant'].round(3)
df_container_pop['Age > 60_tire'] = a * df_container_pop['tire'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_tire'] = df_container_pop['Age > 60_tire'].round(3)
df_container_pop['Age > 60_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_misc_tall'] = df_container_pop['Age > 60_misc_tall'].round(3)
df_container_pop['Age > 60_total'] = a * df_container_pop['total'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_total'] = df_container_pop['Age > 60_total'].round(3)

df_container_pop['Total_bin'] = a * df_container_pop['bin'] / df_container_pop['Total']
df_container_pop['Total_bin'] = df_container_pop['Total_bin'].round(3)
df_container_pop['Total_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Total']
df_container_pop['Total_bowl'] = df_container_pop['Total_bowl'].round(3)
df_container_pop['Total_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Total']
df_container_pop['Total_bucket'] = df_container_pop['Total_bucket'].round(3)
df_container_pop['Total_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Total']
df_container_pop['Total_misc_short'] = df_container_pop['Total_misc_short'].round(3)
df_container_pop['Total_jar'] = a * df_container_pop['jar'] / df_container_pop['Total']
df_container_pop['Total_jar'] = df_container_pop['Total_jar'].round(3)
df_container_pop['Total_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Total']
df_container_pop['Total_pottedplant'] = df_container_pop['Total_pottedplant'].round(3)
df_container_pop['Total_tire'] = a * df_container_pop['tire'] / df_container_pop['Total']
df_container_pop['Total_tire'] = df_container_pop['Total_tire'].round(3)
df_container_pop['Total_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Total']
df_container_pop['Total_misc_tall'] = df_container_pop['Total_misc_tall'].round(3)
df_container_pop['Total_total'] = a * df_container_pop['total'] / df_container_pop['Total']
df_container_pop['Total_total'] = df_container_pop['Total_total'].round(3)

In [45]:
df_container_pop.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,...,Age > 60_total,Total_bin,Total_bowl,Total_bucket,Total_misc_short,Total_jar,Total_pottedplant,Total_tire,Total_misc_tall,Total_total
0,100508,838,44,2069,47,125,3744,447,15,7329,...,5.940,0.089,0.005,0.219,0.005,0.013,0.396,0.047,0.002,0.776
1,104605,82,6,314,4,43,301,63,0,813,...,4.883,0.050,0.004,0.192,0.002,0.026,0.184,0.039,0.000,0.497
2,104604,44,7,235,2,6,267,51,0,612,...,5.262,0.037,0.006,0.199,0.002,0.005,0.226,0.043,0.000,0.518
3,103704,63,25,189,19,6,347,80,4,733,...,2.241,0.039,0.015,0.117,0.012,0.004,0.215,0.049,0.002,0.453
4,100108,3,3,18,8,1,47,0,0,80,...,1.544,0.012,0.012,0.072,0.032,0.004,0.188,0.000,0.000,0.321

In [46]:
df_container_pop.to_csv('a_container_pop_bangkok.csv', encoding = 'utf-8')

### [New Version]

In [92]:
df_container_pop = pd.read_csv('Data/Correlation/a_container_pop_nst.csv')
df_container_pop = df_container_pop.drop('Unnamed: 0', axis = 1)
df_container_pop['addrcode'] = df_container_pop['addrcode'].astype(str)
df_container_pop.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,...,Age > 60_total,Total_bin,Total_bowl,Total_bucket,Total_misc_short,Total_jar,Total_pottedplant,Total_tire,Total_misc_tall,Total_total
0,800204,147,1,314,2,0,177,37,0,678,...,3.970,0.125,0.001,0.268,0.002,0.000,0.151,0.032,0.000,0.578
1,800807,38,2,184,1,1,147,32,1,406,...,2.275,0.027,0.001,0.129,0.001,0.001,0.103,0.022,0.001,0.284
2,800120,128,16,787,20,47,907,150,2,2057,...,3.951,0.035,0.004,0.213,0.005,0.013,0.246,0.041,0.001,0.557
3,800501,35,0,107,2,0,72,8,0,224,...,2.508,0.063,0.000,0.194,0.004,0.000,0.130,0.014,0.000,0.405
4,800810,15,0,34,0,0,103,16,1,169,...,1.993,0.029,0.000,0.067,0.000,0.000,0.202,0.031,0.002,0.332

In [93]:
df_container_pop = df_container_pop.drop(['bin','bowl','bucket','misc_short','jar','pottedplant','tire','misc_tall','total','Age < 7','Age 7 - 9','Age 10 - 14','Age 15 - 24','Age 25 - 34','Age 35 - 44','Age 45 - 60', 'Age > 60'], axis = 1)
df_container_pop.head()

,addrcode,Total,Age < 7_bin,Age < 7_bowl,Age < 7_bucket,Age < 7_misc_short,Age < 7_jar,Age < 7_pottedplant,Age < 7_tire,Age < 7_misc_tall,...,Age > 60_total,Total_bin,Total_bowl,Total_bucket,Total_misc_short,Total_jar,Total_pottedplant,Total_tire,Total_misc_tall,Total_total
0,800204,11737,1.416,0.010,3.025,0.019,0.000,1.705,0.356,0.000,...,3.970,0.125,0.001,0.268,0.002,0.000,0.151,0.032,0.000,0.578
1,800807,14302,0.242,0.013,1.173,0.006,0.006,0.937,0.204,0.006,...,2.275,0.027,0.001,0.129,0.001,0.001,0.103,0.022,0.001,0.284
2,800120,36908,0.448,0.056,2.752,0.070,0.164,3.171,0.524,0.007,...,3.951,0.035,0.004,0.213,0.005,0.013,0.246,0.041,0.001,0.557
3,800501,5526,0.766,0.000,2.341,0.044,0.000,1.575,0.175,0.000,...,2.508,0.063,0.000,0.194,0.004,0.000,0.130,0.014,0.000,0.405
4,800810,5094,0.345,0.000,0.782,0.000,0.000,2.368,0.368,0.023,...,1.993,0.029,0.000,0.067,0.000,0.000,0.202,0.031,0.002,0.332

In [94]:
df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF.csv'))
df_dengue['addrcode'] = df_dengue['addrcode'].astype(str)
df_dengue = df_dengue.loc[df_dengue['addrcode'].str[:2] == '80']
df_dengue = df_dengue.groupby(df_dengue['addrcode']).sum()
df_dengue = df_dengue.drop(['Year','WeekNum'],axis = 1)
df_dengue = df_dengue.reset_index()
df_dengue.head()

  addrcode  NumberCases
0   800101          486
1   800102          161
2   800103          151
3   800106           50
4   800107          132

In [78]:
df_pop_total = pd.read_csv(os.path.join('Data','Population','addrcode-index','NST-population.csv'))
df_pop_total['addrcode'] = df_pop_total['addrcode'].astype(str).str[:6]
df_pop_total['Total'] = df_pop_total['Total']/10000
df_pop_total.head()

  addrcode   Total
0   801611  0.6891
1   800708  0.8958
2   801206  0.5101
3   800301  0.7544
4   800907  1.0586

In [96]:
df_dengue0 = pd.DataFrame(df_dengue['addrcode'])
df_dengue0 = pd.merge(df_dengue0, df_dengue, how = 'inner')
df_dengue0 = pd.merge(df_dengue0, df_pop_total, how = 'inner')
df_dengue0['DF_0'] = df_dengue0['NumberCases']/df_dengue0['Total']
df_dengue0 = df_dengue0.iloc[:,[0,3]]
df_dengue0['addrcode'] = df_dengue0['addrcode'].astype(str)
df_dengue0 = pd.merge(df_dengue0, df_container_pop, how = 'inner')
df_dengue0.head()
df_dengue0.to_csv('DFw0_container_pop.csv', encoding = 'utf-8')

### [District]

In [47]:
aggregation_function = {'bin': 'sum', 'bowl': 'sum', 'bucket': 'sum', 'misc_short': 'sum', 'jar': 'sum', 'pottedplant': 'sum', 'tire': 'sum', 'misc_tall': 'sum', 'total' : 'sum', 'Age < 7' : 'sum', 'Age 7 - 9' : 'sum', 'Age 10 - 14' : 'sum', 'Age 15 - 24' : 'sum', 'Age 25 - 34' : 'sum', 'Age 35 - 44' : 'sum', 'Age 45 - 60' : 'sum', 'Age > 60' : 'sum', 'Total' : 'sum'}
df_container_pop = df_container_pop.groupby([df_container_pop['addrcode'].str[:4]]).aggregate(aggregation_function).reset_index()
df_container_pop

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60,Total
0,1001,167,87,509,73,22,1543,101,25,2527,1975,1405,3421,6768,6310,7189,12263,11377,50708
1,1002,104,24,292,20,10,630,77,1,1158,1773,918,1741,5666,4736,4906,8967,8626,37333
2,1003,796,47,2679,30,169,3029,675,7,7432,14242,6928,11754,23905,21426,27989,36450,14785,157479
3,1004,126,68,474,45,16,1070,143,14,1956,1713,887,1627,4386,5256,5566,9144,9096,37675
4,1005,1541,130,4342,85,262,7664,827,28,14879,11902,5489,9681,25038,25866,33522,49226,26742,187466
5,1006,1141,156,4418,125,180,8032,749,31,14832,9588,4762,8198,18096,20115,27265,36103,21749,145876
6,1007,129,54,454,48,18,1190,209,16,2118,2168,1079,2217,6652,6386,6592,10592,8572,44258
7,1008,60,46,376,46,12,916,176,5,1637,2042,995,1988,5534,5874,6300,10901,10325,43959
8,1010,797,70,3389,56,226,4534,652,12,9736,11209,5608,9807,20286,18349,23765,34629,15208,138861
9,1011,320,39,2321,47,147,1911,825,7,5617,12067,5622,9762,20301,20246,25727,34517,13137,141379
10,1012,244,45,723,28,34,1407,213,6,2700,4793,2372,4187,9951,11241,12442,18461,13589,77036
11,1013,58,25,163,20,3,358,49,7,683,876,478,1013,2776,3172,3366,5912,5850,23443
12,1014,270,50,621,38,23,1672,213,17,2904,3674,1984,4090,10617,9655,10829,16478,11427,68754
13,1015,142,83,841,49,46,1652,195,10,3018,5818,2873,5325,14414,15323,16560,27080,20873,108266
14,1016,59,23,272,13,22,798,54,8,1249,3362,1619,3166,8770,9170,9972,16252,13540,65851
15,1017,658,72,1818,62,80,3885,549,23,7147,4928,2159,3799,8856,13077,15057,17313,12931,78120
16,1018,104,53,510,21,36,1024,130,3,1881,3491,1822,3219,8685,9714,10458,16781,14066,68236
17,1019,246,32,975,26,50,1848,292,4,3473,4782,2365,4116,10332,10949,12360,20522,14281,79707
18,1020,288,33,936,38,49,2241,226,8,3819,5085,2518,4681,13970,14627,15560,27308,22912,106661
19,1021,610,71,2568,59,144,3221,574,17,7264,14662,6975,12356,25339,25365,31539,41652,19750,177638
20,1022,310,85,1886,43,115,3153,362,14,5968,7870,3686,6527,16371,17846,20165,30685,21346,124496
21,1023,558,77,2731,52,278,4494,543,12,8745,11216,5585,9567,21483,21458,26419,38180,19391,153299
22,1024,229,30,905,25,52,1419,195,7,2862,5303,2612,4863,11152,11170,13028,20012,13316,81456
23,1025,232,40,823,41,70,1921,222,7,3356,4779,2139,3891,11147,12812,14505,23117,19799,92189
24,1026,666,125,1861,71,78,3176,381,20,6378,6599,3430,6445,16290,16606,18542,30287,22450,120649
25,1027,300,48,1295,14,59,2362,243,7,4328,4378,2186,3759,8642,9471,12370,16704,10719,68229
26,1028,188,62,707,38,32,1870,236,12,3145,3938,2028,3888,9537,10452,11287,18818,16220,76168
27,1029,261,29,862,16,37,1555,171,4,2935,2152,1022,1975,5076,6332,6945,11214,9364,44080
28,1030,950,169,3283,121,178,7078,928,25,12732,8226,4157,7774,18897,22490,26446,37632,29122,154744
29,1031,269,46,726,32,24,1536,205,9,2847,5173,2584,4716,11575,11803,12410,20352,16403,85016
30,1032,788,55,2203,46,140,3279,447,9,6967,11112,5118,8462,17575,17937,23581,28673,14949,127407
31,1033,305,43,626,64,31,1733,200,16,3018,6194,2932,5042,12463,14256,15626,23073,15460,95046
32,1034,691,78,2572,64,107,4684,475,19,8690,8343,3894,7083,15490,18028,21347,26869,17963,119017
33,1035,433,81,2617,73,102,4343,462,15,8126,9115,4452,7912,20484,21628,22516,37060,25497,148664
34,1036,961,121,4028,71,354,7173,631,21,13360,10547,5349,9035,26774,24571,27193,41628,21286,166383
35,1037,163,91,523,68,18,1171,212,18,2264,3213,1658,3009,9905,8570,8732,14925,11330,61342
36,1038,893,84,3107,74,191,7657,610,27,12643,7188,3638,6840,14463,16208,21143,28788,21033,119301
37,1039,474,81,1056,62,38,2363,259,29,4362,3990,1998,3508,7963,9038,10615,15727,15082,67921
38,1040,398,51,2049,48,153,3110,391,14,6214,8472,4216,7439,18693,18289,21364,33673,19106,131252
39,1041,786,92,2731,79,205,5622,541,16,10072,5877,2824,5151,14035,14004,16829,26135,18723,103578
40,1042,1018,81,3280,54,369,5299,597,19,10717,14370,6935,11798,27137,26853,33985,51043,24555,196676
41,1043,790,62,2697,45,146,4565,461,14,8780,5933,2974,5206,11880,11746,14492,21967,12467,86665
42,1044,349,47,2160,29,181,4844,409,12,8031,6579,3114,6095,12965,13061,15576,23155,13339,93884
43,1045,919,91,2935,55,116,4176,640,16,8948,6747,3573,7157,14877,15018,19047,27153,17240,110812
44,1046,652,65,3689,52,252,4678,721,7,10116,15927,7429,12637,26650,25604,34922,47825,16998,187992
45,1047,151,15,510,11,20,686,154,7,1554,5160,2755,4928,11819,12806,14532,22960,14548,89508
46,1048,432,17,1281,22,93,1880,476,6,4207,4699,2416,4235,10552,10376,11667,20627,12503,77075
47,1049,374,33,1748,24,52,2542,255,9,5037,8614,4171,7482,16857,16376,20360,29607,15964,119431
48,1050,520,96,3866,74,164,4234,601,13,9568,7594,4065,7526,16568,13844,16162,25880,12503,104142

In [48]:
#============
a = 10
#============
df_container_pop['Age < 7_bin'] = a * df_container_pop['bin'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_bin'] = df_container_pop['Age < 7_bin'].round(3)
df_container_pop['Age < 7_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_bowl'] = df_container_pop['Age < 7_bowl'].round(3)
df_container_pop['Age < 7_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_bucket'] = df_container_pop['Age < 7_bucket'].round(3)
df_container_pop['Age < 7_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_misc_short'] = df_container_pop['Age < 7_misc_short'].round(3)
df_container_pop['Age < 7_jar'] = a * df_container_pop['jar'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_jar'] = df_container_pop['Age < 7_jar'].round(3)
df_container_pop['Age < 7_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_pottedplant'] = df_container_pop['Age < 7_pottedplant'].round(3)
df_container_pop['Age < 7_tire'] = a * df_container_pop['tire'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_tire'] = df_container_pop['Age < 7_tire'].round(3)
df_container_pop['Age < 7_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_misc_tall'] = df_container_pop['Age < 7_misc_tall'].round(3)
df_container_pop['Age < 7_total'] = a * df_container_pop['total'] / df_container_pop['Age < 7']
df_container_pop['Age < 7_total'] = df_container_pop['Age < 7_total'].round(3)

df_container_pop['Age 7 - 9_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_bin'] = df_container_pop['Age 7 - 9_bin'].round(3)
df_container_pop['Age 7 - 9_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_bowl'] = df_container_pop['Age 7 - 9_bowl'].round(3)
df_container_pop['Age 7 - 9_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_bucket'] = df_container_pop['Age 7 - 9_bucket'].round(3)
df_container_pop['Age 7 - 9_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_misc_short'] = df_container_pop['Age 7 - 9_misc_short'].round(3)
df_container_pop['Age 7 - 9_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_jar'] = df_container_pop['Age 7 - 9_jar'].round(3)
df_container_pop['Age 7 - 9_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_pottedplant'] = df_container_pop['Age 7 - 9_pottedplant'].round(3)
df_container_pop['Age 7 - 9_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_tire'] = df_container_pop['Age 7 - 9_tire'].round(3)
df_container_pop['Age 7 - 9_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_misc_tall'] = df_container_pop['Age 7 - 9_misc_tall'].round(3)
df_container_pop['Age 7 - 9_total'] = a * df_container_pop['total'] / df_container_pop['Age 7 - 9']
df_container_pop['Age 7 - 9_total'] = df_container_pop['Age 7 - 9_total'].round(3)

df_container_pop['Age 10 - 14_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_bin'] = df_container_pop['Age 10 - 14_bin'].round(3)
df_container_pop['Age 10 - 14_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_bowl'] = df_container_pop['Age 10 - 14_bowl'].round(3)
df_container_pop['Age 10 - 14_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_bucket'] = df_container_pop['Age 10 - 14_bucket'].round(3)
df_container_pop['Age 10 - 14_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_misc_short'] = df_container_pop['Age 10 - 14_misc_short'].round(3)
df_container_pop['Age 10 - 14_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_jar'] = df_container_pop['Age 10 - 14_jar'].round(3)
df_container_pop['Age 10 - 14_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_pottedplant'] = df_container_pop['Age 10 - 14_pottedplant'].round(3)
df_container_pop['Age 10 - 14_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_tire'] = df_container_pop['Age 10 - 14_tire'].round(3)
df_container_pop['Age 10 - 14_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_misc_tall'] = df_container_pop['Age 10 - 14_misc_tall'].round(3)
df_container_pop['Age 10 - 14_total'] = a * df_container_pop['total'] / df_container_pop['Age 10 - 14']
df_container_pop['Age 10 - 14_total'] = df_container_pop['Age 10 - 14_total'].round(3)

df_container_pop['Age 15 - 24_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_bin'] = df_container_pop['Age 15 - 24_bin'].round(3)
df_container_pop['Age 15 - 24_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_bowl'] = df_container_pop['Age 15 - 24_bowl'].round(3)
df_container_pop['Age 15 - 24_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_bucket'] = df_container_pop['Age 15 - 24_bucket'].round(3)
df_container_pop['Age 15 - 24_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_misc_short'] = df_container_pop['Age 15 - 24_misc_short'].round(3)
df_container_pop['Age 15 - 24_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_jar'] = df_container_pop['Age 15 - 24_jar'].round(3)
df_container_pop['Age 15 - 24_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_pottedplant'] = df_container_pop['Age 15 - 24_pottedplant'].round(3)
df_container_pop['Age 15 - 24_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_tire'] = df_container_pop['Age 15 - 24_tire'].round(3)
df_container_pop['Age 15 - 24_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_misc_tall'] = df_container_pop['Age 15 - 24_misc_tall'].round(3)
df_container_pop['Age 15 - 24_total'] = a * df_container_pop['total'] / df_container_pop['Age 15 - 24']
df_container_pop['Age 15 - 24_total'] = df_container_pop['Age 15 - 24_total'].round(3)

df_container_pop['Age 25 - 34_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_bin'] = df_container_pop['Age 25 - 34_bin'].round(3)
df_container_pop['Age 25 - 34_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_bowl'] = df_container_pop['Age 25 - 34_bowl'].round(3)
df_container_pop['Age 25 - 34_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_bucket'] = df_container_pop['Age 25 - 34_bucket'].round(3)
df_container_pop['Age 25 - 34_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_misc_short'] = df_container_pop['Age 25 - 34_misc_short'].round(3)
df_container_pop['Age 25 - 34_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_jar'] = df_container_pop['Age 25 - 34_jar'].round(3)
df_container_pop['Age 25 - 34_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_pottedplant'] = df_container_pop['Age 25 - 34_pottedplant'].round(3)
df_container_pop['Age 25 - 34_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_tire'] = df_container_pop['Age 25 - 34_tire'].round(3)
df_container_pop['Age 25 - 34_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_misc_tall'] = df_container_pop['Age 25 - 34_misc_tall'].round(3)
df_container_pop['Age 25 - 34_total'] = a * df_container_pop['total'] / df_container_pop['Age 25 - 34']
df_container_pop['Age 25 - 34_total'] = df_container_pop['Age 25 - 34_total'].round(3)

df_container_pop['Age 35 - 44_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_bin'] = df_container_pop['Age 35 - 44_bin'].round(3)
df_container_pop['Age 35 - 44_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_bowl'] = df_container_pop['Age 35 - 44_bowl'].round(3)
df_container_pop['Age 35 - 44_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_bucket'] = df_container_pop['Age 35 - 44_bucket'].round(3)
df_container_pop['Age 35 - 44_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_misc_short'] = df_container_pop['Age 35 - 44_misc_short'].round(3)
df_container_pop['Age 35 - 44_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_jar'] = df_container_pop['Age 35 - 44_jar'].round(3)
df_container_pop['Age 35 - 44_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_pottedplant'] = df_container_pop['Age 35 - 44_pottedplant'].round(3)
df_container_pop['Age 35 - 44_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_tire'] = df_container_pop['Age 35 - 44_tire'].round(3)
df_container_pop['Age 35 - 44_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_misc_tall'] = df_container_pop['Age 35 - 44_misc_tall'].round(3)
df_container_pop['Age 35 - 44_total'] = a * df_container_pop['total'] / df_container_pop['Age 35 - 44']
df_container_pop['Age 35 - 44_total'] = df_container_pop['Age 35 - 44_total'].round(3)

df_container_pop['Age 45 - 60_bin'] = a * df_container_pop['bin'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_bin'] = df_container_pop['Age 45 - 60_bin'].round(3)
df_container_pop['Age 45 - 60_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_bowl'] = df_container_pop['Age 45 - 60_bowl'].round(3)
df_container_pop['Age 45 - 60_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_bucket'] = df_container_pop['Age 45 - 60_bucket'].round(3)
df_container_pop['Age 45 - 60_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_misc_short'] = df_container_pop['Age 45 - 60_misc_short'].round(3)
df_container_pop['Age 45 - 60_jar'] = a * df_container_pop['jar'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_jar'] = df_container_pop['Age 45 - 60_jar'].round(3)
df_container_pop['Age 45 - 60_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_pottedplant'] = df_container_pop['Age 45 - 60_pottedplant'].round(3)
df_container_pop['Age 45 - 60_tire'] = a * df_container_pop['tire'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_tire'] = df_container_pop['Age 45 - 60_tire'].round(3)
df_container_pop['Age 45 - 60_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_misc_tall'] = df_container_pop['Age 45 - 60_misc_tall'].round(3)
df_container_pop['Age 45 - 60_total'] = a * df_container_pop['total'] / df_container_pop['Age 45 - 60']
df_container_pop['Age 45 - 60_total'] = df_container_pop['Age 45 - 60_total'].round(3)

df_container_pop['Age > 60_bin'] = a * df_container_pop['bin'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_bin'] = df_container_pop['Age > 60_bin'].round(3)
df_container_pop['Age > 60_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_bowl'] = df_container_pop['Age > 60_bowl'].round(3)
df_container_pop['Age > 60_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_bucket'] = df_container_pop['Age > 60_bucket'].round(3)
df_container_pop['Age > 60_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_misc_short'] = df_container_pop['Age > 60_misc_short'].round(3)
df_container_pop['Age > 60_jar'] = a * df_container_pop['jar'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_jar'] = df_container_pop['Age > 60_jar'].round(3)
df_container_pop['Age > 60_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_pottedplant'] = df_container_pop['Age > 60_pottedplant'].round(3)
df_container_pop['Age > 60_tire'] = a * df_container_pop['tire'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_tire'] = df_container_pop['Age > 60_tire'].round(3)
df_container_pop['Age > 60_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_misc_tall'] = df_container_pop['Age > 60_misc_tall'].round(3)
df_container_pop['Age > 60_total'] = a * df_container_pop['total'] / df_container_pop['Age > 60']
df_container_pop['Age > 60_total'] = df_container_pop['Age > 60_total'].round(3)

df_container_pop['Total_bin'] = a * df_container_pop['bin'] / df_container_pop['Total']
df_container_pop['Total_bin'] = df_container_pop['Total_bin'].round(3)
df_container_pop['Total_bowl'] = a * df_container_pop['bowl'] / df_container_pop['Total']
df_container_pop['Total_bowl'] = df_container_pop['Total_bowl'].round(3)
df_container_pop['Total_bucket'] = a * df_container_pop['bucket'] / df_container_pop['Total']
df_container_pop['Total_bucket'] = df_container_pop['Total_bucket'].round(3)
df_container_pop['Total_misc_short'] = a * df_container_pop['misc_short'] / df_container_pop['Total']
df_container_pop['Total_misc_short'] = df_container_pop['Total_misc_short'].round(3)
df_container_pop['Total_jar'] = a * df_container_pop['jar'] / df_container_pop['Total']
df_container_pop['Total_jar'] = df_container_pop['Total_jar'].round(3)
df_container_pop['Total_pottedplant'] = a * df_container_pop['pottedplant'] / df_container_pop['Total']
df_container_pop['Total_pottedplant'] = df_container_pop['Total_pottedplant'].round(3)
df_container_pop['Total_tire'] = a * df_container_pop['tire'] / df_container_pop['Total']
df_container_pop['Total_tire'] = df_container_pop['Total_tire'].round(3)
df_container_pop['Total_misc_tall'] = a * df_container_pop['misc_tall'] / df_container_pop['Total']
df_container_pop['Total_misc_tall'] = df_container_pop['Total_misc_tall'].round(3)
df_container_pop['Total_total'] = a * df_container_pop['total'] / df_container_pop['Total']
df_container_pop['Total_total'] = df_container_pop['Total_total'].round(3)

In [49]:
df_container_pop.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,...,Age > 60_total,Total_bin,Total_bowl,Total_bucket,Total_misc_short,Total_jar,Total_pottedplant,Total_tire,Total_misc_tall,Total_total
0,1001,167,87,509,73,22,1543,101,25,2527,...,2.221,0.033,0.017,0.100,0.014,0.004,0.304,0.020,0.005,0.498
1,1002,104,24,292,20,10,630,77,1,1158,...,1.342,0.028,0.006,0.078,0.005,0.003,0.169,0.021,0.000,0.310
2,1003,796,47,2679,30,169,3029,675,7,7432,...,5.027,0.051,0.003,0.170,0.002,0.011,0.192,0.043,0.000,0.472
3,1004,126,68,474,45,16,1070,143,14,1956,...,2.150,0.033,0.018,0.126,0.012,0.004,0.284,0.038,0.004,0.519
4,1005,1541,130,4342,85,262,7664,827,28,14879,...,5.564,0.082,0.007,0.232,0.005,0.014,0.409,0.044,0.001,0.794

In [50]:
df_container_pop.to_csv('a_container_pop_bangkok_dist.csv', encoding = 'utf-8')

## New Container Density [Dominique]

In [119]:
df_area_pop = pd.read_csv(os.path.join('Data','Correlation','area_pop_nst.csv'), encoding = 'utf-8')
df_area_pop = df_area_pop.drop('Unnamed: 0', axis = 1)
df_area_pop = df_area_pop.iloc[:,[0,12,13,14,15,16,17,18,19]]
df_area_pop['addrcode'] = df_area_pop['addrcode'].astype(str)
df_area_pop.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s
0,800101,3786.00,1934.00,3354.00,7153.00,5710.00,5753.00,8958.00,6584.00
1,800102,1410.64,683.76,1216.16,2468.40,2187.68,2074.16,2981.44,2191.20
2,800103,1291.00,617.00,1138.00,2498.00,2201.00,2167.00,3392.00,2656.00
3,800106,85.02,36.79,59.80,144.30,161.72,180.31,228.93,171.60
4,800107,300.24,128.88,208.80,503.76,583.92,604.56,807.36,488.16

In [120]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_nst.csv'))
df_area = df_area.drop(['Unnamed: 0','image_coverage'], axis = 1)
df_area['addrcode'] = df_area['addrcode'].astype(str)
df_area['image/area'] = df_area['image_area']/ df_area['land_area']
df_area['image/area'].loc[df_area['image/area'] > 1 ] = 1
df_area['image/area'] = df_area['image/area'].round(2)
df_area.head()

  addrcode  land_area  image_area  image/area
0   800101      78.86       82.43        1.00
1   800102      34.35       30.35        0.88
2   800103      20.57       29.15        1.00
3   800106     444.00       56.88        0.13
4   800107     311.29       74.74        0.24

In [121]:
df_pop_total = pd.read_csv(os.path.join('Data','Population','addrcode-index','NST-population.csv'))
df_pop_total['addrcode'] = df_pop_total['addrcode'].astype(str).str[:6]
df_pop_total.head()

  addrcode  Total
0   801611   6891
1   800708   8958
2   801206   5101
3   800301   7544
4   800907  10586

In [122]:
df_area_pop_total = pd.merge(df_area,df_pop_total, how = 'inner')
df_area_pop_total['total_s'] = df_area_pop_total['image/area'] * df_area_pop_total['Total']
df_area_pop_total = df_area_pop_total.iloc[:,[0,5]]
df_area_pop_total['addrcode'] = df_area_pop_total['addrcode'].astype(str)
df_area_pop_total.head()

  addrcode   total_s
0   800101  43232.00
1   800102  15213.44
2   800103  15960.00
3   800106   1068.47
4   800107   3625.68

In [123]:
df_pop_s = pd.merge(df_area_pop,df_area_pop_total, how = 'inner')
df_pop_s.head()

,addrcode,Age < 7_s,Age 7 - 9_s,Age 10 - 14_s,Age 15 - 24_s,Age 25 - 34_s,Age 35 - 44_s,Age 45 - 60_s,Age > 60_s,total_s
0,800101,3786.00,1934.00,3354.00,7153.00,5710.00,5753.00,8958.00,6584.00,43232.00
1,800102,1410.64,683.76,1216.16,2468.40,2187.68,2074.16,2981.44,2191.20,15213.44
2,800103,1291.00,617.00,1138.00,2498.00,2201.00,2167.00,3392.00,2656.00,15960.00
3,800106,85.02,36.79,59.80,144.30,161.72,180.31,228.93,171.60,1068.47
4,800107,300.24,128.88,208.80,503.76,583.92,604.56,807.36,488.16,3625.68

In [124]:
df_container_count = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','container_NST_subdist.csv'))
df_container_count = df_container_count.drop('Unnamed: 0', axis = 1)
df_container_count.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,800204,147,1,314,2,0,177,37,0,678
1,800807,38,2,184,1,1,147,32,1,406
2,800120,128,16,787,20,47,907,150,2,2057
3,800501,35,0,107,2,0,72,8,0,224
4,800810,15,0,34,0,0,103,16,1,169

In [125]:
df_new_cd = pd.DataFrame(df_container_count['addrcode'])
df_new_cd['bin_pop1s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,1]
df_new_cd['bin_pop2s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,2]
df_new_cd['bin_pop3s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,3]
df_new_cd['bin_pop4s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,4]
df_new_cd['bin_pop5s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,5]
df_new_cd['bin_pop6s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,6]
df_new_cd['bin_pop7s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,7]
df_new_cd['bin_pop8s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,8]
df_new_cd['bin_pop9s'] = df_container_count.iloc[:,1]/df_pop_s.iloc[:,9]

df_new_cd['bowl_pop1s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,1]
df_new_cd['bowl_pop2s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,2]
df_new_cd['bowl_pop3s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,3]
df_new_cd['bowl_pop4s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,4]
df_new_cd['bowl_pop5s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,5]
df_new_cd['bowl_pop6s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,6]
df_new_cd['bowl_pop7s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,7]
df_new_cd['bowl_pop8s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,8]
df_new_cd['bowl_pop9s'] = df_container_count.iloc[:,2]/df_pop_s.iloc[:,9]

df_new_cd['bucket_pop1s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,1]
df_new_cd['bucket_pop2s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,2]
df_new_cd['bucket_pop3s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,3]
df_new_cd['bucket_pop4s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,4]
df_new_cd['bucket_pop5s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,5]
df_new_cd['bucket_pop6s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,6]
df_new_cd['bucket_pop7s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,7]
df_new_cd['bucket_pop8s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,8]
df_new_cd['bucket_pop9s'] = df_container_count.iloc[:,3]/df_pop_s.iloc[:,9]

df_new_cd['misc_short_pop1s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,1]
df_new_cd['misc_short_pop2s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,2]
df_new_cd['misc_short_pop3s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,3]
df_new_cd['misc_short_pop4s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,4]
df_new_cd['misc_short_pop5s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,5]
df_new_cd['misc_short_pop6s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,6]
df_new_cd['misc_short_pop7s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,7]
df_new_cd['misc_short_pop8s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,8]
df_new_cd['misc_short_pop9s'] = df_container_count.iloc[:,4]/df_pop_s.iloc[:,9]

df_new_cd['jar_pop1s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,1]
df_new_cd['jar_pop2s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,2]
df_new_cd['jar_pop3s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,3]
df_new_cd['jar_pop4s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,4]
df_new_cd['jar_pop5s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,5]
df_new_cd['jar_pop6s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,6]
df_new_cd['jar_pop7s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,7]
df_new_cd['jar_pop8s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,8]
df_new_cd['jar_pop9s'] = df_container_count.iloc[:,5]/df_pop_s.iloc[:,9]

df_new_cd['pottedplant_pop1s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,1]
df_new_cd['pottedplant_pop2s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,2]
df_new_cd['pottedplant_pop3s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,3]
df_new_cd['pottedplant_pop4s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,4]
df_new_cd['pottedplant_pop5s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,5]
df_new_cd['pottedplant_pop6s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,6]
df_new_cd['pottedplant_pop7s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,7]
df_new_cd['pottedplant_pop8s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,8]
df_new_cd['pottedplant_pop9s'] = df_container_count.iloc[:,6]/df_pop_s.iloc[:,9]

df_new_cd['tire_pop1s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,1]
df_new_cd['tire_pop2s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,2]
df_new_cd['tire_pop3s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,3]
df_new_cd['tire_pop4s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,4]
df_new_cd['tire_pop5s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,5]
df_new_cd['tire_pop6s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,6]
df_new_cd['tire_pop7s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,7]
df_new_cd['tire_pop8s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,8]
df_new_cd['tire_pop9s'] = df_container_count.iloc[:,7]/df_pop_s.iloc[:,9]

df_new_cd['misc_tall_pop1s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,1]
df_new_cd['misc_tall_pop2s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,2]
df_new_cd['misc_tall_pop3s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,3]
df_new_cd['misc_tall_pop4s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,4]
df_new_cd['misc_tall_pop5s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,5]
df_new_cd['misc_tall_pop6s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,6]
df_new_cd['misc_tall_pop7s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,7]
df_new_cd['misc_tall_pop8s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,8]
df_new_cd['misc_tall_pop9s'] = df_container_count.iloc[:,8]/df_pop_s.iloc[:,9]

df_new_cd['total_pop1s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,1]
df_new_cd['total_pop2s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,2]
df_new_cd['total_pop3s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,3]
df_new_cd['total_pop4s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,4]
df_new_cd['total_pop5s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,5]
df_new_cd['total_pop6s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,6]
df_new_cd['total_pop7s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,7]
df_new_cd['total_pop8s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,8]
df_new_cd['total_pop9s'] = df_container_count.iloc[:,9]/df_pop_s.iloc[:,9]

df_new_cd.head()

,addrcode,bin_pop1s,bin_pop2s,bin_pop3s,bin_pop4s,bin_pop5s,bin_pop6s,bin_pop7s,bin_pop8s,bin_pop9s,...,misc_tall_pop9s,total_pop1s,total_pop2s,total_pop3s,total_pop4s,total_pop5s,total_pop6s,total_pop7s,total_pop8s,total_pop9s
0,800204,0.038827,0.076008,0.043828,0.020551,0.025744,0.025552,0.016410,0.022327,0.003400,...,0.000000,0.179081,0.350569,0.202147,0.094785,0.118739,0.117852,0.075687,0.102977,0.015683
1,800807,0.026938,0.055575,0.031246,0.015395,0.017370,0.018321,0.012746,0.017342,0.002498,...,0.000066,0.287813,0.593776,0.333838,0.164479,0.185585,0.195742,0.136176,0.185287,0.026687
2,800120,0.099148,0.207455,0.112478,0.051241,0.058155,0.059068,0.037736,0.048193,0.008020,...,0.000125,1.593338,3.333874,1.807557,0.823459,0.934575,0.949239,0.606427,0.774473,0.128885
3,800501,0.411668,0.951345,0.585284,0.242550,0.216423,0.194110,0.152885,0.203963,0.032757,...,0.000000,2.634674,6.088611,3.745819,1.552322,1.385110,1.242305,0.978465,1.305361,0.209646
4,800810,0.049960,0.116387,0.071839,0.029776,0.025688,0.024811,0.018579,0.030728,0.004137,...,0.000276,0.562883,1.311297,0.809387,0.335477,0.289423,0.279542,0.209324,0.346198,0.046612

### [Training]

In [132]:
df_train_old = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','train_subdist_old.csv'), header=0, skiprows=0)
df_train_old = df_train_old.drop('Unnamed: 0', axis = 1)
df_train_old = df_train_old.iloc[:,[0,1,2,3,4,5,6,7,8,10,11,12,18,22]]
df_train_old.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_wm1,DF_wm2,DF_wm3,RF_wm6,LST_wm4
0,15,2014,800101,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,0.000000,0.0,0.0,0.00,34.051964
1,16,2014,800101,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,0.0,0.0,0.00,34.622857
2,17,2014,800101,0.228948,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,0.0,0.0,0.00,34.353750
3,18,2014,800101,0.457896,0.228948,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.75,33.910000
4,19,2014,800101,0.228948,0.457896,0.228948,0.000000,0.000000,0.000000,0.228948,0.0,0.0,0.08,33.605000

In [133]:
df_train_new = pd.merge(df_train_old,df_new_cd, how = 'inner')
df_train_new.head()
df_train_new.to_csv('Data/Modeling/Training&Testing/train_subdist_all.csv', encoding = 'utf-8')

In [128]:
df_train_new = df_train_new.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,22,31,40,49,58,67,76,85,94]]
df_train_new.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_wm1,...,LST_wm4,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,15,2014,800101,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,0.000000,...,34.051964,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604
1,16,2014,800101,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,0.000000,...,34.622857,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604
2,17,2014,800101,0.228948,0.000000,0.000000,0.000000,0.000000,0.228948,0.000000,...,34.353750,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604
3,18,2014,800101,0.457896,0.228948,0.000000,0.000000,0.000000,0.000000,0.000000,...,33.910000,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604
4,19,2014,800101,0.228948,0.457896,0.228948,0.000000,0.000000,0.000000,0.228948,...,33.605000,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604

In [129]:
df_train_new.to_csv('Data/Modeling/Training&Testing/train_subdist_total.csv', encoding = 'utf-8')

### [Testing]

In [134]:
df_test_old = pd.read_csv(os.path.join('Data','Modeling','Training&Testing','test_subdist_old.csv'), header=0, skiprows=0)
df_test_old = df_test_old.drop('Unnamed: 0', axis = 1)
df_test_old = df_test_old.iloc[:,[0,1,2,3,4,5,6,7,8,10,11,12,18,22]]
df_test_old.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_wm1,DF_wm2,DF_wm3,RF_wm6,LST_wm4
0,7,2017,800101,1.144741,1.373689,0.228948,0.686845,0.686845,0.457896,1.602637,1.144741,1.373689,19.26,26.101786
1,8,2017,800101,0.457896,1.144741,1.373689,0.228948,0.686845,0.686845,3.434223,1.602637,1.144741,85.21,27.526429
2,9,2017,800101,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,0.457896,3.434223,1.602637,74.16,28.921429
3,10,2017,800101,1.373689,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,0.457896,3.434223,68.64,29.655000
4,11,2017,800101,0.228948,1.373689,1.373689,0.457896,1.144741,1.373689,0.686845,0.686845,0.457896,19.79,29.627500

In [135]:
df_test_new = pd.merge(df_test_old,df_new_cd, how = 'inner')
df_test_new.head()
df_test_new.to_csv('Data/Modeling/Training&Testing/test_subdist_all.csv', encoding = 'utf-8')

In [136]:
df_test_new = df_test_new.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,22,31,40,49,58,67,76,85,94]]
df_test_new.head()

,Week,Year,addrcode,DF_6,DF_5,DF_4,DF_3,DF_2,DF_1,DF_wm1,...,LST_wm4,bin_pop9s,bowl_pop9s,bucket_pop9s,misc_short_pop9s,jar_pop9s,pottedplant_pop9s,tire_pop9s,misc_tall_pop9s,total_pop9s
0,7,2017,800101,1.144741,1.373689,0.228948,0.686845,0.686845,0.457896,1.602637,...,26.101786,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604
1,8,2017,800101,0.457896,1.144741,1.373689,0.228948,0.686845,0.686845,3.434223,...,27.526429,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604
2,9,2017,800101,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,0.457896,...,28.921429,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604
3,10,2017,800101,1.373689,1.373689,0.457896,1.144741,1.373689,0.228948,0.686845,...,29.655000,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604
4,11,2017,800101,0.228948,1.373689,1.373689,0.457896,1.144741,1.373689,0.686845,...,29.627500,2.332913,0.176545,5.977301,0.100883,0.145019,8.177806,1.034048,0.031526,17.97604

In [137]:
df_test_new.to_csv('Data/Modeling/Training&Testing/test_subdist_total.csv', encoding = 'utf-8')

## District level Population data [Full-info]

In [77]:
df_pop = pd.read_csv(os.path.join('Data','Population','full-info','Krabi-population-details.csv'))
#df_pop = df_pop.drop('district', axis =1)
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.head()

,district,addrcode,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
0,8101,810103,1912,773,1175,2509,2783,2714,3364,1687
1,8101,810105,1141,540,805,1558,1842,1598,1986,992
2,8101,810106,734,332,581,1073,1111,1040,1197,607
3,8101,810111,954,373,690,1455,1584,1759,2017,954
4,8101,810115,1601,695,1171,2262,2124,2187,2624,1039

In [78]:
df_pop_dist = df_pop.groupby('district').sum()
df_pop_dist.head()

,Age < 7,Age 7 - 9,Age 10 - 14,Age 15 - 24,Age 25 - 34,Age 35 - 44,Age 45 - 60,Age > 60
district,,,,,,,,
8101,9852,4281,6721,13049,14353,13991,16200,7568
8102,5919,2705,3983,8480,9225,9064,10175,5062
8103,2419,1154,1690,3036,3755,3377,3526,1873
8104,8254,3866,6045,12103,12902,11708,14228,7241
8105,5033,2336,3623,7378,7771,7789,9695,5526

In [79]:
df_pop_dist.to_csv(os.path.join('Data','Population','full-info','Krabi-population-details-district.csv'))