# Data Statistics

In [1]:
import pandas as pd
import os
import numpy as np
import numpy
import glob

## Data dictionary

In [ ]:
df_dic = pd.read_csv(os.path.join('Data','Other','Dictionary.csv'))
df_dic['TA_ID'] = df_dic['TA_ID'].astype(str)
df_dic.head()

In [ ]:
df_dic_bangkok_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '10']
bangkok_subdist = df_dic_bangkok_subdist['TA_ID'].values
df_dic_nakhon_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '80']
nakhon_subdist = df_dic_nakhon_subdist['TA_ID'].values
df_dic_krabi_subdist = df_dic.loc[df_dic['TA_ID'].str[:2] == '81']
krabi_subdist = df_dic_krabi_subdist['TA_ID'].values

## Monthly Breeding Site Detection Data

In [ ]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection.head()

In [ ]:
df_detection['date'] = pd.to_datetime(df_detection['date'],format = '%Y-%m-%d')
df_detection['Year'] = df_detection['date'].dt.year
df_detection['Month'] = df_detection['date'].dt.month
df_detection['addrcode'] = df_detection['addrcode'].astype(str)
df_detection['Year'] = df_detection['Year'].astype(str)
df_detection['Month'] = df_detection['Month'].astype(str)
df_detection = df_detection[['date','Year','Month','addrcode','bin','bowl','bucket','cup','jar','pottedplant','tire','vase','total']]
df_detection.head()

In [ ]:
df_detectionmonth = df_detection.groupby([df_detection['addrcode'].str[:2],df_detection['Year'],df_detection['Month']]).size().reset_index(name ='Count')
df_detectionmonth.head()

In [ ]:
df_detectionyear = df_detectionmonth.groupby([df_detectionmonth['addrcode'].str[:2],df_detectionmonth['Year']]).size().reset_index(name = 'NumMonth')
df_detectionyear

## Dengue Data

### Compare sub-district in Bangkok

In [ ]:
df_new_dic = pd.read_csv(os.path.join('Data','Other','Newver-Dictionary.csv'))
df_new_dic['PV_IDN'] = df_new_dic['PV_IDN'].astype(str)
df_new_dic = df_new_dic.loc[df_new_dic['PV_IDN'] == '10']
df_new_dic.head()

In [ ]:
df_dic_bangkok_subdist.head()

In [ ]:
df_dic_bangkok_compare = df_dic_bangkok_subdist.iloc[:,[0,1]]
df_dic_bangkok_compare.head()

In [ ]:
df_new_dic_bangkok = df_new_dic.iloc[:,[0,1]]
df_new_dic_bangkok.head()

In [ ]:
df_new_dic_bangkok.columns = ['TA_ID_NEW', 'TAMBON_T']
df_new_dic_bangkok.head()

In [ ]:
result = pd.merge(df_dic_bangkok_compare,df_new_dic_bangkok, on = 'TAMBON_T',how = 'outer')
result.head(10)
#result.to_csv('compare_subdist_bangkok.csv', encoding = 'utf-8')

## Combine Address Code into one column

In [ ]:
df_dengue_2014_2018 = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_5YEAR_WeekNum.csv'), low_memory = False)
df_dengue_2014_2018 = df_dengue_2014_2018.drop('Unnamed: 0', axis = 1)
df_dengue_2014_2018['ADDRCODE'] = df_dengue_2014_2018['ADDRCODE'].astype(str)
df_dengue_2014_2018['PROVINCE'] = df_dengue_2014_2018['PROVINCE'].astype(str)
df_dengue_2014_2018.head()

In [ ]:
size = len(df_dengue_2014_2018)
size

In [ ]:
addrcode = []
for i in range(size):
    if len(df_dengue_2014_2018['ADDRCODE'][i]) == 3:
        addrcode.append(df_dengue_2014_2018['PROVINCE'][i]+'0'+df_dengue_2014_2018['ADDRCODE'][i])
    elif len(df_dengue_2014_2018['ADDRCODE'][i]) == 4:
        addrcode.append(df_dengue_2014_2018['PROVINCE'][i]+df_dengue_2014_2018['ADDRCODE'][i])
    elif len(df_dengue_2014_2018['ADDRCODE'][i]) == 5:
        addrcode.append(df_dengue_2014_2018['PROVINCE'][i]+'0'+df_dengue_2014_2018['ADDRCODE'].str[:3][i])
    elif len(df_dengue_2014_2018['ADDRCODE'][i]) == 6:
        addrcode.append(df_dengue_2014_2018['PROVINCE'][i]+df_dengue_2014_2018['ADDRCODE'].str[:4][i])

In [ ]:
df_dengue_2014_2018['addrcode'] = addrcode
df_dengue_2014_2018 = df_dengue_2014_2018.drop('ADDRCODE', axis = 1)
df_dengue_2014_2018 = df_dengue_2014_2018.drop('PROVINCE', axis = 1)
df_dengue_2014_2018 = df_dengue_2014_2018[['addrcode','DATESICK','Year','Month','Day','Weeknum']]
df_dengue_2014_2018.columns = ['ADDRCODE','DATESICK','Year','Month','Day','WeekNum']

In [ ]:
df_dengue_2014_2018.head()
#df_dengue_2014_2018.to_csv('DF_5YEAR_FINAL.csv', encoding = 'utf-8')

In [ ]:
df_dengue_999999 = df_dengue_2014_2018.loc[df_dengue_2014_2018['ADDRCODE'].str[:4] == '1099']
df_dengue_999999

## Weekly Dengue cases Data

In [ ]:
list = ['100206','100212','100214','100308','100501','100905','100910',
        '101101','101201','101903','102001','102101','102301','102702',
        '102703','102704','102705','102901','103202','103402','104002',
        '105002','109999',
        '800206','800208','800805','801004','801005','801302','801309',
        '801503','802701',
        '810030','810040','810050','810101','810104','810301','810302',
        '810408','810502','810706','810766','810802','811150','813037',
        '814011','814012','814031','814034','814036','814038','814039',
        '814054','814056','814057','814076','801201','810102'] 

df_denguecase_weekly = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_5YEAR_AGG.csv'))
df_denguecase_weekly = df_denguecase_weekly.drop('Unnamed: 0', axis = 1)
#df_denguecase_weekly.columns = ['addrcode','Year','WeekNum','NumberCases']
df_denguecase_weekly['addrcode'] = df_denguecase_weekly['addrcode'].astype(str)
df_denguecase_weekly = df_denguecase_weekly.sort_values(['addrcode','Year','WeekNum'])
# for i in range(len(list)):
#     df_denguecase_weekly = df_denguecase_weekly[df_denguecase_weekly.addrcode != list[i]]
# df_denguecase_weekly = df_denguecase_weekly.reset_index()
# df_denguecase_weekly = df_denguecase_weekly.drop('index',axis = 1)
# df_denguecase_weekly.to_csv('DF_clean.csv',encoding = 'utf-8')
#df_denguecase_weekly.tail()

## Total number of Dengue cases in each province

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_weekly_province = df_denguecase_weekly.groupby([df_denguecase_weekly['addrcode'].str[:2]]).aggregate(aggregation_function).reset_index()
df_weekly_province

In [ ]:
df_denguecase_weekly.tail()

## Monthly Dengue cases Data

In [21]:
df_month_df = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF.csv'))
df_month_df['WeekNum'] = df_month_df['WeekNum'].astype(str)
df_month_df['Year'] = df_month_df['Year'].astype(str)
df_month_df.columns = ['addrcode','Year','Week','Cases']
df_month_df.head()

   addrcode  Year Week  Cases
0    100101  2014    1      0
1    100101  2014    2      0
2    100101  2014    3      0
3    100101  2014    4      0
4    100101  2014    5      0

In [22]:
weekyear = []
for i in range(len(df_month_df)):
    if len(df_month_df['Week'][i]) == 1:
        weekyear.append(df_month_df['Year'][i] + '0' + df_month_df['Week'][i])
    elif len(df_month_df['Week'][i]) == 2:
        weekyear.append(df_month_df['Year'][i] + df_month_df['Week'][i])

In [23]:
df_month_df['WeekYear'] = weekyear
df_month_df['WeekYear'] = df_month_df['WeekYear'].astype(int)
df_month_df.head()

   addrcode  Year Week  Cases  WeekYear
0    100101  2014    1      0    201401
1    100101  2014    2      0    201402
2    100101  2014    3      0    201403
3    100101  2014    4      0    201404
4    100101  2014    5      0    201405

In [24]:
df_month_df['LastDayWeek'] = pd.to_datetime((df_month_df['WeekYear']-1).astype(str) + "6", format="%Y%U%w")
df_month_df['Month'] = pd.DatetimeIndex(df_month_df['LastDayWeek']).month
df_month_df = df_month_df.drop(['LastDayWeek','WeekYear'], axis =1)
df_month_df.head()

   addrcode  Year Week  Cases  Month
0    100101  2014    1      0      1
1    100101  2014    2      0      1
2    100101  2014    3      0      1
3    100101  2014    4      0      1
4    100101  2014    5      0      2

In [25]:
df_month_df = df_month_df.groupby([df_month_df['addrcode'],df_month_df['Year'],df_month_df['Month']]).sum().reset_index()
df_month_df.head()

   addrcode  Year  Month  Cases
0    100101  2014      1      0
1    100101  2014      2      0
2    100101  2014      3      0
3    100101  2014      4      0
4    100101  2014      5      0

In [16]:
#df_month_df.to_csv('Data/Dengue-cases/Dengue fever data/DF_monthly.csv', encoding = 'utf-8')

In [27]:
df_month_df['addrcode'] = df_month_df['addrcode'].astype(str)
df_month_df_dist = df_month_df.groupby([df_month_df['addrcode'].str[:4],df_month_df['Year'],df_month_df['Month']]).sum().reset_index()
df_month_df_dist.head()

  addrcode  Year  Month  Cases
0     1001  2014      1      1
1     1001  2014      2      2
2     1001  2014      3      2
3     1001  2014      4      2
4     1001  2014      5      5

In [28]:
df_month_df_dist.to_csv('Data/Dengue-cases/Dengue fever data/DF_monthly_dist.csv', encoding = 'utf-8')

## Checking missing sub-district of Container detection

In [ ]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection.head()

In [ ]:
df_allsub = pd.read_csv(os.path.join('Data','Climatic Data Result','addrcode_subdistrict.csv'))
df_allsub.head()

In [ ]:
df_missing = pd.merge(df_detection,df_allsub, how = 'outer', on = 'addrcode')
df_missing.head()
#df_missing.to_csv('detection_check.csv', encoding = 'utf-8')

## Delete missing sub-district for Container detection

In [ ]:
invalid = ['801302','801503','810101','810301','810302','810502','810802','801201','810102']

In [ ]:
df_rainfall = pd.read_csv(os.path.join('Data','Climatic Data','Rainfall_Nakhon_Krabi.csv'))
df_rainfall = df_rainfall.drop('Unnamed: 0',axis = 1)
df_rainfall['addrcode'] = df_rainfall['addrcode'].astype(str)
df_rainfall.head()

In [ ]:
len(df_rainfall)

In [ ]:
for i in range(len(invalid)):
    df_rainfall = df_rainfall[df_rainfall.addrcode != invalid[i]]

In [ ]:
len(df_rainfall)

In [ ]:
df_rainfall.to_csv('Rainfall_Nakhon_Krabi_Autocorrelation.csv', encoding ='utf-8')

## Creating DF

In [ ]:
df_allsub = pd.read_csv(os.path.join('Data','Climatic Data Result','addrcode_subdistrict.csv'))
df_allsub['addrcode'][0]

In [ ]:
df_dengue = pd.DataFrame(columns=['addrcode','Year','WeekNum','NumberCases'])
df_dengue

In [ ]:
len(df_allsub)

In [ ]:
size = len(df_dengue)

In [ ]:
count = 0

In [ ]:

for i in range(len(df_allsub)):
    for j in range(52):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2014,j+1,0]
        count = count+1
    for k in range(53):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2015,k+1,0]
        count = count+1
    for l in range(52):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2016,l+1,0]
        count = count+1
    for m in range(52):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2017,m+1,0]
        count = count+1
    for n in range(24):
        df_dengue.loc[count] = [df_allsub['addrcode'][i],2018,n+1,0]
        count = count+1

In [ ]:
df_dengue
df_dengue.to_csv('DF_0.csv',encoding = 'utf-8')

In [ ]:
df_dengue_agg = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever Data','DF_5YEAR_AGG.csv'))
df_dengue_agg = df_dengue_agg.drop('Unnamed: 0',axis = 1)
df_dengue_agg.head()

In [ ]:
list = ['100206','100212','100214','100308','100501','100905','100910',
        '101101','101201','101903','102001','102101','102301','102702',
        '102703','102704','102705','102901','103202','103402','104002',
        '105002','109999',
        '800104','800206','800208','800805','801004','801005','801302',
        '801309','801503','802701',
        '810030','810040','810050','810101','810104','810301','810302',
        '810408','810502','810706','810766','810802','811150','813037',
        '814011','814012','814031','814034','814036','814038','814039',
        '814054','814056','814057','814076','801201','810102'] 

df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF_0.csv'))
df_dengue = df_dengue.drop('Unnamed: 0', axis = 1)
df_dengue['addrcode'] = df_dengue['addrcode'].astype(str)
df_dengue_agg['addrcode'] = df_dengue_agg['addrcode'].astype(str)
df_dengue = df_dengue.sort_values(['addrcode','Year','WeekNum'])
for i in range(len(list)):
     df_dengue = df_dengue[df_dengue.addrcode != list[i]]
for i in range(len(list)):
     df_dengue_agg = df_dengue_agg[df_dengue_agg.addrcode != list[i]]
df_dengue = df_dengue.reset_index()
df_dengue = df_dengue.drop('index',axis = 1)
#df_dengue.to_csv('DF_00.csv',encoding = 'utf-8')
#df_denguecase_weekly.tail()

In [ ]:
len(df_dengue)

In [ ]:
df_df = df_dengue.append(df_dengue_agg)
df_df['addrcode'] = df_df['addrcode'].astype(str)

In [ ]:
df_df = df_df.reset_index()
df_df = df_df.drop('index', axis = 1)
df_df.head()

In [ ]:
aggregation_function = {'NumberCases': 'sum'}
df_df = df_df.groupby([df_df['addrcode'],df_df['Year'],df_df['WeekNum']]).aggregate(aggregation_function).reset_index()
df_df.head()
len(df_df)

In [ ]:
df_df.to_csv('DF.csv',encoding = 'utf-8')

## Dengue Case per Area

In [ ]:
df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF.csv'))
df_dengue['addrcode'] = df_dengue['addrcode'].astype(str)
df_dengue.head()

In [ ]:
df_subdist_area = pd.read_csv(os.path.join('Data','Area and GSV','csv','subdistricts-area.csv'))
df_subdist_area['addrcode'] = df_subdist_area['addrcode'].astype(str)
df_subdist_area.head()

In [ ]:
aggregation_function = {'area': 'sum'}
df_dist_area = df_subdist_area.groupby(df_subdist_area['addrcode'].str[:4]).aggregate(aggregation_function).reset_index()
df_dist_area.head()

In [ ]:
df_df_area = pd.merge(df_dengue,df_subdist_area, on = 'addrcode', how = 'inner')
df_df_area['area'] = df_df_area['area']/10
df_df_area['DFpA'] = df_df_area['NumberCases']/df_df_area['area']
df_df_area.tail()

In [ ]:
df_df_area.to_csv('DFpArea.csv', encoding='utf-8')

## Dengue case per 10000 population

### [Subdistrict]

In [ ]:
df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','DF.csv'))
df_dengue['addrcode'] = df_dengue['addrcode'].astype(str)
df_dengue.head()

In [ ]:
df_pop = pd.read_csv(os.path.join('Data','Population','addrcode-index','Population.csv'))
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.columns = ['addrcode','population']
df_pop.head()

In [ ]:
df_df_pop = pd.merge(df_dengue, df_pop, how ='inner', on = 'addrcode')
df_df_pop['population'] = df_df_pop['population'] / 10000
df_df_pop['DFp10000Pop'] = df_df_pop['NumberCases']/df_df_pop['population']
df_df_pop.tail()

In [ ]:
#df_df_pop.to_csv('DF_10000Population_details.csv', encoding='utf-8')

### District level

In [ ]:
df_df_pop = pd.merge(df_dengue, df_pop, how ='inner', on = 'addrcode')
df_df_pop.head()

In [ ]:
aggregation_function = {'NumberCases': 'sum', 'population': 'sum'}
df_df_pop_dist = df_df_pop.groupby([df_df_pop['addrcode'].str[:4], df_df_pop['Year'], df_df_pop['WeekNum']]).aggregate(aggregation_function).reset_index()
df_df_pop_dist.head()

In [ ]:
df_df_pop_dist['population'] = df_df_pop_dist['population'] / 10000
df_df_pop_dist['DFp10000Pop'] = df_df_pop_dist['NumberCases']/df_df_pop_dist['population']
df_df_pop_dist.head()

In [ ]:
df_df_pop_dist.to_csv('DF_10000Population_dist_details.csv', encoding='utf-8')

## Container Density Per Area [Sub-district]

In [ ]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection['addrcode'] = df_detection['addrcode'].astype(str)
df_detection = df_detection.drop('date',axis = 1)

In [ ]:
list = ['102702','102703']
for i in range(len(list)):
     df_detection = df_detection[df_detection.addrcode != list[i]]

In [ ]:
df_detection_bangkok = df_detection.loc[df_detection['addrcode'].str[:2] == '10']
df_detection_bangkok = df_detection_bangkok.reset_index()
df_detection_bangkok = df_detection_bangkok.drop('index',axis = 1)
df_detection_bangkok.to_csv('container_bangkok_subdist.csv',encoding = 'utf-8')
df_detection_krabi = df_detection.loc[df_detection['addrcode'].str[:2] == '81']
df_detection_krabi = df_detection_krabi.reset_index()
df_detection_krabi = df_detection_krabi.drop('index',axis = 1)
df_detection_krabi.to_csv('container_krabi_subdist.csv',encoding = 'utf-8')
df_detection_nst = df_detection.loc[df_detection['addrcode'].str[:2] == '80']
df_detection_nst = df_detection_nst.reset_index()
df_detection_nst = df_detection_nst.drop('index',axis = 1)
df_detection_nst.to_csv('container_NST_subdist.csv',encoding = 'utf-8')

In [ ]:
## for Bangkok, NST, Krabi
df_cd = pd.merge(df_detection_nst,df_subdist_area, on = 'addrcode', how = 'inner')
df_cd['area'] = df_cd['area']/10
df_cd.head()

In [ ]:
df_cd['bin'] = df_cd['bin']/df_cd['area']
df_cd['bin'] = df_cd['bin'].round(3)
df_cd['bowl'] = df_cd['bowl']/df_cd['area']
df_cd['bowl'] = df_cd['bowl'].round(3)
df_cd['bucket'] = df_cd['bucket']/df_cd['area']
df_cd['bucket'] = df_cd['bucket'].round(3)
df_cd['misc_short'] = df_cd['misc_short']/df_cd['area']
df_cd['misc_short'] = df_cd['misc_short'].round(3)
df_cd['jar'] = df_cd['jar']/df_cd['area']
df_cd['jar'] = df_cd['jar'].round(3)
df_cd['pottedplant'] = df_cd['pottedplant']/df_cd['area']
df_cd['pottedplant'] = df_cd['pottedplant'].round(3)
df_cd['tire'] = df_cd['tire']/df_cd['area']
df_cd['tire'] = df_cd['tire'].round(3)
df_cd['misc_tall'] = df_cd['misc_tall']/df_cd['area']
df_cd['misc_tall'] = df_cd['misc_tall'].round(3)
df_cd['total'] = df_cd['total']/df_cd['area']
df_cd['total'] = df_cd['total'].round(3)
df_cd = df_cd.drop('area', axis =1)
df_cd.head()

In [ ]:
df_cd.to_csv('CD_NST_subdist.csv', encoding='utf-8')

## Container Density [District]

In [ ]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection['addrcode'] = df_detection['addrcode'].astype(str)
df_detection = df_detection.drop('date',axis = 1)
list = ['102702','102703']
for i in range(len(list)):
     df_detection = df_detection[df_detection.addrcode != list[i]]

In [ ]:
aggregation_function = {'bin': 'sum', 'bowl': 'sum','bucket': 'sum', 'misc_short': 'sum', 'jar': 'sum', 'pottedplant': 'sum', 'tire': 'sum', 'misc_tall': 'sum', 'total': 'sum'}
df_detection_dist = df_detection.groupby(df_detection['addrcode'].str[:4]).aggregate(aggregation_function).reset_index()
df_detection_dist.head()

In [ ]:
df_detection_bangkok = df_detection_dist.loc[df_detection_dist['addrcode'].str[:2] == '10']
df_detection_bangkok = df_detection_bangkok.reset_index()
df_detection_bangkok = df_detection_bangkok.drop('index',axis = 1)
df_detection_bangkok.to_csv('container_bangkok_dist.csv',encoding = 'utf-8')
df_detection_krabi = df_detection_dist.loc[df_detection_dist['addrcode'].str[:2] == '81']
df_detection_krabi = df_detection_krabi.reset_index()
df_detection_krabi = df_detection_krabi.drop('index',axis = 1)
df_detection_krabi.to_csv('container_krabi_dist.csv',encoding = 'utf-8')
df_detection_nst = df_detection_dist.loc[df_detection_dist['addrcode'].str[:2] == '80']
df_detection_nst = df_detection_nst.reset_index()
df_detection_nst = df_detection_nst.drop('index',axis = 1)
df_detection_nst.to_csv('container_NST_dist.csv',encoding = 'utf-8')

In [ ]:
## for Bangkok, NST, Krabi
df_cd = pd.merge(df_detection_nst,df_dist_area, on = 'addrcode', how = 'inner')
df_cd['area'] = df_cd['area']/10
df_cd.head()

In [ ]:
df_cd['bin'] = df_cd['bin']/df_cd['area']
df_cd['bin'] = df_cd['bin'].round(3)
df_cd['bowl'] = df_cd['bowl']/df_cd['area']
df_cd['bowl'] = df_cd['bowl'].round(3)
df_cd['bucket'] = df_cd['bucket']/df_cd['area']
df_cd['bucket'] = df_cd['bucket'].round(3)
df_cd['misc_short'] = df_cd['misc_short']/df_cd['area']
df_cd['misc_short'] = df_cd['misc_short'].round(3)
df_cd['jar'] = df_cd['jar']/df_cd['area']
df_cd['jar'] = df_cd['jar'].round(3)
df_cd['pottedplant'] = df_cd['pottedplant']/df_cd['area']
df_cd['pottedplant'] = df_cd['pottedplant'].round(3)
df_cd['tire'] = df_cd['tire']/df_cd['area']
df_cd['tire'] = df_cd['tire'].round(3)
df_cd['misc_tall'] = df_cd['misc_tall']/df_cd['area']
df_cd['misc_tall'] = df_cd['misc_tall'].round(3)
df_cd['total'] = df_cd['total']/df_cd['area']
df_cd['total'] = df_cd['total'].round(3)
df_cd = df_cd.drop('area', axis =1)
df_cd.head()

In [ ]:
df_cd.to_csv('CD_NST_dist.csv', encoding='utf-8')

## Container Density per Population [Subdistrict]

In [29]:
df_detection = pd.read_csv(os.path.join('Data','Breeding-sites','csv','addrcode-index','detection.csv'))
df_detection['addrcode'] = df_detection['addrcode'].astype(str)
df_detection = df_detection.drop('date',axis = 1)

In [30]:
list = ['102702','102703']
for i in range(len(list)):
     df_detection = df_detection[df_detection.addrcode != list[i]]

In [31]:
df_detection_bangkok = df_detection.loc[df_detection['addrcode'].str[:2] == '10']
df_detection_bangkok = df_detection_bangkok.reset_index()
df_detection_bangkok = df_detection_bangkok.drop('index',axis = 1)
#df_detection_bangkok.to_csv('container_bangkok_subdist.csv',encoding = 'utf-8')
df_detection_krabi = df_detection.loc[df_detection['addrcode'].str[:2] == '81']
df_detection_krabi = df_detection_krabi.reset_index()
df_detection_krabi = df_detection_krabi.drop('index',axis = 1)
#df_detection_krabi.to_csv('container_krabi_subdist.csv',encoding = 'utf-8')
df_detection_nst = df_detection.loc[df_detection['addrcode'].str[:2] == '80']
df_detection_nst = df_detection_nst.reset_index()
df_detection_nst = df_detection_nst.drop('index',axis = 1)
#df_detection_nst.to_csv('container_NST_subdist.csv',encoding = 'utf-8')

In [37]:
df_pop = pd.read_csv(os.path.join('Data','Population','addrcode-index','Population.csv'))
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.head()

  addrcode  Total
0   100101   3715
1   100102  11226
2   100103   3328
3   100104   3309
4   100105   3214

In [55]:
## for Bangkok, NST, Krabi
df_cd = pd.merge(df_detection_krabi,df_pop, on = 'addrcode', how = 'inner')
df_cd.columns = ['addrcode','bin','bowl','bucket','misc_short','jar','pottedplant','tire','misc_tall','total','population']
df_cd.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total,population
0,810503,32,1,307,10,9,104,38,1,502,4943
1,810507,80,2,253,3,16,146,55,0,555,4344
2,810604,87,1,160,5,35,175,31,2,496,5872
3,810205,33,1,263,2,21,112,28,0,460,9386
4,810508,48,1,214,2,18,143,36,0,462,3906

In [56]:
df_cd['bin'] = df_cd['bin']/(df_cd['population']/100)
df_cd['bin'] = df_cd['bin'].round(3)
df_cd['bowl'] = df_cd['bowl']/(df_cd['population']/100)
df_cd['bowl'] = df_cd['bowl'].round(3)
df_cd['bucket'] = df_cd['bucket']/(df_cd['population']/100)
df_cd['bucket'] = df_cd['bucket'].round(3)
df_cd['misc_short'] = df_cd['misc_short']/(df_cd['population']/100)
df_cd['misc_short'] = df_cd['misc_short'].round(3)
df_cd['jar'] = df_cd['jar']/(df_cd['population']/100)
df_cd['jar'] = df_cd['jar'].round(3)
df_cd['pottedplant'] = df_cd['pottedplant']/(df_cd['population']/100)
df_cd['pottedplant'] = df_cd['pottedplant'].round(3)
df_cd['tire'] = df_cd['tire']/(df_cd['population']/100)
df_cd['tire'] = df_cd['tire'].round(3)
df_cd['misc_tall'] = df_cd['misc_tall']/(df_cd['population']/100)
df_cd['misc_tall'] = df_cd['misc_tall'].round(3)
df_cd['total'] = df_cd['total']/(df_cd['population']/100)
df_cd['total'] = df_cd['total'].round(3)
df_cd = df_cd.drop('population', axis =1)
df_cd.head()

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall,total
0,810503,0.647,0.020,6.211,0.202,0.182,2.104,0.769,0.020,10.156
1,810507,1.842,0.046,5.824,0.069,0.368,3.361,1.266,0.000,12.776
2,810604,1.482,0.017,2.725,0.085,0.596,2.980,0.528,0.034,8.447
3,810205,0.352,0.011,2.802,0.021,0.224,1.193,0.298,0.000,4.901
4,810508,1.229,0.026,5.479,0.051,0.461,3.661,0.922,0.000,11.828

In [57]:
df_cd.to_csv('Data/Container Density/Subdistrict Level/CD_krabi_subdist_pop.csv')

## DF per 100 Population

In [ ]:
df_df100pop = pd.read_csv('DFp100Population.csv')
df_df100pop = df_df100pop.drop('Unnamed: 0',axis = 1)

aggregation_function = {'DFp100Pop': 'sum'}
df_df100pop = df_df100pop.groupby(df_df100pop['addrcode']).aggregate(aggregation_function).reset_index()
df_df100pop.head()

## CD concat DF

In [ ]:
df_cddf = pd.merge(df_cd,df_df100pop, on = 'addrcode', how = 'inner')
df_cddf['addrcode'] = df_cddf['addrcode'].astype(str)
df_cddf.head()

In [ ]:
df_cddf_bkk = df_cddf.loc[df_cddf['addrcode'].str[:2] == '10']
df_cddf_bkk.to_csv('CD+DF100Pop_Bangkok.csv', encoding = 'utf-8')

In [ ]:
df_cddf_nst = df_cddf.loc[df_cddf['addrcode'].str[:2] == '80']
df_cddf_nst.to_csv('CD+DF100Pop_NST.csv', encoding = 'utf-8')

In [ ]:
df_cddf_krabi = df_cddf.loc[df_cddf['addrcode'].str[:2] == '81']
df_cddf_krabi.to_csv('CD+DF100Pop_Krabi.csv', encoding = 'utf-8')

## Area and Image Coverage

In [ ]:
list = ['100206','100212','100214','100308','100501','100905','100910',
        '101101','101201','101903','102001','102101','102301','102702',
        '102703','102704','102705','102901','103202','103402','104002',
        '105002','109999',
        '800104','800206','800208','800805','801004','801005','801302',
        '801309','801503','802701',
        '810030','810040','810050','810101','810104','810301','810302',
        '810408','810502','810706','810766','810802','811150','813037',
        '814011','814012','814031','814034','814036','814038','814039',
        '814054','814056','814057','814076','801201','810102']

In [ ]:
df_area = pd.read_csv(os.path.join('Data','Area and GSV','csv','gsv-coverage.csv'))
df_area['addrcode'] = df_area['addrcode'].astype(str)
for i in range(len(list)):
     df_area = df_area[df_area.addrcode != list[i]]
aggregation_function = {'land_area': 'sum','image_area' : 'sum'}
df_area = df_area.groupby(df_area['addrcode']).aggregate(aggregation_function).reset_index()
len(df_area)

In [ ]:
df_area['image_coverage'] = df_area['image_area']/df_area['land_area']*100
df_area['image_coverage'] = df_area['image_coverage'].astype(float)
df_area['image_coverage'].loc[df_area['image_coverage'] > 100] = 100
df_area['image_coverage'] = df_area['image_coverage'].round(2)

In [ ]:
df_area_bangkok = df_area.loc[df_area['addrcode'].str[:2] == '10'].reset_index()
df_area_bangkok = df_area_bangkok.drop('index', axis = 1)
df_area_bangkok.to_csv('image_coverage_bangkok.csv', encoding ='utf-8')
df_area_nst = df_area.loc[df_area['addrcode'].str[:2] == '80'].reset_index()
df_area_nst = df_area_nst.drop('index', axis = 1)
df_area_nst.to_csv('image_coverage_nst.csv', encoding ='utf-8')
df_area_krabi = df_area.loc[df_area['addrcode'].str[:2] == '81'].reset_index()
df_area_krabi = df_area_krabi.drop('index', axis = 1)
df_area_krabi.to_csv('image_coverage_krabi.csv', encoding ='utf-8')

## Matching population Data

In [ ]:
df_dic_nakhon_subdist.head()

In [ ]:
df_pop_nakhon = pd.read_csv(os.path.join('Data','Population','full-info','Nakhon-population-details.csv'))
df_pop_nakhon['addrcode'] = df_pop_nakhon['addrcode'].astype(str)
df_pop_nakhon.head()

In [ ]:
list = ['100206','100212','100214','100308','100501','100905','100910',
        '101101','101201','101903','102001','102101','102301','102702',
        '102703','102704','102705','102901','103202','103402','104002',
        '105002','109999',
        '800104','800206','800208','800805','801004','801005','801302',
        '801309','801503','802701',
        '810030','810040','810050','810101','810104','810301','810302',
        '810408','810502','810706','810766','810802','811150','813037',
        '814011','814012','814031','814034','814036','814038','814039',
        '814054','814056','814057','814076','801201','810102'] 

for i in range(len(list)):
     df_pop_nakhon = df_pop_nakhon[df_pop_nakhon.addrcode != list[i]]

In [ ]:
len(df_pop_nakhon)
df_pop_nakhon = df_pop_nakhon.reset_index()
df_pop_nakhon = df_pop_nakhon.drop(['index','name'], axis  =1)
df_pop_nakhon.head()

In [ ]:
df_pop_nakhon.to_csv('Nakhon-population-details.csv', encoding = 'utf-8')

## District level Population data [Full-info]

In [ ]:
df_pop = pd.read_csv(os.path.join('Data','Population','full-info','Krabi-population-details.csv'))
#df_pop = df_pop.drop('district', axis =1)
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop.head()

In [ ]:
df_pop_dist = df_pop.groupby('district').sum()
df_pop_dist.head()

In [ ]:
df_pop_dist.to_csv(os.path.join('Data','Population','full-info','Krabi-population-details-district.csv'))

## Outbreak Detection

In [120]:
from tqdm import tqdm
from os import listdir
path = '/Users/boonpakorn/Documents/GitHub/dengue_data_statistics/Data/Modeling/Outbreak Detection/'
filename = []
filelist= listdir(path)
for f in tqdm(filelist):
    filename.append(f)
len(filename)

100%|| 72/72 [00:00<00:00, 192595.59it/s]

72

In [121]:
for filename in filename:
    outbreak1 = []
    outbreak2 = []
    df_outbreak = pd.read_csv(os.path.join(path+filename), index_col = 0)
    df_outbreak = df_outbreak.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]]
    df_outbreak['DF_AVG'] = df_outbreak['DF_0'].mean()
    df_outbreak['DF_SD'] = df_outbreak['DF_0'].std()
    df_outbreak['AVG_1SD'] = df_outbreak['DF_AVG'] + df_outbreak['DF_SD']
    df_outbreak['AVG_2SD'] = df_outbreak['DF_AVG'] + (2 * df_outbreak['DF_SD'])
    df_outbreak['OB1'] = None
    df_outbreak['OB1'].loc[df_outbreak['DF_0'] > df_outbreak['AVG_1SD']] = 1
    df_outbreak['OB1'].loc[df_outbreak['DF_0'] <= df_outbreak['AVG_1SD']] = 0
    df_outbreak['OB2'] = None
    df_outbreak['OB2'].loc[df_outbreak['DF_0'] > df_outbreak['AVG_2SD']] = 1
    df_outbreak['OB2'].loc[df_outbreak['DF_0'] <= df_outbreak['AVG_2SD']] = 0
    
    df_outbreak['DF_AVGs'] = df_outbreak['DFma_0'].mean()
    df_outbreak['DF_SDs'] = df_outbreak['DFma_0'].std()
    df_outbreak['AVG_1SDs'] = df_outbreak['DF_AVGs'] + df_outbreak['DF_SDs']
    df_outbreak['AVG_2SDs'] = df_outbreak['DF_AVGs'] + (2 * df_outbreak['DF_SDs'])
    df_outbreak['OB1s'] = None
    df_outbreak['OB1s'].loc[df_outbreak['DFma_0'] > df_outbreak['AVG_1SDs']] = 1
    df_outbreak['OB1s'].loc[df_outbreak['DFma_0'] <= df_outbreak['AVG_1SDs']] = 0
    df_outbreak['OB2s'] = None
    df_outbreak['OB2s'].loc[df_outbreak['DFma_0'] > df_outbreak['AVG_2SDs']] = 1
    df_outbreak['OB2s'].loc[df_outbreak['DFma_0'] <= df_outbreak['AVG_2SDs']] = 0
    
    df_outbreak.to_csv(path+filename , encoding = 'utf-8')

## Image coverage vs Container Counts

In [32]:
province = 'krabi'

In [33]:
df_image = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_'+province+'.csv'))
df_image = df_image.drop(['Unnamed: 0','land_area','image_area'], axis = 1)
df_image['addrcode'] = df_image['addrcode'].astype(str)
df_image.head()

  addrcode  image_coverage
0   810103            9.72
1   810105            3.75
2   810106            3.66
3   810111            2.42
4   810115            7.16

In [34]:
df_count = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','container_'+province+'_subdist.csv'), index_col = 0)
df_count = df_count.iloc[:,[0,9]]
df_count['addrcode'] = df_count['addrcode'].astype(str)
df_count.head()

  addrcode  total
0   810503    502
1   810507    555
2   810604    496
3   810205    460
4   810508    462

In [35]:
df_image_count = pd.merge(df_image, df_count, how = 'inner')
df_image_count.columns = [['addrcode','coverage','count']]
df_image_count.head()

  addrcode coverage count
0   810103     9.72  1039
1   810105     3.75    76
2   810106     3.66   396
3   810111     2.42   146
4   810115     7.16   339

In [36]:
df_image_count.to_csv('Data/Scatter/ImageCount_'+province+'.csv', encoding = 'utf-8')

## Population vs Container Counts

In [56]:
df_pop = pd.read_csv(os.path.join('Data','Population','addrcode-index','Population.csv'))
df_pop['addrcode'] = df_pop['addrcode'].astype(str)
df_pop = df_pop.groupby(df_pop['addrcode'].str[:4]).sum().reset_index()
df_pop.head()

  addrcode   Total
0     1001   50708
1     1002   91338
2     1003  166831
3     1004   37675
4     1005  187466

In [57]:
df_count_bangkok = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','container_bangkok_subdist.csv'), index_col = 0)
df_count_nst = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','container_nst_subdist.csv'), index_col = 0)
df_count_krabi = pd.read_csv(os.path.join('Data','Container Density','Subdistrict Level','container_krabi_subdist.csv'), index_col = 0)
df_count = pd.concat([df_count_bangkok, df_count_nst, df_count_krabi])
df_count = df_count.iloc[:,[0,9]]
df_count['addrcode'] = df_count['addrcode'].astype(str)
df_count = df_count.groupby(df_count['addrcode'].str[:4]).sum().reset_index()
df_count.head()

  addrcode  total
0     1001   2527
1     1002   1158
2     1003   7432
3     1004   1956
4     1005  14879

In [58]:
df_pop_count = pd.merge(df_pop, df_count, how = 'inner')
df_pop_count.columns = ['addrcode','Population','Counts']
df_pop_count.head()

  addrcode  Population  Counts
0     1001       50708    2527
1     1002       91338    1158
2     1003      166831    7432
3     1004       37675    1956
4     1005      187466   14879

In [59]:
df_image_bangkok = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_bangkok.csv'))
df_image_nst = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_nst.csv'))
df_image_krabi = pd.read_csv(os.path.join('Data','Area and GSV','image_coverage','image_coverage_krabi.csv'))
df_image = pd.concat([df_image_bangkok, df_image_nst, df_image_krabi])
df_image = df_image.drop(['Unnamed: 0','image_area','image_coverage'], axis = 1)
df_image['addrcode'] = df_image['addrcode'].astype(str)
df_image = df_image.groupby(df_image['addrcode'].str[:4]).sum().reset_index()
df_image.head()

  addrcode  land_area
0     1001      49.81
1     1002      53.07
2     1003    2004.40
3     1004      37.26
4     1005     380.54

In [60]:
df_pop_count['Pop Density'] = df_pop_count['Population']/ df_image['land_area']
df_pop_count.head()

  addrcode  Population  Counts  Pop Density
0     1001       50708    2527  1018.028508
1     1002       91338    1158  1721.085359
2     1003      166831    7432    83.232389
3     1004       37675    1956  1011.137950
4     1005      187466   14879   492.631524

In [61]:
df_pop_count.to_csv('Data/Scatter/PopCount.csv', encoding = 'utf-8')

# Mapping Addrcode with new Code

In [30]:
df_addrcode = pd.read_csv(os.path.join('Data','Area and GSV','available_addrcode_subdistrict.csv'))
df_addrcode['addrcode'] = df_addrcode['addrcode'].astype(str)
df_addrcode.head()

  addrcode
0   100101
1   100102
2   100103
3   100104
4   100105

In [31]:
list = []
for i in range(len(df_addrcode)):
    if df_addrcode['addrcode'][i][:2] == '10':
        list.append('A' + df_addrcode['addrcode'][i][2:])
    elif df_addrcode['addrcode'][i][:2] == '80':
        list.append('B' + df_addrcode['addrcode'][i][2:])
    elif df_addrcode['addrcode'][i][:2] == '81':
        list.append('C' + df_addrcode['addrcode'][i][2:])

In [33]:
df_addrcode['code'] = list
df_addrcode.head()

  addrcode   code
0   100101  A0101
1   100102  A0102
2   100103  A0103
3   100104  A0104
4   100105  A0105

In [36]:
df_addrcode.to_csv('Data/Area and GSV/available_newcode_subdistrict.csv', encoding = 'utf-8')