In [3]:
import pandas as pd
import os

# DF Moving Average

## District

## 2 variables

In [7]:
df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','District','DF_10000Population_dist_details.csv'))
df_dengue = df_dengue.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_dengue.head()

   addrcode  Year  WeekNum  DFp10000Pop
0      1001  2014        1     0.000000
1      1001  2014        2     0.197208
2      1001  2014        3     0.000000
3      1001  2014        4     0.000000
4      1001  2014        5     0.394415

In [23]:
movavg = []
movavg.append(df_dengue['DFp10000Pop'][0])

In [24]:
for i in range(len(df_dengue)-1):
    tmp = (df_dengue['DFp10000Pop'][i]+df_dengue['DFp10000Pop'][i+1])/2
    movavg.append(tmp)

In [ ]:
df_dengue['MovAVG'] = movavg

In [28]:
df_dengue.head()

   addrcode  Year  WeekNum  DFp10000Pop    MovAVG
0      1001  2014        1     0.000000  0.000000
1      1001  2014        2     0.197208  0.098604
2      1001  2014        3     0.000000  0.098604
3      1001  2014        4     0.000000  0.000000
4      1001  2014        5     0.394415  0.197208

In [31]:
df_dengue.to_csv('Data/Dengue-cases/Dengue fever data/Manipulated/District/DF_10000Population_dist_movAVG_2.csv', encoding = 'utf-8')

## 3 variables

In [36]:
df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','District','DF_10000Population_dist_details.csv'))
df_dengue = df_dengue.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_dengue.head()

   addrcode  Year  WeekNum  DFp10000Pop
0      1001  2014        1     0.000000
1      1001  2014        2     0.197208
2      1001  2014        3     0.000000
3      1001  2014        4     0.000000
4      1001  2014        5     0.394415

In [37]:
movavg = []
movavg.append(df_dengue['DFp10000Pop'][0])

In [38]:
for i in range(len(df_dengue)-2):
    tmp = (df_dengue['DFp10000Pop'][i]+df_dengue['DFp10000Pop'][i+1]+df_dengue['DFp10000Pop'][i+2])/3
    movavg.append(tmp)

In [40]:
movavg.append(None)

In [41]:
df_dengue['MovAVG'] = movavg

In [43]:
df_dengue.tail()

       addrcode  Year  WeekNum  DFp10000Pop    MovAVG
18635      8108  2018       20     0.525744  0.408912
18636      8108  2018       21     0.000000  0.175248
18637      8108  2018       22     0.000000  0.000000
18638      8108  2018       23     0.000000  0.000000
18639      8108  2018       24     0.000000       NaN

In [44]:
df_dengue.to_csv('Data/Dengue-cases/Dengue fever data/Manipulated/District/DF_10000Population_dist_movAVG_3.csv', encoding = 'utf-8')

## 4 variables

In [55]:
df_dengue = pd.read_csv(os.path.join('Data','Dengue-cases','Dengue fever data','Manipulated','District','DF_10000Population_dist_details.csv'))
df_dengue = df_dengue.drop(['Unnamed: 0','NumberCases','population'], axis = 1)
df_dengue.head()

   addrcode  Year  WeekNum  DFp10000Pop
0      1001  2014        1     0.000000
1      1001  2014        2     0.197208
2      1001  2014        3     0.000000
3      1001  2014        4     0.000000
4      1001  2014        5     0.394415

In [56]:
movavg = []
movavg.append(df_dengue['DFp10000Pop'][0])

In [57]:
for i in range(len(df_dengue)-3):
    tmp = (df_dengue['DFp10000Pop'][i]+df_dengue['DFp10000Pop'][i+1]+df_dengue['DFp10000Pop'][i+2]+df_dengue['DFp10000Pop'][i+3])/4
    movavg.append(tmp)

In [58]:
len(movavg)

18638

In [59]:
movavg.append(None)
movavg.append(None)

In [60]:
df_dengue['MovAVG'] = movavg

In [61]:
df_dengue.tail()

       addrcode  Year  WeekNum  DFp10000Pop    MovAVG
18635      8108  2018       20     0.525744  0.306684
18636      8108  2018       21     0.000000  0.131436
18637      8108  2018       22     0.000000  0.000000
18638      8108  2018       23     0.000000       NaN
18639      8108  2018       24     0.000000       NaN

In [62]:
df_dengue.to_csv('Data/Dengue-cases/Dengue fever data/Manipulated/District/DF_10000Population_dist_movAVG_4.csv', encoding = 'utf-8')